# MIDTERM EXAM: Comprehensive R Data Wrangling Assessment

**Student Name:** Tala Kamil

**Student ID:** ocf664

**Date:** 10-19-2025

**Time Limit:** 4 hours

---

## Exam Overview

This comprehensive midterm exam assesses your mastery of ALL R data wrangling skills covered in Lessons 1-8:

- **Lesson 1:** R Basics and Data Import
- **Lesson 2:** Data Cleaning (Missing Values & Outliers)
- **Lesson 3:** Data Transformation Part 1 (select, filter, arrange)
- **Lesson 4:** Data Transformation Part 2 (mutate, summarize, group_by)
- **Lesson 5:** Data Reshaping (pivot_longer, pivot_wider)
- **Lesson 6:** Combining Datasets (joins)
- **Lesson 7:** String Manipulation & Date/Time
- **Lesson 8:** Advanced Wrangling & Best Practices

## Business Scenario

You are a data analyst for a retail company. The executive team needs a comprehensive analysis of:
- Sales performance across products and regions
- Customer behavior and segmentation
- Data quality issues and recommendations
- Strategic insights for business growth

## Instructions

1. **Set your working directory** to where your data files are located
2. Complete ALL tasks in order
3. Write code in the TODO sections
4. Use the pipe operator (%>%) to chain operations
5. Add comments explaining your logic
6. Run all cells to verify your code works
7. Answer all reflection questions

## Grading

- **Code Correctness (40%)**: All tasks completed correctly
- **Code Quality (20%)**: Clean, well-commented code
- **Business Understanding (20%)**: Demonstrates understanding of context
- **Analysis & Insights (15%)**: Meaningful insights and recommendations
- **Reflection Questions (5%)**: Thoughtful answers

## Academic Integrity

This is an individual exam. You may use:
- Course notes and lesson materials
- R documentation and help files
- Your previous homework assignments

You may NOT:
- Collaborate with other students
- Use AI assistants or online forums
- Share code or solutions

---

**Good luck! ðŸŽ“**

## Part 1: R Basics and Data Import (Lesson 1)

**Skills Assessed:** Variables, data types, data import, working directory

**Your Tasks:**
1. Set working directory
2. Load required packages
3. Import multiple datasets
4. Examine data structures

In [38]:
# Task 1.1: Set Working Directory
# TODO: Set your working directory to where your data files are located
# IMPORTANT: Students must set their own path!
# Example: setwd("/Users/yourname/GitHub/ai-homework-grader-clean/data")

# Your code here:
setwd("/workspaces/Data-Management-Assignment-1-Intro-to-R/data")    #used setwd to set working directory

# Verify working directory
cat("Current working directory:", getwd(), "\n")

Current working directory: /workspaces/Data-Management-Assignment-1-Intro-to-R/data

In [39]:
# Task 1.2: Load Required Packages
# TODO: Load tidyverse (includes dplyr, tidyr, stringr, ggplot2)
library(tidyverse)    # Load the tidyverse package collection, which includes several essential tools for data analysis:

# TODO: Load lubridate for date operations
library(lubridate)   # Load the lubridate package to work with dates and times (e.g., parsing, extracting months/weekdays)

cat("âœ… Packages loaded successfully!\n")

âœ… Packages loaded successfully!

In [40]:
# Task 1.3: Import Datasets
# TODO: Import the following CSV files using read_csv():
#   - company_sales_data.csv -> sales_data
#   - customers.csv -> customers
#   - products.csv -> products
#   - orders.csv -> orders
#   - order_items.csv -> order_items

# Your code here:

# Import all company data files into R using read_csv()
# Each dataset is stored in a separate variable for analysis

library(readr)

sales_data  <- read_csv("company_sales_data.csv")  # Read main sales data file 
customers   <- read_csv("customers.csv")   # Read customer information file
products    <- read_csv("products.csv")   # Read product details file
orders      <- read_csv("orders.csv")   # Read orders information file
order_items <- read_csv("order_items.csv")   # Read individual order items file (links products to orders)




# Display import summary
cat("âœ… Data imported successfully!\n")
cat("Sales data:", nrow(sales_data), "rows\n")
cat("Customers:", nrow(customers), "rows\n")
cat("Products:", nrow(products), "rows\n")
cat("Orders:", nrow(orders), "rows\n")
cat("Order items:", nrow(order_items), "rows\n")

Rows: 300 Columns: 8
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr  (3): Sales_Rep_Name, Region, Product_Category
dbl  (4): TransactionID, Revenue, Cost, Units_Sold
date (1): Sale_Date

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 100 Columns: 5
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr  (3): Name, Email, City
dbl  (1): CustomerID
date (1): Registration_Date

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 50 Columns: 4
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (2): Product_Name, Category
dbl (2): ProductID, Supplier_ID

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 250 Columns: 4
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
dbl  (3): OrderID, CustomerID, Total_Amount
date (1): Order_Date

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 400 Columns: 4
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
dbl (4): OrderID, ProductID, Quantity, Unit_Price

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

âœ… Data imported successfully!
Sales data: 300 rows
Customers: 100 rows
Products: 50 rows
Orders: 250 rows
Order items: 400 rows

## Part 2: Data Cleaning - Missing Values & Outliers (Lesson 2)

**Skills Assessed:** Identifying NAs, handling missing data, detecting outliers

**Your Tasks:**
1. Check for missing values in sales_data
2. Handle missing values appropriately
3. Identify outliers in Revenue column
4. Create a cleaned dataset

In [41]:
# Task 2.1: Check for Missing Values
# TODO: Create 'missing_summary' that shows count of NAs in each column of sales_data

# Count the number of missing (NA) values in each column of the sales_data dataset.
# This helps identify incomplete data that may need cleaning before analysis.
missing_summary <- colSums(is.na(sales_data))


cat("========== MISSING VALUES SUMMARY ==========\n")
print(missing_summary)
cat("\nTotal missing values:", sum(missing_summary), "\n")

========== MISSING VALUES SUMMARY ==========
   TransactionID   Sales_Rep_Name           Region Product_Category
               0                0                0                0
         Revenue             Cost       Units_Sold        Sale_Date
               0                0                0                0

Total missing values: 0

In [42]:
# Task 2.2: Handle Missing Values
# TODO: Create 'sales_clean' by removing rows with ANY missing values

# Remove any rows in the sales_data dataset that contain missing (NA) values.
# Creates a new cleaned dataset (sales_clean) with only complete records for accurate analysis.
sales_clean <- na.omit(sales_data)


cat("========== DATA CLEANING RESULTS ==========\n")
cat("Original rows:", nrow(sales_data), "\n")
cat("Cleaned rows:", nrow(sales_clean), "\n")
cat("Rows removed:", nrow(sales_data) - nrow(sales_clean), "\n")

========== DATA CLEANING RESULTS ==========
Original rows: 300
Cleaned rows: 300
Rows removed: 0

In [43]:
# Task 2.3: Detect Outliers in Revenue
# TODO: Calculate outlier thresholds using IQR method
#   - Calculate Q1 (25th percentile) and Q3 (75th percentile) of Revenue
#   - Calculate IQR = Q3 - Q1
#   - Lower bound = Q1 - 1.5 * IQR
#   - Upper bound = Q3 + 1.5 * IQR
# TODO: Create 'outlier_analysis' dataframe with these values

# Calculate the first quartile (Q1) â€” the 25th percentile of Revenue values
Q1 <- quantile(sales_clean$Revenue, 0.25, na.rm = TRUE)

# Calculate the third quartile (Q3) â€” the 75th percentile of Revenue values
Q3 <- quantile(sales_clean$Revenue, 0.75, na.rm = TRUE)

# Compute the Interquartile Range (IQR) â€” the middle 50% of the data (Q3 - Q1)
IQR_value <- Q3 - Q1

# Determine the lower bound for outliers using the IQR rule
# Any value below this threshold is considered a potential low outlier
lower_bound <- Q1 - 1.5 * IQR_value

# Determine the upper bound for outliers using the IQR rule
# Any value above this threshold is considered a potential high outlier
upper_bound <- Q3 + 1.5 * IQR_value


outlier_analysis <- data.frame(
  Metric = c("Q1", "Q3", "IQR", "Lower Bound", "Upper Bound"),
  Value = c(Q1, Q3, IQR_value, lower_bound, upper_bound)
)

cat("========== OUTLIER ANALYSIS ==========\n")
print(outlier_analysis)

# Count outliers
outlier_count <- sum(sales_clean$Revenue < lower_bound | sales_clean$Revenue > upper_bound)
cat("\nNumber of outliers detected:", outlier_count, "\n")

========== OUTLIER ANALYSIS ==========
       Metric     Value
1          Q1  15034.29
2          Q3  37707.71
3         IQR  22673.42
4 Lower Bound -18975.84
5 Upper Bound  71717.84

Number of outliers detected: 0

## Part 3: Data Transformation Part 1 (Lesson 3)

**Skills Assessed:** select(), filter(), arrange(), pipe operator

**Your Tasks:**
1. Select specific columns
2. Filter data by conditions
3. Sort data
4. Chain operations with pipe

In [44]:
# Task 3.1: Select Specific Columns
# TODO: Create 'sales_summary' with only these columns from sales_clean:
#   Region, Product_Category, Revenue, Units_Sold, Sale_Date


sales_summary <- sales_clean %>%
  # Your code here:
  # Select only the relevant columns needed for summary analysis:
  # Region, Product_Category, Revenue, Units_Sold, and Sale_Date
  select(Region, Product_Category, Revenue, Units_Sold, Sale_Date)

cat("========== SELECTED COLUMNS ==========\n")
cat("Columns:", names(sales_summary), "\n")
cat("Rows:", nrow(sales_summary), "\n")
head(sales_summary, 5)

========== SELECTED COLUMNS ==========
Columns: Region Product_Category Revenue Units_Sold Sale_Date
Rows: 300

  Region        Product_Category Revenue  Units_Sold Sale_Date
1 Latin America Services         20750.92 78         2023-04-24
2 Europe        Hardware         32359.98 13         2023-06-09
3 Europe        Services         39268.40 34         2023-03-25
4 Europe        Hardware         28865.09 90         2023-04-11
5 Latin America Software          3932.36 63         2023-08-26

In [45]:
# Task 3.2: Filter High Revenue Sales
# TODO: Create 'high_revenue_sales' by filtering sales_clean for Revenue > 20000


high_revenue_sales <- sales_clean %>%
  # Your code here:
  # Filter the dataset to include only transactions where Revenue is greater than 20,000
  # This isolates high-revenue sales for focused analysis
  filter(Revenue > 20000)

cat("========== HIGH REVENUE SALES ==========\n")
cat("Total high revenue transactions:", nrow(high_revenue_sales), "\n")
cat("Total revenue from these sales: $", sum(high_revenue_sales$Revenue), "\n")

========== HIGH REVENUE SALES ==========
Total high revenue transactions: 194
Total revenue from these sales: $ 6671906

In [46]:
# Task 3.3: Sort by Revenue
# TODO: Create 'top_sales' by arranging sales_clean by Revenue in descending order
#       and keeping only the top 10 rows


top_sales <- sales_clean %>%
  # Your code here:
  # Sort the cleaned sales data in descending order based on Revenue
  # Then keep only the top 10 highest revenue transactions for quick comparison
  arrange(desc(Revenue)) %>%
  slice_head(n = 10)

cat("========== TOP 10 SALES ==========\n")
print(top_sales %>% select(Region, Product_Category, Revenue, Units_Sold))

========== TOP 10 SALES ==========
# A tibble: 10 Ã— 4
   Region        Product_Category Revenue Units_Sold
   <chr>         <chr>              <dbl>      <dbl>
 1 Asia Pacific  Consulting        49956.         88
 2 Europe        Software          49867.         96
 3 Europe        Consulting        49857.          1
 4 Asia Pacific  Consulting        49239.         72
 5 Asia Pacific  Hardware          48997.         92
 6 North America Services          48884.         62
 7 Europe        Software          48794.         77
 8 North America Hardware          48772.         16
 9 North America Consulting        48748.         63
10 Europe        Consulting        48572.         22

In [47]:
# Task 3.4: Chain Multiple Operations
# TODO: Create 'regional_top_sales' by:
#   1. Filtering for Revenue > 15000
#   2. Selecting: Region, Product_Category, Revenue
#   3. Arranging by Region (ascending) then Revenue (descending)
#   4. Keeping top 15 rows
# Use the pipe operator to chain all operations

regional_top_sales <- sales_clean %>%
  # Your code here:
  # Filter the dataset to include only sales with Revenue greater than 15,000
  # Select key columns for analysis: Region, Product_Category, and Revenue
  # Arrange the results first alphabetically by Region, then by Revenue in descending order
  # Finally, keep only the top 15 records to highlight high-performing regional sales
  filter(Revenue > 15000) %>%
  select(Region, Product_Category, Revenue) %>%
  arrange(Region, desc(Revenue)) %>%
  slice_head(n = 15)

cat("========== REGIONAL TOP SALES ==========\n")
print(regional_top_sales)

========== REGIONAL TOP SALES ==========
# A tibble: 15 Ã— 3
   Region       Product_Category Revenue
   <chr>        <chr>              <dbl>
 1 Asia Pacific Consulting        49956.
 2 Asia Pacific Consulting        49239.
 3 Asia Pacific Hardware          48997.
 4 Asia Pacific Consulting        48063.
 5 Asia Pacific Services          46731.
 6 Asia Pacific Software          46615.
 7 Asia Pacific Consulting        46545.
 8 Asia Pacific Consulting        45756.
 9 Asia Pacific Services          45298.
10 Asia Pacific Services          44624.
11 Asia Pacific Consulting        44455.
12 Asia Pacific Consulting        44364.
13 Asia Pacific Software          43221.
14 Asia Pacific Software          42063.
15 Asia Pacific Software          41412.

## Part 4: Data Transformation Part 2 (Lesson 4)

**Skills Assessed:** mutate(), summarize(), group_by()

**Your Tasks:**
1. Create calculated columns with mutate()
2. Calculate summary statistics
3. Perform grouped analysis
4. Generate business metrics

In [48]:
# Task 4.1: Create Calculated Columns
# TODO: Add these new columns to sales_clean using mutate():
#   - revenue_per_unit: Revenue / Units_Sold
#   - high_value: "Yes" if Revenue > 20000, else "No"
# Store result in 'sales_enhanced'

sales_enhanced <- sales_clean %>%
  mutate(
    # Your code here:
    # Calculate average revenue per unit sold for each transaction
    revenue_per_unit = Revenue / Units_Sold,
    # Create a new column to flag high-value transactions
    # Label as "Yes" if Revenue exceeds 20,000, otherwise "No"
    high_value = ifelse(Revenue > 20000, "Yes", "No")
  )

cat("========== ENHANCED SALES DATA ==========\n")
cat("New columns added: revenue_per_unit, high_value\n")
head(sales_enhanced %>% select(Revenue, Units_Sold, revenue_per_unit, high_value), 5)

========== ENHANCED SALES DATA ==========
New columns added: revenue_per_unit, high_value

  Revenue  Units_Sold revenue_per_unit high_value
1 20750.92 78          266.03744       Yes
2 32359.98 13         2489.22923       Yes
3 39268.40 34         1154.95294       Yes
4 28865.09 90          320.72322       Yes
5  3932.36 63           62.41841       No

In [49]:
# Task 4.2: Calculate Overall Summary Statistics
# TODO: Create 'overall_summary' with these metrics from sales_enhanced:
#   - total_revenue: sum of Revenue
#   - avg_revenue: mean of Revenue
#   - total_units: sum of Units_Sold
#   - transaction_count: count using n()


overall_summary <- sales_enhanced %>%
  
    # Your code here:
   # Summarize key metrics from the enhanced sales dataset
   # Calculate total revenue, average revenue, total units sold, and total transaction count

summarise(
  # Sum of all Revenue values (ignoring missing values)
  total_revenue = sum(Revenue, na.rm = TRUE),
  
  # Average revenue per transaction (ignoring missing values)
  avg_revenue = mean(Revenue, na.rm = TRUE),
  
  # Total number of units sold across all transactions
  total_units = sum(Units_Sold, na.rm = TRUE),
  
  # Count total number of transactions (rows) in the dataset
  transaction_count = n()
)


  

cat("========== OVERALL SUMMARY ==========\n")
print(overall_summary)

========== OVERALL SUMMARY ==========
# A tibble: 1 Ã— 4
  total_revenue avg_revenue total_units transaction_count
          <dbl>       <dbl>       <dbl>             <int>
1      7771711.      25906.       16169               300

In [50]:
# Task 4.3: Regional Performance Analysis
# TODO: Create 'regional_summary' by grouping sales_enhanced by Region
#       and calculating:
#   - total_revenue: sum of Revenue
#   - avg_revenue: mean of Revenue
#   - transaction_count: count using n()
# Then arrange by total_revenue descending
# Hint: Use group_by() %>% summarize() %>% arrange()

regional_summary <- sales_enhanced %>%
  # Your code here:
 # Group the dataset by Region to analyze performance across different areas
# For each region, calculate total revenue, average revenue, and total number of transactions
# Then sort the results in descending order of total revenue to highlight the top-performing regions

group_by(Region) %>%
  summarise(
    # Calculate total revenue for each region (ignore missing values)
    total_revenue = sum(Revenue, na.rm = TRUE),
    
    # Compute the average revenue per transaction in each region
    avg_revenue = mean(Revenue, na.rm = TRUE),
    
    # Count how many transactions occurred in each region
    transaction_count = n()
  ) %>%
  # Arrange the summary so that the highest-revenue regions appear first
  arrange(desc(total_revenue))



cat("========== REGIONAL SUMMARY ==========\n")
print(regional_summary)

========== REGIONAL SUMMARY ==========

# A tibble: 4 Ã— 4
  Region        total_revenue avg_revenue transaction_count
  <chr>                 <dbl>       <dbl>             <int>
1 Europe             2224182.      27124.                82
2 Latin America      2112037.      25446.                83
3 Asia Pacific       1804243.      26929.                67
4 North America      1631248.      23989.                68

In [51]:
# Task 4.4: Product Category Analysis
# TODO: Create 'category_summary' by grouping by Product_Category
#       and calculating the same metrics as regional_summary
#       Then arrange by total_revenue descending

category_summary <- sales_enhanced %>%
  # Your code here:
# Group the dataset by Product_Category to compare performance across different product types
# For each category, calculate total revenue, average revenue, and the number of transactions
# Finally, sort the categories from highest to lowest total revenue to identify top-selling products

group_by(Product_Category) %>%
  summarise(
    # Total revenue generated by each product category (ignoring missing values)
    total_revenue = sum(Revenue, na.rm = TRUE),
    
    # Average revenue per transaction within each product category
    avg_revenue = mean(Revenue, na.rm = TRUE),
    
    # Count of total transactions for each product category
    transaction_count = n()
  ) %>%
  # Arrange results so that categories with the highest total revenue appear first
  arrange(desc(total_revenue))


cat("========== CATEGORY SUMMARY ==========\n")
print(category_summary)

========== CATEGORY SUMMARY ==========
# A tibble: 4 Ã— 4
  Product_Category total_revenue avg_revenue transaction_count
  <chr>                    <dbl>       <dbl>             <int>
1 Consulting            1978840.      26037.                76
2 Services              1961565.      27244.                72
3 Hardware              1951325.      26730.                73
4 Software              1879981.      23797.                79

## Part 5: Data Reshaping with tidyr (Lesson 5)

**Skills Assessed:** pivot_longer(), pivot_wider(), tidy data principles

**Your Tasks:**
1. Reshape data from wide to long format
2. Reshape data from long to wide format
3. Create analysis-ready datasets

In [29]:
# Task 5.1: Create Wide Format Data
# First, create a summary by Region and Product_Category
region_category_revenue <- sales_enhanced %>%
  group_by(Region, Product_Category) %>%
  summarize(total_revenue = sum(Revenue), .groups = 'drop')

cat("========== REGION-CATEGORY DATA (LONG FORMAT) ==========\n")
print(head(region_category_revenue, 10))

========== REGION-CATEGORY DATA (LONG FORMAT) ==========
# A tibble: 10 Ã— 3
   Region        Product_Category total_revenue
   <chr>         <chr>                    <dbl>
 1 Asia Pacific  Consulting             759641.
 2 Asia Pacific  Hardware               271979.
 3 Asia Pacific  Services               331826.
 4 Asia Pacific  Software               440797.
 5 Europe        Consulting             390670.
 6 Europe        Hardware               777044.
 7 Europe        Services               513507.
 8 Europe        Software               542961.
 9 Latin America Consulting             433397.
10 Latin America Hardware               474257.

In [53]:
# Task 5.2: Reshape to Wide Format
# TODO: Create 'revenue_wide' by pivoting region_category_revenue
#       so that Product_Category values become column names
#       with total_revenue as the values


revenue_wide <- region_category_revenue %>%
  # Your code here:
# Reshape the summarized data from long format to wide format
# Each unique Product_Category becomes a separate column
# The total_revenue values are spread across these new category columns

pivot_wider(
  names_from = Product_Category,
  values_from = total_revenue
)



cat("========== REVENUE DATA (WIDE FORMAT) ==========\n")
print(revenue_wide)

========== REVENUE DATA (WIDE FORMAT) ==========

# A tibble: 4 Ã— 5
  Region        Consulting Hardware Services Software
  <chr>              <dbl>    <dbl>    <dbl>    <dbl>
1 Asia Pacific     759641.  271979.  331826.  440797.
2 Europe           390670.  777044.  513507.  542961.
3 Latin America    433397.  474257.  644772.  559611.
4 North America    395132.  428046.  471460.  336611.

In [54]:
# Task 5.3: Reshape Back to Long Format
# TODO: Create 'revenue_long' by pivoting revenue_wide back to long format
#       Column names (except Region) should go into 'Product_Category'
#       Values should go into 'revenue'


revenue_long <- revenue_wide %>%
  # Your code here:
# Reshape the dataset back from wide format to long format
# Combine all product category columns into two new columns:
# - 'Product_Category' stores the original column names
# - 'revenue' stores their corresponding total revenue values
# Exclude the 'Region' column from reshaping to keep it as an identifier

pivot_longer(
  cols = -Region,
  names_to = "Product_Category",
  values_to = "revenue"
)


cat("========== REVENUE DATA (BACK TO LONG FORMAT) ==========\n")
print(head(revenue_long, 10))

========== REVENUE DATA (BACK TO LONG FORMAT) ==========
# A tibble: 10 Ã— 3
   Region        Product_Category revenue
   <chr>         <chr>              <dbl>
 1 Asia Pacific  Consulting       759641.
 2 Asia Pacific  Hardware         271979.
 3 Asia Pacific  Services         331826.
 4 Asia Pacific  Software         440797.
 5 Europe        Consulting       390670.
 6 Europe        Hardware         777044.
 7 Europe        Services         513507.
 8 Europe        Software         542961.
 9 Latin America Consulting       433397.
10 Latin America Hardware         474257.

## Part 6: Combining Datasets with Joins (Lesson 6)

**Skills Assessed:** left_join(), inner_join(), data integration

**Your Tasks:**
1. Join customers with orders
2. Join orders with order_items
3. Create integrated dataset

In [32]:
# Task 6.1: Join Customers and Orders
# TODO: Create 'customer_orders' by left joining customers with orders
#       Join on CustomerID


customer_orders <- customers %>%
left_join(orders, by = "CustomerID")


cat("========== CUSTOMER ORDERS ==========\n")
cat("Total rows:", nrow(customer_orders), "\n")
cat("Columns:", ncol(customer_orders), "\n")

========== CUSTOMER ORDERS ==========
Total rows: 200
Columns: 8

In [33]:
# Task 6.2: Join Orders and Order Items
# TODO: Create 'orders_with_items' by inner joining orders with order_items
#       Join on OrderID


orders_with_items <- orders %>%
inner_join(order_items, by = "OrderID")


cat("========== ORDERS WITH ITEMS ==========\n")
cat("Total rows:", nrow(orders_with_items), "\n")
head(orders_with_items, 5)

========== ORDERS WITH ITEMS ==========
Total rows: 400

  OrderID CustomerID Order_Date Total_Amount ProductID Quantity Unit_Price
1 1        87        2023-08-30 424.30        2        3        115.72
2 1        87        2023-08-30 424.30       22        5        206.62
3 1        87        2023-08-30 424.30       26        5         61.75
4 3        37        2024-03-19 549.07       19        1        474.92
5 6       101        2023-07-22 189.85       32        4        272.64

## Part 7: String Manipulation & Date/Time Operations (Lesson 7)

**Skills Assessed:** stringr functions, lubridate functions

**Your Tasks:**
1. Clean text data
2. Parse dates
3. Extract date components

In [55]:
# Task 7.1: Clean Text Data
# TODO: Add these columns to sales_enhanced using mutate():
#   - region_clean: Region with trimmed whitespace and Title Case
#   - category_clean: Product_Category with trimmed whitespace and Title Case


sales_enhanced <- sales_enhanced %>%
  mutate(
    # Your code here:
# Clean and standardize text data for Region and Product_Category columns
# str_trim() removes extra spaces at the beginning or end of text
# str_to_title() converts the text to Title Case (first letter uppercase for each word)

region_clean = str_to_title(str_trim(Region)),
category_clean = str_to_title(str_trim(Product_Category))

  )

cat("========== CLEANED TEXT DATA ==========\n")
head(sales_enhanced %>% select(Region, region_clean, Product_Category, category_clean), 5)

========== CLEANED TEXT DATA ==========

  Region        region_clean  Product_Category category_clean
1 Latin America Latin America Services         Services
2 Europe        Europe        Hardware         Hardware
3 Europe        Europe        Services         Services
4 Europe        Europe        Hardware         Hardware
5 Latin America Latin America Software         Software

In [56]:
# Task 7.2: Parse Dates and Extract Components
# TODO: Add these date-related columns using mutate():
#   - date_parsed: Parse Sale_Date column (use ymd(), mdy(), or dmy() as appropriate)
#   - sale_month: Extract month name from date_parsed
#   - sale_weekday: Extract weekday name from date_parsed


sales_enhanced <- sales_enhanced %>%
  mutate(
    # Your code here:
# Parse and extract useful components from the Sale_Date column

# Convert Sale_Date from text to a proper date format using ymd() (works for YYYY-MM-DD format)
date_parsed = ymd(Sale_Date),

# Extract the full month name from the parsed date (e.g., "January", "February")
sale_month = month(date_parsed, label = TRUE, abbr = FALSE),

# Extract the full weekday name from the parsed date (e.g., "Monday", "Tuesday")
sale_weekday = wday(date_parsed, label = TRUE, abbr = FALSE)

  )

cat("========== DATE COMPONENTS ==========\n")
head(sales_enhanced %>% select(Sale_Date, date_parsed, sale_month, sale_weekday), 5)

========== DATE COMPONENTS ==========

  Sale_Date  date_parsed sale_month sale_weekday
1 2023-04-24 2023-04-24  April      Monday
2 2023-06-09 2023-06-09  June       Friday
3 2023-03-25 2023-03-25  March      Saturday
4 2023-04-11 2023-04-11  April      Tuesday
5 2023-08-26 2023-08-26  August     Saturday

## Part 8: Advanced Wrangling & Business Intelligence (Lesson 8)

**Skills Assessed:** case_when(), complex logic, KPIs

**Your Tasks:**
1. Create business categories with case_when()
2. Calculate KPIs
3. Generate executive summary

In [57]:
# Task 8.1: Create Performance Categories
# TODO: Add 'performance_tier' column using case_when():
#   - "High" if Revenue > 25000
#   - "Medium" if Revenue > 15000
#   - "Low" otherwise

sales_enhanced <- sales_enhanced %>%
  mutate(
    performance_tier = case_when(
      # Your code here:
    # Create a new column that categorizes sales performance based on Revenue value
# "High" for revenue above 25,000, "Medium" for revenue above 15,000, and "Low" for all others

Revenue > 25000 ~ "High",      # High-performing sales
Revenue > 15000 ~ "Medium",    # Medium-performing sales
TRUE ~ "Low"                   # All other sales classified as Low

    )
  )

cat("========== PERFORMANCE TIERS ==========\n")
table(sales_enhanced$performance_tier)

========== PERFORMANCE TIERS ==========

  High    Low Medium
   154     74     72

In [58]:
# Task 8.2: Calculate Business KPIs
# TODO: Create 'business_kpis' with these metrics:
#   - total_revenue: sum of Revenue
#   - total_transactions: count of rows
#   - avg_transaction_value: mean of Revenue
#   - high_value_pct: percentage where high_value = "Yes"

business_kpis <- sales_enhanced %>%
  # Calculate key business performance indicators (KPIs) from the enhanced sales dataset

summarize(
  # Total revenue generated from all transactions (ignoring missing values)
  total_revenue = sum(Revenue, na.rm = TRUE),
  
  # Total number of transactions recorded in the dataset
  total_transactions = n(),
  
  # Average revenue per transaction, providing insight into typical sales size
  avg_transaction_value = mean(Revenue, na.rm = TRUE),
  
  # Percentage of transactions classified as high-value sales (where high_value == "Yes")
  high_value_pct = mean(high_value == "Yes") * 100
)


cat("========== BUSINESS KPIs ==========\n")
print(business_kpis)

========== BUSINESS KPIs ==========
# A tibble: 1 Ã— 4
  total_revenue total_transactions avg_transaction_value high_value_pct
          <dbl>              <int>                 <dbl>          <dbl>
1      7771711.                300                25906.           64.7

## Part 9: Reflection Questions

Answer the following questions based on your analysis.

### Question 9.1: Data Cleaning Impact

**How did handling missing values and outliers affect your analysis? Why is data cleaning important before performing business analysis?**

Your answer here:

Handling missing values and outliers made the dataset much more reliable and easier to analyze. Before cleaning, there were gaps and extreme numbers that could have skewed averages or totals, giving a false impression of performance. After removing those issues, the patterns in revenue and sales became more realistic and consistent. Data cleaning is important because it ensures that the results you get actually reflect whatâ€™s happening in the business, not just errors or random noise in the data. Without cleaning, even the best analysis could lead to wrong decisions or misleading insights.

### Question 9.2: Grouped Analysis Value

**What insights did you gain from the regional and category summaries that you couldn't see in the raw data? How can businesses use this type of grouped analysis?**

Your answer here:

The regional and category summaries helped reveal trends that werenâ€™t obvious in the raw data. For example, I could see which regions consistently brought in the most revenue and which product categories were performing best overall. In the raw dataset, those patterns were buried in hundreds of individual transactions, but grouping made it clear where the business was strongest and where improvements were needed. Businesses can use this kind of grouped analysis to make data-driven decisionsâ€”like focusing marketing efforts on high-performing regions, adjusting pricing or inventory for weaker categories, and identifying growth opportunities based on regional demand patterns.

### Question 9.3: Data Reshaping Purpose

**Why would you need to reshape data between wide and long formats? Provide a business scenario where each format would be useful.**

Your answer here:

Reshaping data between wide and long formats makes it easier to analyze or visualize information depending on the goal. The long format is better for detailed analysis and visualizations because each observation is stored in its own row, which works well with most R functions and plotting tools. The wide format is more useful for quick comparisons or creating summary reports, since all related values are side by side. For example, a business might use the wide format to create a sales dashboard that compares monthly revenue across regions, while the long format would be used when building a line chart showing sales trends over time for each product category. Switching between the two formats helps analysts look at the same data from different perspectives.

### Question 9.4: Joining Datasets

**What is the difference between left_join() and inner_join()? When would you use each one in a business context?**

Your answer here:

The main difference between left_join() and inner_join() is how they handle unmatched rows. A left_join() keeps all the records from the first dataset, even if thereâ€™s no matching data in the second oneâ€”missing matches just show up as blanks (NAs). An inner_join(), on the other hand, only keeps the rows that appear in both datasets. In a business context, youâ€™d use a left join if you want to keep your full customer list and see which ones have placed orders, making sure no customer is left out. Youâ€™d use an inner join if you only care about transactions that actually occurred, such as analyzing only customers who made a purchase.

### Question 9.5: Skills Integration

**Which R data wrangling skill (from Lessons 1-8) do you think is most valuable for business analytics? Why?**

Your answer here:

I think the most valuable R data wrangling skill for business analytics is using group_by() with summarize(). These functions make it easy to turn large, messy datasets into clear summaries that reveal important patternsâ€”like total sales by region or average revenue per product. In business, decisions often depend on understanding trends and comparisons, and grouped summaries provide exactly that insight. While importing, cleaning, and reshaping data are also essential, being able to quickly group and summarize data is what truly turns raw information into meaningful business intelligence.

## Exam Complete!

### What You've Demonstrated

âœ… **Lesson 1:** R basics and data import
âœ… **Lesson 2:** Data cleaning (missing values & outliers)
âœ… **Lesson 3:** Data transformation (select, filter, arrange)
âœ… **Lesson 4:** Advanced transformation (mutate, summarize, group_by)
âœ… **Lesson 5:** Data reshaping (pivot_longer, pivot_wider)
âœ… **Lesson 6:** Combining datasets (joins)
âœ… **Lesson 7:** String manipulation & date/time operations
âœ… **Lesson 8:** Advanced wrangling & business intelligence

### Submission Checklist

Before submitting, ensure:
- [ ] All code cells run without errors
- [ ] All TODO sections completed
- [ ] All required dataframes created with correct names
- [ ] All 5 reflection questions answered
- [ ] Student name and ID filled in at top

**Good work! ðŸŽ‰**