# Homework Assignment - Lesson 1: Introduction to R

**Student Name:** Alejandro De Santiago Palomares Salinas  
**Date:** 09/11/2025  
**Course:** Data Management  

---

## Instructions

Complete all the tasks below by adding your R code in the code cells and your written responses in markdown cells. Make sure to run all cells to show your output.

**ðŸ“‹ SUBMISSION**: When you're done, see [GITHUB_CLASSROOM_SUBMISSION.md](../../GITHUB_CLASSROOM_SUBMISSION.md) for complete submission instructions.

---

## Part 1: Setting Up Your Environment and Importing Data

### 1.1 Working Directory

Check your current working directory using `getwd()`. You should be in the main repository folder.

In [9]:
# Check current working directory
getwd()

[1] "/workspaces/assignment-1-version-3-Aledesan-utsa/data"

### 1.2 Package Loading

Load the required packages: `tidyverse` and `readxl`

In [10]:
# Load required packages
library(tidyverse)
library(readxl)

### 1.3 Data Import - CSV

Import the `sales_data.csv` file from the `data/` folder into a data frame named `sales_df`.

In [16]:

setwd("/workspaces/assignment-1-version-3-Aledesan-utsa/data")
getwd()   
sales_df <- read.csv("sales_data.csv")
print("Sales data imported successfully!")

[1] "/workspaces/assignment-1-version-3-Aledesan-utsa/data"

[1] "Sales data imported successfully!"

### 1.4 Data Import - Excel

Import both sheets from the `customer_feedback.xlsx` file.

In [17]:
# Import ratings data from Excel
ratings_df <- read_excel("customer_feedback.xlsx", sheet = "ratings")

# Import comments data from Excel  
comments_df <- read_excel("customer_feedback.xlsx", sheet = "customer_feedback")

print("Excel data imported successfully!")

[1] "Excel data imported successfully!"

---

## Part 2: Basic Data Inspection

For each of the three data frames you imported, perform the following inspection tasks. Add both your R code and a brief interpretation of what you observe.

### 2.1 Sales Data Inspection

In [25]:
# First 10 rows of sales data
print("First 10 rows of sales_df:")
head(sales_df, 10)

[1] "First 10 rows of sales_df:"

   TransactionID Date       Product  Amount  Quantity Region
1   1            2023-01-27 Keyboard 1039.05 1        South
2   2            2023-05-18 Tablet    597.55 5        East
3   3            2023-02-14 Keyboard 1539.48 1        West
4   4            2023-07-28 Mouse     261.66 1        South
5   5            2023-05-17 Monitor  1047.73 1        South
6   6            2023-02-25 Keyboard 1824.05 2        East
7   7            2023-01-20 Monitor   475.83 1        North
8   8            2023-07-14 Mouse     758.05 5        North
9   9            2023-10-02 Mouse    1717.20 4        South
10 10            2023-10-15 Laptop   1437.21 3        North

In [26]:
# Structure of sales data
print("Structure of sales_df:")
str(sales_df)

[1] "Structure of sales_df:"
'data.frame':	100 obs. of  6 variables:
 $ TransactionID: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Date         : chr  "2023-01-27" "2023-05-18" "2023-02-14" "2023-07-28" ...
 $ Product      : chr  "Keyboard" "Tablet" "Keyboard" "Mouse" ...
 $ Amount       : num  1039 598 1539 262 1048 ...
 $ Quantity     : int  1 5 1 1 1 2 1 5 4 3 ...
 $ Region       : chr  "South" "East" "West" "South" ...

In [27]:
# Summary statistics for sales data
print("Summary statistics for sales_df:")
summary(sales_df)

[1] "Summary statistics for sales_df:"

 TransactionID        Date             Product              Amount
 Min.   :  1.00   Length:100         Length:100         Min.   :  58.06
 1st Qu.: 25.75   Class :character   Class :character   1st Qu.: 520.79
 Median : 50.50   Mode  :character   Mode  :character   Median : 960.75
 Mean   : 50.50                                         Mean   : 962.71
 3rd Qu.: 75.25                                         3rd Qu.:1384.63
 Max.   :100.00                                         Max.   :1985.60
    Quantity       Region
 Min.   :1.00   Length:100
 1st Qu.:1.00   Class :character
 Median :3.00   Mode  :character
 Mean   :2.69
 3rd Qu.:4.00
 Max.   :5.00

Your observations about sales_df

I noticed that for this data set there is no missing values, however I found it
pretty interesting how it identifies all of the variables used to categorize
the products. performance #(Product ID, Product Name,)
I also noticed that all of the products have relatively similar quantities sold, which may suggest that customers are buying products together to complement each other #ex. buying a mouse and keyboard together.
I noticed that the data types for each column are appropriate for their
content, which is good for analysis and to get further insights from.

### 2.2 Ratings Data Inspection

In [28]:
# TODO: Add your code here for ratings_df inspection
# - First 10 rows
print("First 10 rows of ratings_df:")
head(ratings_df, 10)
# - Structure 
print("Structure of ratings_df:")
str(ratings_df)
# - Summary statistics
print("Summary statistics for ratings_df:")
summary(ratings_df)

[1] "First 10 rows of ratings_df:"

   CustomerID ProductRating ServiceRating OverallSatisfaction
1   1         1             4             3
2   2         3             2             4
3   3         1             5             5
4   4         1             2             3
5   5         5             1             2
6   6         4             2             2
7   7         3             5             5
8   8         5             2             5
9   9         4             1             3
10 10         4             1             2
   RecommendationScore
1   2
2   7
3   1
4   6
5   2
6   6
7   5
8  10
9   6
10  0

[1] "Structure of ratings_df:"
tibble [50 Ã— 5] (S3: tbl_df/tbl/data.frame)
 $ CustomerID         : num [1:50] 1 2 3 4 5 6 7 8 9 10 ...
 $ ProductRating      : num [1:50] 1 3 1 1 5 4 3 5 4 4 ...
 $ ServiceRating      : num [1:50] 4 2 5 2 1 2 5 2 1 1 ...
 $ OverallSatisfaction: num [1:50] 3 4 5 3 2 2 5 5 3 2 ...
 $ RecommendationScore: num [1:50] 2 7 1 6 2 6 5 10 6 0 ...
[1] "Summary statistics for ratings_df:"

   CustomerID    ProductRating ServiceRating  OverallSatisfaction
 Min.   : 1.00   Min.   :1.0   Min.   :1.00   Min.   :1.00
 1st Qu.:13.25   1st Qu.:2.0   1st Qu.:1.00   1st Qu.:2.00
 Median :25.50   Median :3.0   Median :3.00   Median :3.00
 Mean   :25.50   Mean   :3.2   Mean   :2.94   Mean   :2.92
 3rd Qu.:37.75   3rd Qu.:5.0   3rd Qu.:5.00   3rd Qu.:4.00
 Max.   :50.00   Max.   :5.0   Max.   :5.00   Max.   :5.00
 RecommendationScore
 Min.   : 0.0
 1st Qu.: 1.0
 Median : 4.5
 Mean   : 4.2
 3rd Qu.: 7.0
 Max.   :10.0

**Your observations about ratings_df:**

For the ratings of each product, I would like it to be more detailed and tell me what products are being rated. I also noticed that there are no missing values in this data set, which is good for analysis since we aren't going to have to take any mean or mode approach to solve those null values. Based on the summary, we can see hat the mean rating for service recommendation is 4.2, which indicates that overall, customers are not satisfied with the service product, which suggest that there could be improvements done to enhance customer satisfaction.

### 2.3 Comments Data Inspection

In [29]:
# TODO: Add your code here for comments_df inspection
# - First 10 rows
print("First 10 rows of comments_df:")
head(comments_df, 10)
# - Structure 
print("Structure of comments_df:")
str(comments_df)
# - Summary statistics
print("Summary statistics for comments_df:")
summary(comments_df)

[1] "First 10 rows of comments_df:"

   FeedbackID CustomerID Feedback_Text
1   1         12         Highly recommend this item
2   2         40         Excellent service
3   3         34         Poor quality control
4   4          1         average product, nothing special
5   5         47         AMAZING customer support!!!
6   6         13         AMAZING customer support!!!
7   7         13         average product, nothing special
8   8         37         good VALUE for money
9   9         49         Highly recommend this item
10 10         23         Highly recommend this item
   Contact_Info           Feedback_Date
1  bob.wilson@test.org    2024-02-23
2  555-123-4567           2024-01-21
3  jane_smith@company.com 2023-09-02
4  jane_smith@company.com 2023-08-21
5  555-123-4567           2023-04-24
6  john.doe@email.com     2023-04-16
7  (555) 987-6543         2024-03-13
8  (555) 987-6543         2023-07-15
9  invalid-email          2023-03-03
10 john.doe@email.com     2023-10-18

[1] "Structure of comments_df:"
tibble [100 Ã— 5] (S3: tbl_df/tbl/data.frame)
 $ FeedbackID   : num [1:100] 1 2 3 4 5 6 7 8 9 10 ...
 $ CustomerID   : num [1:100] 12 40 34 1 47 13 13 37 49 23 ...
 $ Feedback_Text: chr [1:100] "Highly recommend this item" "Excellent service" "Poor quality control" "average product, nothing special" ...
 $ Contact_Info : chr [1:100] "bob.wilson@test.org" "555-123-4567" "jane_smith@company.com" "jane_smith@company.com" ...
 $ Feedback_Date: POSIXct[1:100], format: "2024-02-23" "2024-01-21" ...
[1] "Summary statistics for comments_df:"

   FeedbackID       CustomerID    Feedback_Text      Contact_Info
 Min.   :  1.00   Min.   : 1.00   Length:100         Length:100
 1st Qu.: 25.75   1st Qu.:15.00   Class :character   Class :character
 Median : 50.50   Median :26.00   Mode  :character   Mode  :character
 Mean   : 50.50   Mean   :26.27
 3rd Qu.: 75.25   3rd Qu.:38.00
 Max.   :100.00   Max.   :50.00
 Feedback_Date
 Min.   :2023-01-03 00:00:00
 1st Qu.:2023-04-23 18:00:00
 Median :2023-08-24 12:00:00
 Mean   :2023-08-22 07:26:24
 3rd Qu.:2023-12-07 06:00:00
 Max.   :2024-03-30 00:00:00

**Your observations about comments_df:**

I noticed that for the comments data, the summary and structure commands do not really serve a purpose since we are analyzing reviews and comments, so we clearly cannot get mean and median values from text. However, I find it interesting to compare the ratings and comments since the ratings give us a quantitative measure of customer satisfaction, while the comments provide qualitative insights into their experiences and opinions. This combination can help identify specific areas for improvement and understand customer sentiment better. This leads to what was mentioned in the ratings section, where we can see that the mean rating for service recommendation is 4.2, which indicates that overall, customers are not satisfied with the service product, which suggest that there could be improvements done to enhance customer satisfaction, and by comparing these to the comments, we can see what exactly needs to be improved.

**Reflection Question 1:** What did you observe about the structure and content of the data files you loaded? What insights can you share about the quality and organization of the data?

**Your Answer:**

As I mentioned in the comments section, I noticed that the comments data set does not really serve a purpose when it comes to structure and summary since we are analyzing text. However, I did find it interesting how the ratings and comments can be compared to get a better understanding of customer satisfaction. I believe that the quality of the data is great since there was no missing values which serves us greatly when it comes to creating good analysis and getting good insights from the data.

### Question 1: Data Types Analysis

Based on your inspection of `sales_df`, what are the data types of the `Date` and `Amount` columns? Are these data types appropriate for typical business analytics tasks involving sales data? Explain why or why not.

**Your Answer:**

I believe that they are appropriate since the date is in the appropriate format, allowing us to analyze the sales trends per period/date. The amount column is also appropriate since it allows us to perfrom analysis over the total sales and revenue generated per item. they are appropriate for typical business analysis since they can help us get insights on sales trends like when and what time of the year certain things sell more and revenue generated per item, allowing us to know which are our best and worst selling products.

### Question 2: Data Quality Assessment

Looking at all three datasets, what potential data quality issues do you notice? Consider missing values, data types, and any unusual patterns.

**Your Answer:**

I did not notice any missing values in any of the data sets, which is good since we can perform analysis without having to worry about null values. I also did not notice any unusual patterns in the data sets, which is also good since it means that the data is clean and ready for analysis. However, as I mentioned previously, the summary and structure commands do not really serve a purpose for the comments data set since we are analyzing text, so we cannot get mean and median values from text. We could try finding different ways of quantifying these comments and getting better insights from that since mean for text is pointless.

### Question 3: Analysis Readiness

Sales data and ratings data are probably the most complete ones since they tell us everything from quantity sold to revenue generated and customer satisfaction. The comments data set is not as complete since it only gives us qualitative data, which is harder to analyze and get insights from. By combining the comments with the ratings, we can get a better understanding of customer satisfaction and what needs to be improved. However, it would be useful to perform different text analysis techniques to quantify the comments and get better insights from them.

---

## Submission Checklist

Before submitting, make sure you have:

- [ ] Completed all code cells in Parts 1 and 2
- [ ] Run all cells to show output
- [ ] Added your observations for each dataset
- [ ] Answered all reflection questions in Part 3
- [ ] Added your name and date at the top
- [ ] Saved the notebook
- [ ] Committed and pushed your changes to GitHub

**Great work completing your first R data analysis assignment! ðŸŽ‰**

---

## ðŸš€ Ready to Submit?

### Easy Submission Steps (No Command Line Required!):

1. **Save this notebook** (Ctrl+S or File â†’ Save)

2. **Use VS Code Source Control**:
   - Click the **Source Control** icon in the left sidebar (tree branch symbol)
   - Click the **"+"** button next to your notebook file
   - Type a message: `Submit homework 1 - [Your Name]`
   - Click **"Commit"** 
   - Click **"Sync Changes"** or **"Push"**

3. **Verify on GitHub**: Go to your repository online and confirm your notebook appears with your completed work

**ðŸ“– Need help?** See [GITHUB_CLASSROOM_SUBMISSION.md](../../GITHUB_CLASSROOM_SUBMISSION.md) for detailed instructions.

**ðŸŽ‰ Congratulations on completing your first R data analysis assignment!**