# Homework Assignment - Lesson 1: Introduction to R

**Student Name:** [Trinity Schroeder]  
**Date:** [09/14/25]  
**Course:** Data Management  

---

## Instructions

Complete all the tasks below by adding your R code in the code cells and your written responses in markdown cells. Make sure to run all cells to show your output.

**ðŸ“‹ SUBMISSION**: When you're done, see [GITHUB_CLASSROOM_SUBMISSION.md](../../GITHUB_CLASSROOM_SUBMISSION.md) for complete submission instructions.

---

## Part 1: Setting Up Your Environment and Importing Data

### 1.1 Working Directory

Check your current working directory using `getwd()`. You should be in the main repository folder.

In [9]:
# Check current working directory
getwd()
setwd("/workspaces/assignment-1-version-3-trinitysch")

[1] "/workspaces/assignment-1-version-3-trinitysch/assignment/Homework"

### 1.2 Package Loading

Load the required packages: `tidyverse` and `readxl`

In [10]:
# Load required packages
library(tidyverse)
library(readxl)
library(conflicted)
conflict_prefer("filter","dplyr")

[conflicted] Removing existing preference.
[conflicted] Will prefer dplyr::filter over any other package.

### 1.3 Data Import - CSV

Import the `sales_data.csv` file from the `data/` folder into a data frame named `sales_df`.

In [11]:
# Import sales data
sales_df <- read_csv("data/sales_data.csv")
print("Sales data imported successfully!")

Rows: 100 Columns: 6
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr  (2): Product, Region
dbl  (3): TransactionID, Amount, Quantity
date (1): Date

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] "Sales data imported successfully!"

### 1.4 Data Import - Excel

Import both sheets from the `customer_feedback.xlsx` file.

In [12]:
# Import ratings data from Excel
ratings_df <- read_excel("data/customer_feedback.xlsx", sheet = "ratings")

# Import comments data from Excel  
comments_df <- read_excel("data/customer_feedback.xlsx", sheet = "customer_feedback")

print("Excel data imported successfully!")

[1] "Excel data imported successfully!"

---

## Part 2: Basic Data Inspection

For each of the three data frames you imported, perform the following inspection tasks. Add both your R code and a brief interpretation of what you observe.

### 2.1 Sales Data Inspection

In [36]:
# First 10 rows of sales data
print("First 10 rows of sales_df:")
head(sales_df, 10)

[1] "First 10 rows of sales_df:"

   TransactionID Date       Product  Amount  Quantity Region
1   1            2023-01-27 Keyboard 1039.05 1        South
2   2            2023-05-18 Tablet    597.55 5        East
3   3            2023-02-14 Keyboard 1539.48 1        West
4   4            2023-07-28 Mouse     261.66 1        South
5   5            2023-05-17 Monitor  1047.73 1        South
6   6            2023-02-25 Keyboard 1824.05 2        East
7   7            2023-01-20 Monitor   475.83 1        North
8   8            2023-07-14 Mouse     758.05 5        North
9   9            2023-10-02 Mouse    1717.20 4        South
10 10            2023-10-15 Laptop   1437.21 3        North

In [37]:
# Structure of sales data
print("Structure of sales_df:")
str(sales_df)

[1] "Structure of sales_df:"
spc_tbl_ [100 Ã— 6] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ TransactionID: num [1:100] 1 2 3 4 5 6 7 8 9 10 ...
 $ Date         : Date[1:100], format: "2023-01-27" "2023-05-18" ...
 $ Product      : chr [1:100] "Keyboard" "Tablet" "Keyboard" "Mouse" ...
 $ Amount       : num [1:100] 1039 598 1539 262 1048 ...
 $ Quantity     : num [1:100] 1 5 1 1 1 2 1 5 4 3 ...
 $ Region       : chr [1:100] "South" "East" "West" "South" ...
 - attr(*, "spec")=
  .. cols(
  ..   TransactionID = col_double(),
  ..   Date = col_date(format = ""),
  ..   Product = col_character(),
  ..   Amount = col_double(),
  ..   Quantity = col_double(),
  ..   Region = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

In [38]:
# Summary statistics for sales data
print("Summary statistics for sales_df:")
summary(sales_df)

[1] "Summary statistics for sales_df:"

 TransactionID         Date              Product              Amount
 Min.   :  1.00   Min.   :2023-01-01   Length:100         Min.   :  58.06
 1st Qu.: 25.75   1st Qu.:2023-03-20   Class :character   1st Qu.: 520.79
 Median : 50.50   Median :2023-07-03   Mode  :character   Median : 960.75
 Mean   : 50.50   Mean   :2023-06-27                      Mean   : 962.71
 3rd Qu.: 75.25   3rd Qu.:2023-09-25                      3rd Qu.:1384.63
 Max.   :100.00   Max.   :2023-12-26                      Max.   :1985.60
    Quantity       Region
 Min.   :1.00   Length:100
 1st Qu.:1.00   Class :character
 Median :3.00   Mode  :character
 Mean   :2.69
 3rd Qu.:4.00
 Max.   :5.00

**Your observations about sales_df:**

[There are 6 columns and 6 rows within the sales_df data frame. Some columns only have 3 rows. These include: Region and Product. The other columns are called Transaction ID, Date, Amount, and Quantity. All of the outputs are rounded to 2 decimal places.]

### 2.2 Ratings Data Inspection

In [39]:
# First 10 rows of ratings_df
print("First 10 rows of ratings_df:")
head(ratings_df, 10)

# Structure of ratings_df
print("Structure of ratings_df:")
str(ratings_df)

# Summary statistics for ratings_df
print("Summary statistics for ratings_df:")
summary(ratings_df)

[1] "First 10 rows of ratings_df:"

   CustomerID ProductRating ServiceRating OverallSatisfaction
1   1         1             4             3
2   2         3             2             4
3   3         1             5             5
4   4         1             2             3
5   5         5             1             2
6   6         4             2             2
7   7         3             5             5
8   8         5             2             5
9   9         4             1             3
10 10         4             1             2
   RecommendationScore
1   2
2   7
3   1
4   6
5   2
6   6
7   5
8  10
9   6
10  0

[1] "Structure of ratings_df:"
tibble [50 Ã— 5] (S3: tbl_df/tbl/data.frame)
 $ CustomerID         : num [1:50] 1 2 3 4 5 6 7 8 9 10 ...
 $ ProductRating      : num [1:50] 1 3 1 1 5 4 3 5 4 4 ...
 $ ServiceRating      : num [1:50] 4 2 5 2 1 2 5 2 1 1 ...
 $ OverallSatisfaction: num [1:50] 3 4 5 3 2 2 5 5 3 2 ...
 $ RecommendationScore: num [1:50] 2 7 1 6 2 6 5 10 6 0 ...
[1] "Summary statistics for ratings_df:"

   CustomerID    ProductRating ServiceRating  OverallSatisfaction
 Min.   : 1.00   Min.   :1.0   Min.   :1.00   Min.   :1.00
 1st Qu.:13.25   1st Qu.:2.0   1st Qu.:1.00   1st Qu.:2.00
 Median :25.50   Median :3.0   Median :3.00   Median :3.00
 Mean   :25.50   Mean   :3.2   Mean   :2.94   Mean   :2.92
 3rd Qu.:37.75   3rd Qu.:5.0   3rd Qu.:5.00   3rd Qu.:4.00
 Max.   :50.00   Max.   :5.0   Max.   :5.00   Max.   :5.00
 RecommendationScore
 Min.   : 0.0
 1st Qu.: 1.0
 Median : 4.5
 Mean   : 4.2
 3rd Qu.: 7.0
 Max.   :10.0

**Your observations about ratings_df:**

[There are 5 columns and 10 rows (without headings) in the ratings_df data frame. The columns are called Customer ID, ProductRating, ServiceRating, OverallSatisfaction, and RecommendationScore. It seems that it is missing headings for the rows. All outputs are whole numbers.]

### 2.3 Comments Data Inspection

In [40]:
# First 10 rows of comments_df
print("First 10 rows of comments_df:")
head(comments_df, 10)

# Structure of comments_df
print("Structure of comments_df:")
str(comments_df)

# Summary statistics for comments_df
print("Summary statistics for comments_df:")
summary(comments_df)

[1] "First 10 rows of comments_df:"

   FeedbackID CustomerID Feedback_Text
1   1         12         Highly recommend this item
2   2         40         Excellent service
3   3         34         Poor quality control
4   4          1         average product, nothing special
5   5         47         AMAZING customer support!!!
6   6         13         AMAZING customer support!!!
7   7         13         average product, nothing special
8   8         37         good VALUE for money
9   9         49         Highly recommend this item
10 10         23         Highly recommend this item
   Contact_Info           Feedback_Date
1  bob.wilson@test.org    2024-02-23
2  555-123-4567           2024-01-21
3  jane_smith@company.com 2023-09-02
4  jane_smith@company.com 2023-08-21
5  555-123-4567           2023-04-24
6  john.doe@email.com     2023-04-16
7  (555) 987-6543         2024-03-13
8  (555) 987-6543         2023-07-15
9  invalid-email          2023-03-03
10 john.doe@email.com     2023-10-18

[1] "Structure of comments_df:"
tibble [100 Ã— 5] (S3: tbl_df/tbl/data.frame)
 $ FeedbackID   : num [1:100] 1 2 3 4 5 6 7 8 9 10 ...
 $ CustomerID   : num [1:100] 12 40 34 1 47 13 13 37 49 23 ...
 $ Feedback_Text: chr [1:100] "Highly recommend this item" "Excellent service" "Poor quality control" "average product, nothing special" ...
 $ Contact_Info : chr [1:100] "bob.wilson@test.org" "555-123-4567" "jane_smith@company.com" "jane_smith@company.com" ...
 $ Feedback_Date: POSIXct[1:100], format: "2024-02-23" "2024-01-21" ...
[1] "Summary statistics for comments_df:"

   FeedbackID       CustomerID    Feedback_Text      Contact_Info
 Min.   :  1.00   Min.   : 1.00   Length:100         Length:100
 1st Qu.: 25.75   1st Qu.:15.00   Class :character   Class :character
 Median : 50.50   Median :26.00   Mode  :character   Mode  :character
 Mean   : 50.50   Mean   :26.27
 3rd Qu.: 75.25   3rd Qu.:38.00
 Max.   :100.00   Max.   :50.00
 Feedback_Date
 Min.   :2023-01-03 00:00:00
 1st Qu.:2023-04-23 18:00:00
 Median :2023-08-24 12:00:00
 Mean   :2023-08-22 07:26:24
 3rd Qu.:2023-12-07 06:00:00
 Max.   :2024-03-30 00:00:00

**Your observations about comments_df:**

[In the comments_df data frame, there are 5 columns and 10 rows (if headings are not included). The columns are called FeedbackID, CustomerID, Feedback_Text, Contact_Info, Feedback_Date. All rows contain numerical data except for Feedback-Text and Contact_Info, which contain text data. We are able to see exactly what customers think by organizing data in this way.]

**Reflection Question 1:** What did you observe about the structure and content of the data files you loaded? What insights can you share about the quality and organization of the data?

**Your Answer:**

[After looking at the structure and content of the data files I uploaded, I noticed that the data is pretty organized and descriptive. Some columns have fewer entries which could mean there is missing data. The ratings data is numeric and organized but lacks row headings. The comments data provides both numeric an qualitative data is useful for understanding customer feedback. Overall, the data is well organized but lacks some data entires and contains a couple inconsistencies. There is a variety of data that is good for analysis but processing will be important to ensure that the data is reliable.]

### Question 1: Data Types Analysis

Based on your inspection of `sales_df`, what are the data types of the `Date` and `Amount` columns? Are these data types appropriate for typical business analytics tasks involving sales data? Explain why or why not.

**Your Answer:**

[The Date column is in date format and is stored as date or character type. The Amount column is numeric. These data types are important and appropriate for business analytics because date provides time based insights and trends, while numeric data allows for calculations. The Date column should always be in date format for accurate analysis. Using the right data helps prevent errors, so it is important that data is well structured and organized. ]

### Question 2: Data Quality Assessment

Looking at all three datasets, what potential data quality issues do you notice? Consider missing values, data types, and any unusual patterns.

**Your Answer:**

[Looking at all the datasets, I noticed that a few values were left blank which means some data is missing. There are also some inconsistencies like numbers being mixed with words in the comments data and the ratings data missing row headings. The data also being in whole numbers could lead to loss of precision. There could also be duplicate entries, which will need to be assessed. Overall, the data is pretty organized, but will need some cleaning.]

### Question 3: Analysis Readiness

Which of the three datasets appears most ready for analysis, and which would require the most preprocessing? Justify your answer.

**Your Answer:**

[Based on the data, it seems that the ratings data is most ready for analysis because it is all numeric and organized in columns.It has consistent values and is easy to interpret. The sales data is also well structured, but has some missing values. The comments data will require the most processing because it has some duplicate values and has mixed data types.]

---

## Submission Checklist

Before submitting, make sure you have:

- [ ] Completed all code cells in Parts 1 and 2
- [ ] Run all cells to show output
- [ ] Added your observations for each dataset
- [ ] Answered all reflection questions in Part 3
- [ ] Added your name and date at the top
- [ ] Saved the notebook
- [ ] Committed and pushed your changes to GitHub

**Great work completing your first R data analysis assignment! ðŸŽ‰**

---

## ðŸš€ Ready to Submit?

### Easy Submission Steps (No Command Line Required!):

1. **Save this notebook** (Ctrl+S or File â†’ Save)

2. **Use VS Code Source Control**:
   - Click the **Source Control** icon in the left sidebar (tree branch symbol)
   - Click the **"+"** button next to your notebook file
   - Type a message: `Submit homework 1 - [Your Name]`
   - Click **"Commit"** 
   - Click **"Sync Changes"** or **"Push"**

3. **Verify on GitHub**: Go to your repository online and confirm your notebook appears with your completed work

**ðŸ“– Need help?** See [GITHUB_CLASSROOM_SUBMISSION.md](../../GITHUB_CLASSROOM_SUBMISSION.md) for detailed instructions.

**ðŸŽ‰ Congratulations on completing your first R data analysis assignment!**