# MIDTERM EXAM: Comprehensive R Data Wrangling Assessment

**Student Name:** [Anathalia Marc-Charles]

**Student ID:** [zbf047]

**Date:** [10/19/2025]

**Time Limit:** 4 hours

---

## Exam Overview

This comprehensive midterm exam assesses your mastery of ALL R data wrangling skills covered in Lessons 1-8:

- **Lesson 1:** R Basics and Data Import
- **Lesson 2:** Data Cleaning (Missing Values & Outliers)
- **Lesson 3:** Data Transformation Part 1 (select, filter, arrange)
- **Lesson 4:** Data Transformation Part 2 (mutate, summarize, group_by)
- **Lesson 5:** Data Reshaping (pivot_longer, pivot_wider)
- **Lesson 6:** Combining Datasets (joins)
- **Lesson 7:** String Manipulation & Date/Time
- **Lesson 8:** Advanced Wrangling & Best Practices

## Business Scenario

You are a data analyst for a retail company. The executive team needs a comprehensive analysis of:
- Sales performance across products and regions
- Customer behavior and segmentation
- Data quality issues and recommendations
- Strategic insights for business growth

## Instructions

1. **Set your working directory** to where your data files are located
2. Complete ALL tasks in order
3. Write code in the TODO sections
4. Use the pipe operator (%>%) to chain operations
5. Add comments explaining your logic
6. Run all cells to verify your code works
7. Answer all reflection questions

## Grading

- **Code Correctness (40%)**: All tasks completed correctly
- **Code Quality (20%)**: Clean, well-commented code
- **Business Understanding (20%)**: Demonstrates understanding of context
- **Analysis & Insights (15%)**: Meaningful insights and recommendations
- **Reflection Questions (5%)**: Thoughtful answers

## Academic Integrity

This is an individual exam. You may use:
- Course notes and lesson materials
- R documentation and help files
- Your previous homework assignments

You may NOT:
- Collaborate with other students
- Use AI assistants or online forums
- Share code or solutions

---

**Good luck! ðŸŽ“**

## Part 1: R Basics and Data Import (Lesson 1)

**Skills Assessed:** Variables, data types, data import, working directory

**Your Tasks:**
1. Set working directory
2. Load required packages
3. Import multiple datasets
4. Examine data structures

In [38]:
# Task 1.1: Set Working Directory
# TODO: Set your working directory to where your data files are located
# IMPORTANT: Students must set their own path!
# Example: setwd("/Users/yourname/GitHub/ai-homework-grader-clean/data")
getwd()
setwd("/workspaces/assignment-2-version3-anathaliajmc/data")
getwd()
# Your code here:


# Verify working directory
cat("Current working directory:", getwd(), "\n")

[1] "/workspaces/assignment-2-version3-anathaliajmc/data"

[1] "/workspaces/assignment-2-version3-anathaliajmc/data"

Current working directory: /workspaces/assignment-2-version3-anathaliajmc/data

In [39]:
# Task 1.2: Load Required Packages
# TODO: Load tidyverse (includes dplyr, tidyr, stringr, ggplot2)
library(tidyverse)

# TODO: Load lubridate for date operations
library(lubridate)

cat("âœ… Packages loaded successfully!\n")

âœ… Packages loaded successfully!

In [40]:
# Task 1.3: Import Datasets
# TODO: Import the following CSV files using read_csv():
#   - company_sales_data.csv -> sales_data
#   - customers.csv -> customers
#   - products.csv -> products
#   - orders.csv -> orders
#   - order_items.csv -> order_items

# Your code here:
sales_data <- read.csv("company_sales_data.csv")

customers <- read.csv("customers.csv")

products <- read.csv("products.csv")

orders <- read.csv("orders.csv")

order_items <- read.csv("order_items.csv")


# Display import summary
cat("âœ… Data imported successfully!\n")
cat("Sales data:", nrow(sales_data), "rows\n")
cat("Customers:", nrow(customers), "rows\n")
cat("Products:", nrow(products), "rows\n")
cat("Orders:", nrow(orders), "rows\n")
cat("Order items:", nrow(order_items), "rows\n")

âœ… Data imported successfully!
Sales data: 300 rows
Customers: 100 rows
Products: 50 rows
Orders: 250 rows
Order items: 400 rows

## Part 2: Data Cleaning - Missing Values & Outliers (Lesson 2)

**Skills Assessed:** Identifying NAs, handling missing data, detecting outliers

**Your Tasks:**
1. Check for missing values in sales_data
2. Handle missing values appropriately
3. Identify outliers in Revenue column
4. Create a cleaned dataset

In [41]:
# Task 2.1: Check for Missing Values
# TODO: Create 'missing_summary' that shows count of NAs in each column of sales_data
print("sales_data structure ummary")
str(sales_data)
summary(sales_data)
head(sales_data, 10)

missing_summary <- sum(is.na(sales_data))
missing_ids <- sum(is.na(sales_data$TransactionID))
missing_rep <- sum(is.na(sales_data$Sales_Rep_Name))
missing_category <- sum(is.na(sales_data$Product_Category))
missing_region <- sum(is.na(sales_data$Region))
missing_revenue <- sum(is.na(sales_data$Revenue))
missing_cost <- sum(is.na(sales_data$Cost))
missing_units <- sum(is.na(sales_data$Units_Sold))
missing_date <- sum(is.na(sales_data$Sale_Date))

cat("========== MISSING VALUES SUMMARY ==========\n")
print(missing_summary)
cat("\nTotal missing values:", sum(missing_summary), "\n")
cat("Missing Transaction IDs:", sum(missing_ids), "\n")
cat("Missing Sales Rep Names:", sum(missing_rep), "\n")
cat("Missing Regions:", sum(missing_region), "\n")
cat("Missing Categories:", sum(missing_category))
cat("Missing Revenue:", sum(missing_revenue), "\n")
cat("Missing Cost:", sum(missing_cost), "\n")
cat("Missing Units Sold:", sum(missing_units), "\n")
cat("Missing Dates:", sum(missing_date), "\n")

[1] "sales_data structure ummary"
'data.frame':	300 obs. of  8 variables:
 $ TransactionID   : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Sales_Rep_Name  : chr  "Carol Davis" "Carol Davis" "Carol Davis" "Bob Smith" ...
 $ Region          : chr  "Latin America" "Europe" "Europe" "Europe" ...
 $ Product_Category: chr  "Services" "Hardware" "Services" "Hardware" ...
 $ Revenue         : num  20751 32360 39268 28865 3932 ...
 $ Cost            : num  12253 24595 23291 12429 1778 ...
 $ Units_Sold      : int  78 13 34 90 63 26 25 1 20 15 ...
 $ Sale_Date       : chr  "2023-04-24" "2023-06-09" "2023-03-25" "2023-04-11" ...

 TransactionID    Sales_Rep_Name        Region          Product_Category
 Min.   :  1.00   Length:300         Length:300         Length:300
 1st Qu.: 75.75   Class :character   Class :character   Class :character
 Median :150.50   Mode  :character   Mode  :character   Mode  :character
 Mean   :150.50
 3rd Qu.:225.25
 Max.   :300.00
    Revenue           Cost         Units_Sold      Sale_Date
 Min.   : 1032   Min.   :  567   Min.   :  1.00   Length:300
 1st Qu.:15034   1st Qu.: 7216   1st Qu.: 28.75   Class :character
 Median :26062   Median :13956   Median : 56.00   Mode  :character
 Mean   :25906   Mean   :14547   Mean   : 53.90
 3rd Qu.:37708   3rd Qu.:21714   3rd Qu.: 80.00
 Max.   :49956   Max.   :37811   Max.   :100.00

   TransactionID Sales_Rep_Name Region        Product_Category Revenue
1   1            Carol Davis    Latin America Services         20750.92
2   2            Carol Davis    Europe        Hardware         32359.98
3   3            Carol Davis    Europe        Services         39268.40
4   4            Bob Smith      Europe        Hardware         28865.09
5   5            Frank Miller   Latin America Software          3932.36
6   6            Carol Davis    Latin America Services         48209.75
7   7            Frank Miller   Europe        Software         33055.35
8   8            Alice Johnson  Europe        Consulting       49856.54
9   9            Bob Smith      Europe        Consulting       13477.13
10 10            Eva Brown      Asia Pacific  Services         21188.96
   Cost     Units_Sold Sale_Date
1  12253.36 78         2023-04-24
2  24595.20 13         2023-06-09
3  23291.09 34         2023-03-25
4  12428.74 90         2023-04-11
5   1778.18 63         2023-08-26
6  26052.04 26         2023-09-04
7  20432.24 25         2023-06-19
8  37118.63  1         2023-09-01
9   8685.85 20         2023-11-17
10 16757.06 15         2023-08-17

========== MISSING VALUES SUMMARY ==========
[1] 0

Total missing values: 0
Missing Transaction IDs: 0
Missing Sales Rep Names: 0
Missing Regions: 0
Missing Categories: 0Missing Revenue: 0
Missing Cost: 0
Missing Units Sold: 0
Missing Dates: 0

In [42]:
# Task 2.2: Handle Missing Values
# TODO: Create 'sales_clean' by removing rows with ANY missing values


sales_clean <- na.omit(sales_data)


cat("========== DATA CLEANING RESULTS ==========\n")
cat("Original rows:", nrow(sales_data), "\n")
cat("Cleaned rows:", nrow(sales_clean), "\n")
cat("Rows removed:", nrow(sales_data) - nrow(sales_clean), "\n")

========== DATA CLEANING RESULTS ==========
Original rows: 300
Cleaned rows: 300
Rows removed: 0

In [43]:
# Task 2.3: Detect Outliers in Revenue
# TODO: Calculate outlier thresholds using IQR method
#   - Calculate Q1 (25th percentile) and Q3 (75th percentile) of Revenue
#   - Calculate IQR = Q3 - Q1
#   - Lower bound = Q1 - 1.5 * IQR
#   - Upper bound = Q3 + 1.5 * IQR
# TODO: Create 'outlier_analysis' dataframe with these values

Q1 <- quantile(sales_clean$Revenue, 0.25, na.rm = TRUE) # 25th percentile
Q3 <- quantile(sales_clean$Revenue, 0.75, na.rm = TRUE)
IQR_value <- Q3 - Q1
lower_bound <- Q1 - 1.5 * IQR_value
upper_bound <- Q3 + 1.5 * IQR_value


outlier_analysis <- data.frame(
  Metric = c("Q1", "Q3", "IQR_value", "Lower Bound", "Upper Bound"),
  Value = c(Q1, Q3, IQR_value, lower_bound, upper_bound)
)

cat("========== OUTLIER ANALYSIS ==========\n")
print(outlier_analysis)

# Count outliers
outlier_count <- sum(sales_clean$Revenue < lower_bound | sales_clean$Revenue > upper_bound)
cat("\nNumber of outliers detected:", outlier_count, "\n")

========== OUTLIER ANALYSIS ==========
       Metric     Value
1          Q1  15034.29
2          Q3  37707.71
3   IQR_value  22673.42
4 Lower Bound -18975.84
5 Upper Bound  71717.84

Number of outliers detected: 0

## Part 3: Data Transformation Part 1 (Lesson 3)

**Skills Assessed:** select(), filter(), arrange(), pipe operator

**Your Tasks:**
1. Select specific columns
2. Filter data by conditions
3. Sort data
4. Chain operations with pipe

In [44]:
# Task 3.1: Select Specific Columns
# TODO: Create 'sales_summary' with only these columns from sales_clean:
#   Region, Product_Category, Revenue, Units_Sold, Sale_Date


sales_summary <- sales_clean %>%
  # Your code here:
select(Region, Product_Category, Revenue, Units_Sold, Sale_Date)

cat("========== SELECTED COLUMNS ==========\n")
cat("Columns:", names(sales_summary), "\n")
cat("Rows:", nrow(sales_summary), "\n")
head(sales_summary, 5)

========== SELECTED COLUMNS ==========
Columns: Region Product_Category Revenue Units_Sold Sale_Date
Rows: 300

  Region        Product_Category Revenue  Units_Sold Sale_Date
1 Latin America Services         20750.92 78         2023-04-24
2 Europe        Hardware         32359.98 13         2023-06-09
3 Europe        Services         39268.40 34         2023-03-25
4 Europe        Hardware         28865.09 90         2023-04-11
5 Latin America Software          3932.36 63         2023-08-26

In [45]:
# Task 3.2: Filter High Revenue Sales
# TODO: Create 'high_revenue_sales' by filtering sales_clean for Revenue > 20000


high_revenue_sales <- sales_clean %>%
  # Your code here:
  filter( sales_clean$Revenue > 20000)

cat("========== HIGH REVENUE SALES ==========\n")
cat("Total high revenue transactions:", nrow(high_revenue_sales), "\n")
cat("Total revenue from these sales: $", sum(high_revenue_sales$Revenue), "\n")

========== HIGH REVENUE SALES ==========
Total high revenue transactions: 194
Total revenue from these sales: $ 6671906

In [46]:
# Task 3.3: Sort by Revenue
# TODO: Create 'top_sales' by arranging sales_clean by Revenue in descending order
#       and keeping only the top 10 rows


top_sales <- sales_clean %>%
  # Your code here:
  arrange(desc(Revenue)) %>%
  head(10)

cat("========== TOP 10 SALES ==========\n")
print(top_sales %>% select(Region, Product_Category, Revenue, Units_Sold))

========== TOP 10 SALES ==========
          Region Product_Category  Revenue Units_Sold
1   Asia Pacific       Consulting 49956.01         88
2         Europe         Software 49866.51         96
3         Europe       Consulting 49856.54          1
4   Asia Pacific       Consulting 49238.97         72
5   Asia Pacific         Hardware 48997.22         92
6  North America         Services 48884.31         62
7         Europe         Software 48793.64         77
8  North America         Hardware 48771.67         16
9  North America       Consulting 48747.95         63
10        Europe       Consulting 48571.74         22

In [47]:
# Task 3.4: Chain Multiple Operations
# TODO: Create 'regional_top_sales' by:
#   1. Filtering for Revenue > 15000
#   2. Selecting: Region, Product_Category, Revenue
#   3. Arranging by Region (ascending) then Revenue (descending)
#   4. Keeping top 15 rows
# Use the pipe operator to chain all operations

regional_top_sales <- sales_clean %>%
  # Your code here:
  filter(sales_clean$Revenue >15000) %>%
  select(Region, Revenue, Product_Category) %>%
  arrange(Region, desc(Revenue)) %>%
  head(15)
  
cat("========== REGIONAL TOP SALES ==========\n")
print(regional_top_sales)

========== REGIONAL TOP SALES ==========
         Region  Revenue Product_Category
1  Asia Pacific 49956.01       Consulting
2  Asia Pacific 49238.97       Consulting
3  Asia Pacific 48997.22         Hardware
4  Asia Pacific 48063.17       Consulting
5  Asia Pacific 46731.05         Services
6  Asia Pacific 46615.43         Software
7  Asia Pacific 46544.57       Consulting
8  Asia Pacific 45755.79       Consulting
9  Asia Pacific 45298.38         Services
10 Asia Pacific 44624.16         Services
11 Asia Pacific 44454.58       Consulting
12 Asia Pacific 44364.40       Consulting
13 Asia Pacific 43221.14         Software
14 Asia Pacific 42062.52         Software
15 Asia Pacific 41411.58         Software

## Part 4: Data Transformation Part 2 (Lesson 4)

**Skills Assessed:** mutate(), summarize(), group_by()

**Your Tasks:**
1. Create calculated columns with mutate()
2. Calculate summary statistics
3. Perform grouped analysis
4. Generate business metrics

In [48]:
# Task 4.1: Create Calculated Columns
# TODO: Add these new columns to sales_clean using mutate():
#   - revenue_per_unit: Revenue / Units_Sold
#   - high_value: "Yes" if Revenue > 20000, else "No"
# Store result in 'sales_enhanced'

sales_enhanced <- sales_clean %>%
  mutate(
    # Your code here:
    revenue_per_unit = Revenue / Units_Sold,
    high_value = (ifelse(Revenue > 20000, "Yes", "No"))
  )

cat("========== ENHANCED SALES DATA ==========\n")
cat("New columns added: revenue_per_unit, high_value\n")
head(sales_enhanced %>% select(Revenue, Units_Sold, revenue_per_unit, high_value), 5)

========== ENHANCED SALES DATA ==========
New columns added: revenue_per_unit, high_value

  Revenue  Units_Sold revenue_per_unit high_value
1 20750.92 78          266.03744       Yes
2 32359.98 13         2489.22923       Yes
3 39268.40 34         1154.95294       Yes
4 28865.09 90          320.72322       Yes
5  3932.36 63           62.41841       No

In [49]:
# Task 4.2: Calculate Overall Summary Statistics
# TODO: Create 'overall_summary' with these metrics from sales_enhanced:
#   - total_revenue: sum of Revenue
#   - avg_revenue: mean of Revenue
#   - total_units: sum of Units_Sold
#   - transaction_count: count using n()


overall_summary <- sales_enhanced %>%
  summarize(
    # Your code here:
    total_revenue = sum(Revenue),
    avg_revenue = mean(Revenue),
    total_units = sum(Units_Sold),
    transaction_count = n()
  )

cat("========== OVERALL SUMMARY ==========\n")
print(overall_summary)

========== OVERALL SUMMARY ==========
  total_revenue avg_revenue total_units transaction_count
1       7771711     25905.7       16169               300

In [50]:
# Task 4.3: Regional Performance Analysis
# TODO: Create 'regional_summary' by grouping sales_enhanced by Region
#       and calculating:
#   - total_revenue: sum of Revenue
#   - avg_revenue: mean of Revenue
#   - transaction_count: count using n()
# Then arrange by total_revenue descending
# Hint: Use group_by() %>% summarize() %>% arrange()

regional_summary <- sales_enhanced %>%
  # Your code here:
  group_by(Region) %>%
  summarize(
    total_revenue =sum(Revenue),
    avg_revenue = mean(Revenue),
    transaction_count = n(),
    .groups = 'drop'
  )%>%
  arrange(desc(total_revenue))

cat("========== REGIONAL SUMMARY ==========\n")
print(regional_summary)

========== REGIONAL SUMMARY ==========
# A tibble: 4 Ã— 4
  Region        total_revenue avg_revenue transaction_count
  <chr>                 <dbl>       <dbl>             <int>
1 Europe             2224182.      27124.                82
2 Latin America      2112037.      25446.                83
3 Asia Pacific       1804243.      26929.                67
4 North America      1631248.      23989.                68

In [51]:
# Task 4.4: Product Category Analysis
# TODO: Create 'category_summary' by grouping by Product_Category
#       and calculating the same metrics as regional_summary
#       Then arrange by total_revenue descending

category_summary <- sales_enhanced %>%
  # Your code here:
  group_by(Product_Category) %>%
  summarize(
    total_revenue =sum(Revenue),
    avg_revenue = mean(Revenue),
    transaction_count = n(),
    .groups = 'drop'
  )%>%
  arrange(desc(total_revenue))

cat("========== CATEGORY SUMMARY ==========\n")
print(category_summary)

========== CATEGORY SUMMARY ==========
# A tibble: 4 Ã— 4
  Product_Category total_revenue avg_revenue transaction_count
  <chr>                    <dbl>       <dbl>             <int>
1 Consulting            1978840.      26037.                76
2 Services              1961565.      27244.                72
3 Hardware              1951325.      26730.                73
4 Software              1879981.      23797.                79

## Part 5: Data Reshaping with tidyr (Lesson 5)

**Skills Assessed:** pivot_longer(), pivot_wider(), tidy data principles

**Your Tasks:**
1. Reshape data from wide to long format
2. Reshape data from long to wide format
3. Create analysis-ready datasets

In [52]:
# Task 5.1: Create Wide Format Data
# First, create a summary by Region and Product_Category
region_category_revenue <- sales_enhanced %>%
  group_by(Region, Product_Category) %>%
  summarize(total_revenue = sum(Revenue), .groups = 'drop')

cat("========== REGION-CATEGORY DATA (LONG FORMAT) ==========\n")
print(head(region_category_revenue, 10))

========== REGION-CATEGORY DATA (LONG FORMAT) ==========
# A tibble: 10 Ã— 3
   Region        Product_Category total_revenue
   <chr>         <chr>                    <dbl>
 1 Asia Pacific  Consulting             759641.
 2 Asia Pacific  Hardware               271979.
 3 Asia Pacific  Services               331826.
 4 Asia Pacific  Software               440797.
 5 Europe        Consulting             390670.
 6 Europe        Hardware               777044.
 7 Europe        Services               513507.
 8 Europe        Software               542961.
 9 Latin America Consulting             433397.
10 Latin America Hardware               474257.

In [53]:
# Task 5.2: Reshape to Wide Format
# TODO: Create 'revenue_wide' by pivoting region_category_revenue
#       so that Product_Category values become column names
#       with total_revenue as the values


revenue_wide <- region_category_revenue %>%
  # Your code here:
  pivot_wider(
    names_from = Product_Category,
    values_from = total_revenue
  )

cat("========== REVENUE DATA (WIDE FORMAT) ==========\n")
print(revenue_wide)

========== REVENUE DATA (WIDE FORMAT) ==========
# A tibble: 4 Ã— 5
  Region        Consulting Hardware Services Software
  <chr>              <dbl>    <dbl>    <dbl>    <dbl>
1 Asia Pacific     759641.  271979.  331826.  440797.
2 Europe           390670.  777044.  513507.  542961.
3 Latin America    433397.  474257.  644772.  559611.
4 North America    395132.  428046.  471460.  336611.

In [54]:
# Task 5.3: Reshape Back to Long Format
# TODO: Create 'revenue_long' by pivoting revenue_wide back to long format
#       Column names (except Region) should go into 'Product_Category'
#       Values should go into 'revenue'


revenue_long <- revenue_wide %>%
  # Your code here:
  pivot_longer(
    cols = -Region,
    names_to = "Product_Category",
    values_to = "revenue"
  )

cat("========== REVENUE DATA (BACK TO LONG FORMAT) ==========\n")
print(head(revenue_long, 10))

========== REVENUE DATA (BACK TO LONG FORMAT) ==========
# A tibble: 10 Ã— 3
   Region        Product_Category revenue
   <chr>         <chr>              <dbl>
 1 Asia Pacific  Consulting       759641.
 2 Asia Pacific  Hardware         271979.
 3 Asia Pacific  Services         331826.
 4 Asia Pacific  Software         440797.
 5 Europe        Consulting       390670.
 6 Europe        Hardware         777044.
 7 Europe        Services         513507.
 8 Europe        Software         542961.
 9 Latin America Consulting       433397.
10 Latin America Hardware         474257.

## Part 6: Combining Datasets with Joins (Lesson 6)

**Skills Assessed:** left_join(), inner_join(), data integration

**Your Tasks:**
1. Join customers with orders
2. Join orders with order_items
3. Create integrated dataset

In [55]:
# Task 6.1: Join Customers and Orders
# TODO: Create 'customer_orders' by left joining customers with orders
#       Join on CustomerID


customer_orders <- left_join(customers, orders, by = "CustomerID")
print(customer_orders)


cat("========== CUSTOMER ORDERS ==========\n")
cat("Total rows:", nrow(customer_orders), "\n")
cat("Columns:", ncol(customer_orders), "\n")

    CustomerID         Name                 Email        City Registration_Date
1            1   Customer 1   customer1@email.com     Phoenix        2020-10-03
2            1   Customer 1   customer1@email.com     Phoenix        2020-10-03
3            2   Customer 2   customer2@email.com Los Angeles        2020-06-02
4            2   Customer 2   customer2@email.com Los Angeles        2020-06-02
5            3   Customer 3   customer3@email.com     Chicago        2021-04-20
6            3   Customer 3   customer3@email.com     Chicago        2021-04-20
7            4   Customer 4   customer4@email.com     Houston        2022-06-16
8            4   Customer 4   customer4@email.com     Houston        2022-06-16
9            5   Customer 5   customer5@email.com     Phoenix        2023-08-22
10           5   Customer 5   customer5@email.com     Phoenix        2023-08-22
11           6   Customer 6   customer6@email.com     Houston        2021-09-10
12           6   Customer 6   customer6@email.com     Houston        2021-09-10
13           7   Customer 7   customer7@email.com     Houston        2020-07-07
14           7   Customer 7   customer7@email.com     Houston        2020-07-07
15           8   Customer 8   customer8@email.com     Phoenix        2022-01-20
16           8   Customer 8   customer8@email.com     Phoenix        2022-01-20
17           9   Customer 9   customer9@email.com    New York        2020-12-09
18           9   Customer 9   customer9@email.com    New York        2020-12-09
19          10  Customer 10  customer10@email.com     Phoenix        2022-05-04
20          10  Customer 10  customer10@email.com     Phoenix        2022-05-04
21          11  Customer 11  customer11@email.com     Chicago        2021-07-22
22          11  Customer 11  customer11@email.com     Chicago        2021-07-22
23          12  Customer 12  customer12@email.com     Chicago        2022-07-25
24          12  Customer 12  customer12@email.com     Chicago        2022-07-25
25          13  Customer 13  customer13@email.com     Phoenix        2023-01-18
26          13  Customer 13  customer13@email.com     Phoenix        2023-01-18
27          14  Customer 14  customer14@email.com    New York        2022-09-12
28          14  Customer 14  customer14@email.com    New York        2022-09-12
29          15  Customer 15  customer15@email.com     Chicago        2023-06-22
30          15  Customer 15  customer15@email.com     Chicago        2023-06-22
31          16  Customer 16  customer16@email.com Los Angeles        2020-03-23
32          16  Customer 16  customer16@email.com Los Angeles        2020-03-23
33          17  Customer 17  customer17@email.com     Phoenix        2020-04-23
34          17  Customer 17  customer17@email.com     Phoenix        2020-04-23
35          18  Customer 18  customer18@email.com Los Angeles        2021-05-04
36          18  Customer 18  customer18@email.com Los Angeles        2021-05-04
37          19  Customer 19  customer19@email.com     Chicago        2020-10-30
38          19  Customer 19  customer19@email.com     Chicago        2020-10-30
39          20  Customer 20  customer20@email.com Los Angeles        2022-08-08
40          20  Customer 20  customer20@email.com Los Angeles        2022-08-08
41          21  Customer 21  customer21@email.com     Houston        2022-05-26
42          21  Customer 21  customer21@email.com     Houston        2022-05-26
43          22  Customer 22  customer22@email.com Los Angeles        2021-04-14
44          22  Customer 22  customer22@email.com Los Angeles        2021-04-14
45          23  Customer 23  customer23@email.com     Chicago        2020-07-29
46          23  Customer 23  customer23@email.com     Chicago        2020-07-29
47          24  Customer 24  customer24@email.com Los Angeles        2022-11-26
48          24  Customer 24  customer24@email.com Los Angeles        2022-11-26
49          25  Customer 25  customer25@email.com     Phoenix        2022-10-09
50          25  Customer 25  customer25@email.com     Phoenix        2022-10-09
51          26  Customer 26  customer26@email.com    New York        2020-03-24
52          26  Customer 26  customer26@email.com    New York        2020-03-24
53          27  Customer 27  customer27@email.com     Houston        2023-06-26
54          27  Customer 27  customer27@email.com     Houston        2023-06-26
55          28  Customer 28  customer28@email.com Los Angeles        2023-06-27
56          28  Customer 28  customer28@email.com Los Angeles        2023-06-27
57          29  Customer 29  customer29@email.com     Phoenix        2022-02-03
58          29  Customer 29  customer29@email.com     Phoenix        2022-02-03
59          30  Customer 30  customer30@email.com     Houston        2020-09-25
60          30  Customer 30  customer30@email.com     Houston        2020-09-25
61          31  Customer 31  customer31@email.com    New York        2021-01-30
62          31  Customer 31  customer31@email.com    New York        2021-01-30
63          32  Customer 32  customer32@email.com    New York        2021-03-30
64          32  Customer 32  customer32@email.com    New York        2021-03-30
65          33  Customer 33  customer33@email.com     Phoenix        2020-02-10
66          33  Customer 33  customer33@email.com     Phoenix        2020-02-10
67          34  Customer 34  customer34@email.com    New York        2023-11-11
68          34  Customer 34  customer34@email.com    New York        2023-11-11
69          35  Customer 35  customer35@email.com     Phoenix        2020-05-15
70          35  Customer 35  customer35@email.com     Phoenix        2020-05-15
71          36  Customer 36  customer36@email.com    New York        2020-05-28
72          36  Customer 36  customer36@email.com    New York        2020-05-28
73          37  Customer 37  customer37@email.com Los Angeles        2022-11-11
74          37  Customer 37  customer37@email.com Los Angeles        2022-11-11
75          38  Customer 38  customer38@email.com     Chicago        2023-01-06
76          38  Customer 38  customer38@email.com     Chicago        2023-01-06
77          39  Customer 39  customer39@email.com     Chicago        2022-10-29
78          39  Customer 39  customer39@email.com     Chicago        2022-10-29
79          40  Customer 40  customer40@email.com     Chicago        2022-09-10
80          40  Customer 40  customer40@email.com     Chicago        2022-09-10
81          41  Customer 41  customer41@email.com     Chicago        2023-01-05
82          41  Customer 41  customer41@email.com     Chicago        2023-01-05
83          42  Customer 42  customer42@email.com Los Angeles        2023-07-07
84          42  Customer 42  customer42@email.com Los Angeles        2023-07-07
85          43  Customer 43  customer43@email.com     Houston        2022-10-13
86          43  Customer 43  customer43@email.com     Houston        2022-10-13
87          44  Customer 44  customer44@email.com     Phoenix        2021-08-19
88          44  Customer 44  customer44@email.com     Phoenix        2021-08-19
89          45  Customer 45  customer45@email.com     Houston        2023-07-30
90          45  Customer 45  customer45@email.com     Houston        2023-07-30
91          46  Customer 46  customer46@email.com     Houston        2021-01-27
92          46  Customer 46  customer46@email.com     Houston        2021-01-27
93          47  Customer 47  customer47@email.com    New York        2021-10-26
94          47  Customer 47  customer47@email.com    New York        2021-10-26
95          48  Customer 48  customer48@email.com     Houston        2022-03-14
96          48  Customer 48  customer48@email.com     Houston        2022-03-14
97          49  Customer 49  customer49@email.com     Phoenix        2023-07-09
98          49  Customer 49  customer49@email.com     Phoenix        2023-07-09
99          50  Customer 50  customer50@email.com Los Angeles        2023-08-21
100         50  Customer 50  customer50@email.com Los Angeles        2023-08-21
101         51  Customer 51  customer51@email.com    New York        2021-02-11
102         51  Customer 51  customer51@email.com    New York        2021-02-11
103         52  Customer 52  customer52@email.com Los Angeles        2022-11-23
104         52  Customer 52  customer52@email.com Los Angeles        2022-11-23
105         53  Customer 53  customer53@email.com     Chicago        2023-06-28
106         53  Customer 53  customer53@email.com     Chicago        2023-06-28
107         54  Customer 54  customer54@email.com     Houston        2021-03-13
108         54  Customer 54  customer54@email.com     Houston        2021-03-13
109         55  Customer 55  customer55@email.com Los Angeles        2021-01-29
110         55  Customer 55  customer55@email.com Los Angeles        2021-01-29
111         56  Customer 56  customer56@email.com Los Angeles        2020-03-12
112         56  Customer 56  customer56@email.com Los Angeles        2020-03-12
113         57  Customer 57  customer57@email.com Los Angeles        2023-09-21
114         57  Customer 57  customer57@email.com Los Angeles        2023-09-21
115         58  Customer 58  customer58@email.com     Phoenix        2023-10-19
116         58  Customer 58  customer58@email.com     Phoenix        2023-10-19
117         59  Customer 59  customer59@email.com     Chicago        2022-11-24
118         59  Customer 59  customer59@email.com     Chicago        2022-11-24
119         60  Customer 60  customer60@email.com     Chicago        2021-02-01
120         60  Customer 60  customer60@email.com     Chicago        2021-02-01
121         61  Customer 61  customer61@email.com     Phoenix        2023-07-06
122         61  Customer 61  customer61@email.com     Phoenix        2023-07-06
123         62  Customer 62  customer62@email.com    New York        2021-09-04
124         62  Customer 62  customer62@email.com    New York        2021-09-04
125         63  Customer 63  customer63@email.com     Chicago        2021-07-26
126         63  Customer 63  customer63@email.com     Chicago        2021-07-26
127         64  Customer 64  customer64@email.com     Phoenix        2022-08-21
128         64  Customer 64  customer64@email.com     Phoenix        2022-08-21
129         65  Customer 65  customer65@email.com     Chicago        2021-08-10
130         65  Customer 65  customer65@email.com     Chicago        2021-08-10
131         66  Customer 66  customer66@email.com     Chicago        2020-10-07
132         66  Customer 66  customer66@email.com     Chicago        2020-10-07
133         67  Customer 67  customer67@email.com     Phoenix        2023-01-08
134         67  Customer 67  customer67@email.com     Phoenix        2023-01-08
135         68  Customer 68  customer68@email.com Los Angeles        2022-03-11
136         68  Customer 68  customer68@email.com Los Angeles        2022-03-11
137         69  Customer 69  customer69@email.com Los Angeles        2021-10-18
138         69  Customer 69  customer69@email.com Los Angeles        2021-10-18
139         70  Customer 70  customer70@email.com     Chicago        2020-09-15
140         70  Customer 70  customer70@email.com     Chicago        2020-09-15
141         71  Customer 71  customer71@email.com     Phoenix        2021-05-21
142         71  Customer 71  customer71@email.com     Phoenix        2021-05-21
143         72  Customer 72  customer72@email.com    New York        2020-11-08
144         72  Customer 72  customer72@email.com    New York        2020-11-08
145         73  Customer 73  customer73@email.com Los Angeles        2020-06-06
146         73  Customer 73  customer73@email.com Los Angeles        2020-06-06
147         74  Customer 74  customer74@email.com Los Angeles        2022-02-01
148         74  Customer 74  customer74@email.com Los Angeles        2022-02-01
149         75  Customer 75  customer75@email.com     Chicago        2023-07-22
150         75  Customer 75  customer75@email.com     Chicago        2023-07-22
151         76  Customer 76  customer76@email.com     Houston        2021-04-21
152         76  Customer 76  customer76@email.com     Houston        2021-04-21
153         77  Customer 77  customer77@email.com     Chicago        2022-01-17
154         77  Customer 77  customer77@email.com     Chicago        2022-01-17
155         78  Customer 78  customer78@email.com    New York        2020-08-05
156         78  Customer 78  customer78@email.com    New York        2020-08-05
157         79  Customer 79  customer79@email.com     Houston        2023-06-17
158         79  Customer 79  customer79@email.com     Houston        2023-06-17
159         80  Customer 80  customer80@email.com Los Angeles        2022-06-16
160         80  Customer 80  customer80@email.com Los Angeles        2022-06-16
161         81  Customer 81  customer81@email.com     Houston        2020-04-25
162         81  Customer 81  customer81@email.com     Houston        2020-04-25
163         82  Customer 82  customer82@email.com    New York        2023-12-30
164         82  Customer 82  customer82@email.com    New York        2023-12-30
165         83  Customer 83  customer83@email.com     Houston        2020-02-12
166         83  Customer 83  customer83@email.com     Houston        2020-02-12
167         84  Customer 84  customer84@email.com    New York        2022-01-27
168         84  Customer 84  customer84@email.com    New York        2022-01-27
169         85  Customer 85  customer85@email.com     Houston        2023-06-11
170         85  Customer 85  customer85@email.com     Houston        2023-06-11
171         86  Customer 86  customer86@email.com Los Angeles        2023-03-02
172         86  Customer 86  customer86@email.com Los Angeles        2023-03-02
173         87  Customer 87  customer87@email.com     Chicago        2020-03-26
174         87  Customer 87  customer87@email.com     Chicago        2020-03-26
175         88  Customer 88  customer88@email.com Los Angeles        2023-08-20
176         88  Customer 88  customer88@email.com Los Angeles        2023-08-20
177         89  Customer 89  customer89@email.com    New York        2023-06-30
178         89  Customer 89  customer89@email.com    New York        2023-06-30
179         90  Customer 90  customer90@email.com Los Angeles        2022-03-11
180         90  Customer 90  customer90@email.com Los Angeles        2022-03-11
181         91  Customer 91  customer91@email.com     Chicago        2021-11-25
182         91  Customer 91  customer91@email.com     Chicago        2021-11-25
183         92  Customer 92  customer92@email.com     Chicago        2023-09-04
184         92  Customer 92  customer92@email.com     Chicago        2023-09-04
185         93  Customer 93  customer93@email.com     Phoenix        2020-08-05
186         93  Customer 93  customer93@email.com     Phoenix        2020-08-05
187         94  Customer 94  customer94@email.com     Houston        2020-12-16
188         94  Customer 94  customer94@email.com     Houston        2020-12-16
189         95  Customer 95  customer95@email.com     Houston        2023-07-25
190         95  Customer 95  customer95@email.com     Houston        2023-07-25
191         96  Customer 96  customer96@email.com     Phoenix        2021-02-05
192         96  Customer 96  customer96@email.com     Phoenix        2021-02-05
193         97  Customer 97  customer97@email.com    New York        2021-09-12
194         97  Customer 97  customer97@email.com    New York        2021-09-12
195         98  Customer 98  customer98@email.com     Chicago        2023-08-07
196         98  Customer 98  customer98@email.com     Chicago        2023-08-07
197         99  Customer 99  customer99@email.com     Houston        2022-04-23
198         99  Customer 99  customer99@email.com     Houston        2022-04-23
199        100 Customer 100 customer100@email.com     Chicago        2021-05-18
200        100 Customer 100 customer100@email.com     Chicago        2021-05-18
    OrderID Order_Date Total_Amount
1        87 2023-03-28       716.18
2       214 2023-09-12      1343.63
3       173 2024-02-25       159.98
4       190 2023-04-19      1503.04
5        29 2023-03-07       441.06
6       146 2023-04-10        85.28
7         7 2023-05-01       482.98
8        61 2024-01-19       666.43
9        15 2023-12-27       560.36
10      150 2023-03-28       278.89
11       64 2023-09-26      1445.60
12      134 2023-05-31      1918.40
13       71 2023-01-18      1846.62
14      207 2023-09-13       146.53
15       14 2023-10-01      1546.45
16       53 2023-06-11       404.78
17      111 2023-01-04       251.17
18      164 2023-09-23       839.65
19      107 2023-01-04       221.89
20      156 2023-03-16       608.56
21       78 2023-12-10      1668.95
22       94 2023-04-05      1270.72
23        2 2024-03-24       183.09
24      219 2023-05-25      1657.58
25       45 2023-02-13       939.66
26      217 2023-08-24      1033.40
27      180 2023-12-22       169.94
28      250 2023-11-02       466.99
29       83 2023-04-18       980.37
30      147 2024-01-27       718.29
31       13 2024-01-24      1786.60
32       89 2024-03-18       332.40
33       92 2023-03-09      1578.93
34      224 2024-01-29       958.39
35      132 2023-01-21       182.98
36      227 2023-10-27      1278.03
37      103 2024-02-21       677.87
38      105 2024-01-21       669.68
39       20 2023-10-30      1236.63
40       38 2023-03-04      1540.53
41        8 2023-12-25       614.96
42       26 2023-02-25       767.84
43       43 2024-02-15      1257.21
44      124 2023-01-29      1972.63
45       44 2023-05-07       580.59
46      129 2023-04-26      1419.60
47       25 2023-09-28      1361.31
48      241 2023-09-13      1503.89
49      143 2024-03-29      1594.90
50      233 2024-03-31       254.85
51       56 2023-06-01      1897.69
52       99 2024-02-25      1182.57
53       68 2024-01-31      1950.63
54      212 2023-06-10      1071.91
55       31 2023-09-03       996.73
56      226 2024-02-15      1568.26
57      121 2023-06-03      1439.11
58      151 2023-01-12      1097.21
59      101 2023-08-03      1616.58
60      131 2024-03-13      1629.81
61      116 2023-08-12      1676.34
62      231 2024-03-26        54.74
63       98 2023-07-02      1161.96
64      195 2023-06-25       802.54
65      106 2023-03-23       761.07
66      201 2023-04-04       609.03
67       33 2023-08-08       511.55
68      142 2024-03-01       308.43
69      222 2024-02-15       642.76
70      225 2023-04-26      1338.04
71      122 2024-01-30      1044.89
72      197 2023-09-16       107.31
73        3 2024-03-19       549.07
74      221 2023-03-14      1851.65
75       39 2024-03-16       424.63
76      170 2023-08-27      1994.76
77       18 2024-03-25      1653.05
78       81 2023-08-22      1752.70
79       91 2023-06-03      1662.90
80      137 2024-03-24      1110.14
81      118 2024-02-21       267.10
82      228 2023-08-30      1751.23
83       54 2023-12-18       883.25
84      144 2023-10-22      1510.52
85       16 2023-05-24      1119.44
86       70 2023-11-20       873.94
87      172 2023-12-09       348.64
88      203 2023-04-13       477.58
89       37 2024-01-06      1465.27
90      163 2024-03-04      1753.11
91       51 2023-06-22      1345.74
92       74 2024-03-08       481.60
93      115 2023-08-13      1980.79
94      166 2023-01-31       429.40
95      155 2023-03-04      1392.36
96      165 2023-01-04       779.45
97      110 2023-11-13      1817.77
98      191 2023-11-22      1346.36
99       62 2023-01-28       745.35
100     240 2023-06-02      1308.35
101      73 2024-03-17       245.85
102     249 2024-02-25      1369.23
103     187 2023-12-21      1203.45
104     246 2024-03-11       676.24
105      82 2023-02-06       259.78
106     176 2023-09-27      1811.81
107      69 2024-02-24      1557.40

In [56]:
# Task 6.2: Join Orders and Order Items
# TODO: Create 'orders_with_items' by inner joining orders with order_items
#       Join on OrderID


orders_with_items <- inner_join(orders, order_items, by = "OrderID")
print(orders_with_items)


cat("========== ORDERS WITH ITEMS ==========\n")
cat("Total rows:", nrow(orders_with_items), "\n")
head(orders_with_items, 5)

    OrderID CustomerID Order_Date Total_Amount ProductID Quantity Unit_Price
1         1         87 2023-08-30       424.30         2        3     115.72
2         1         87 2023-08-30       424.30        22        5     206.62
3         1         87 2023-08-30       424.30        26        5      61.75
4         3         37 2024-03-19       549.07        19        1     474.92
5         6        101 2023-07-22       189.85        32        4     272.64
6         6        101 2023-07-22       189.85        28        3      54.62
7         7          4 2023-05-01       482.98         7        2     360.11
8         8         21 2023-12-25       614.96         3        2     432.32
9         8         21 2023-12-25       614.96        21        3     217.05
10       10        100 2023-06-08      1674.36         5        2     120.64
11       11        102 2023-06-15      1267.23        12        4     478.33
12       12        105 2023-10-02      1513.43         3        1     395.26
13       12        105 2023-10-02      1513.43        35        3     349.88
14       12        105 2023-10-02      1513.43        44        1     125.61
15       13         16 2024-01-24      1786.60        10        1     360.96
16       13         16 2024-01-24      1786.60        18        5     385.06
17       13         16 2024-01-24      1786.60        26        4     194.13
18       13         16 2024-01-24      1786.60        27        4      37.04
19       14          8 2023-10-01      1546.45         1        1      43.07
20       15          5 2023-12-27       560.36        45        2     289.25
21       15          5 2023-12-27       560.36        23        4     480.63
22       15          5 2023-12-27       560.36        11        2     219.86
23       16         43 2023-05-24      1119.44         9        3     497.19
24       16         43 2023-05-24      1119.44        16        2     239.92
25       16         43 2023-05-24      1119.44        10        2     488.67
26       17         81 2023-12-09       933.70        43        5     285.93
27       18         39 2024-03-25      1653.05        13        2     401.41
28       19        103 2023-10-09       537.43        20        2     145.30
29       19        103 2023-10-09       537.43        45        4     355.59
30       19        103 2023-10-09       537.43        15        4     359.74
31       19        103 2023-10-09       537.43        47        1     286.03
32       19        103 2023-10-09       537.43        12        1     411.54
33       20         20 2023-10-30      1236.63        20        5      28.51
34       20         20 2023-10-30      1236.63        22        4     157.86
35       21         61 2023-10-09       127.02        29        2      70.26
36       21         61 2023-10-09       127.02        22        3     194.48
37       21         61 2023-10-09       127.02         4        5     496.33
38       21         61 2023-10-09       127.02        30        1     182.25
39       21         61 2023-10-09       127.02        21        5     290.92
40       22         60 2024-01-11       682.57         5        3     166.79
41       22         60 2024-01-11       682.57        10        4     234.86
42       23         83 2023-01-10       966.45        26        1     225.06
43       24         74 2024-01-07       452.70        41        2      82.01
44       25         24 2023-09-28      1361.31        47        4     147.36
45       25         24 2023-09-28      1361.31        22        2     252.35
46       26         21 2023-02-25       767.84         8        3      36.31
47       27         76 2023-08-13       416.66        41        4     191.12
48       27         76 2023-08-13       416.66        14        1     100.15
49       27         76 2023-08-13       416.66        38        2     260.60
50       28         83 2023-12-16      1743.95        50        2     248.42
51       29          3 2023-03-07       441.06        41        3     462.77
52       29          3 2023-03-07       441.06         6        1     243.97
53       29          3 2023-03-07       441.06        13        5     437.39
54       29          3 2023-03-07       441.06         6        5     370.92
55       30         82 2023-03-13      1173.41        31        2     117.09
56       30         82 2023-03-13      1173.41        43        2     187.89
57       30         82 2023-03-13      1173.41        23        1     148.87
58       32         99 2024-03-29       916.28        46        3     143.18
59       33         34 2023-08-08       511.55        34        4     428.66
60       33         34 2023-08-08       511.55         8        5     131.05
61       34         79 2023-03-13      1649.32        43        2     488.55
62       34         79 2023-03-13      1649.32        41        2     465.64
63       35         93 2023-12-10      1303.57        19        4     141.66
64       35         93 2023-12-10      1303.57        17        3     438.32
65       37         45 2024-01-06      1465.27         6        2     158.86
66       38         20 2023-03-04      1540.53        32        1     261.48
67       39         38 2024-03-16       424.63        18        5     495.27
68       39         38 2024-03-16       424.63        13        5      89.12
69       41        101 2023-05-21      1586.55        17        3     292.66
70       43         22 2024-02-15      1257.21        30        2      41.36
71       45         13 2023-02-13       939.66        20        3     189.44
72       45         13 2023-02-13       939.66        48        4     205.89
73       45         13 2023-02-13       939.66        28        1     111.64
74       46         70 2023-02-20      1685.18        40        2      65.94
75       47         62 2023-11-10       458.86        20        1     394.16
76       47         62 2023-11-10       458.86        11        1     389.34
77       48         77 2024-03-05      1437.02        42        4     157.84
78       48         77 2024-03-05      1437.02        10        5     103.57
79       48         77 2024-03-05      1437.02        45        1     152.33
80       48         77 2024-03-05      1437.02        47        4     347.64
81       49         77 2023-10-27      1289.40        29        2     156.64
82       50        102 2023-05-25       196.58        33        4      68.69
83       50        102 2023-05-25       196.58        26        4     180.44
84       51         46 2023-06-22      1345.74        44        1     393.76
85       52        103 2023-03-12       939.30        27        4     283.59
86       52        103 2023-03-12       939.30        25        1     150.77
87       52        103 2023-03-12       939.30        11        5     234.24
88       52        103 2023-03-12       939.30         2        2      45.97
89       52        103 2023-03-12       939.30         8        1     450.50
90       52        103 2023-03-12       939.30        32        3     370.41
91       52        103 2023-03-12       939.30        40        5     335.27
92       53          8 2023-06-11       404.78         4        2      79.32
93       53          8 2023-06-11       404.78         5        3     146.96
94       53          8 2023-06-11       404.78        13        5     361.05
95       54         42 2023-12-18       883.25        29        1      84.76
96       56         26 2023-06-01      1897.69        25        5      90.80
97       57         82 2023-02-10      1950.39        18        5     342.70
98       57         82 2023-02-10      1950.39        47        5     392.13
99       57         82 2023-02-10      1950.39        15        5     262.70
100      58         84 2023-05-07       880.59        19        3     321.92
101      58         84 2023-05-07       880.59        23        2     270.52
102      58         84 2023-05-07       880.59        46        1     119.76
103      60        101 2023-10-18      1603.40        21        4     302.39
104      60        101 2023-10-18      1603.40        37        2     275.87
105      61          4 2024-01-19       666.43        40        2     185.35
106      62         50 2023-01-28       745.35         2        1     309.94
107      62         50 2023-01-28       745.35        31        2     316.78
108      63        103 2024-03-30       830.97        31        1      75.93
109      63        103 2024-03-30       830.97        28        4      27.23
110      65        101 2023-07-21      1244.08        35        2     297.78
111      65        101 2023-07-21      1244.08        26        5     217.37
112      65        101 2023-07-21      1244.08        30        1     458.85
113      66         63 2023-07-09      1983.03        16        3     441.69
114      66         63 2023-07-09      1983.03        14        2     194.79
115      66         63 2023-07-09      1983.03        43        5     333.72
116      66         63 2023-07-09      1983.03         7        2     118.05
117      66         63 2023-07-09      1983.03        19        5     102.39
118      67        101 2023-08-06      1687.85        26        2     169.50
119      67        101 2023-08-06      1687.85         6        3     360.30
120      68         27 2024-01-31      1950.63         5        5     300.90
121      68         27 2024-01-31      1950.63        35        1      91.50
122      69         54 2024-02-24      1557.40        20        4     112.74
123      70         43 2023-11-20       873.94        35        1     220.33
124      70         43 2023-11-20       873.94         4        1     323.32
125      70         43 2023-11-20       873.94        32        4     322.86
126      71          7 2023-01-18      1846.62        22        4     337.54
127      71          7 2023-01-18      1846.62        29        2     308.58
128      72        105 2023-05-15       834.84        36        2     188.12
129      73         51 2024-03-17       245.85        10        3     335.54
130      73         51 2024-03-17       245.85        21        5     397.80
131      75         67 2023-04-25      1958.61         5        4     293.35
132      77        103 2023-08-25       820.74        26        3     187.09
133      78         11 2023-12-10      1668.95        39        2      37.02
134      78         11 2023-12-10      1668.95        26        3     201.90
135      79        103 2023-10-05      1031.61        47        2     266.33
136      80         91 2023-04-21      1325.73        32        3     388.55
137      80         91 2023-04-21      1325.73        34        1     314.62
138      82         53 2023-02-06       259.78        15        4     357.72
139      82         53 2023-02-06       259.78         1        1     243.63
140      82         53 2023-02-06       259.78         8        4     316.08
141      84        103 2023-04-22       680.65        46        2      72.54
142      84        103 2023-04-22       680.65        16        3     190.58
143      84        103 2023-04-22       680.65        35        1     189.79
144      84        103 2023-04-22       680.65        10        4      44.82
145      85         55 2024-03-22      1286.26         6        3     318.66
146      85         55 2024-03-22      1286.26        49        5     281.02
147      85         55 2024-03-22      1286.26        25        2     270.63
148      85         55 2024-03-22      1286.26        28        1     487.49
149      87          1 2023-03-28       716.18        36        2     340.30
150      88        103 2023-09-20       444.85        33        2     106.78
151      88        103 2023-09-20       444.85        17        5      47.77
152      88        103 2023-09-20       444.85        29        4      53.54
153      90        102 2023-12-17      1499.38        15        3     341.74
154      91         40 2023-06-03      1662.90        17        4     418.48
155      91         40 2023-06-03      1662.90        33        4     311.44
156      92         17 2023-03-09      1578.93        46        5      10.95
157      92         17 2023-03-09      1578.93        37        5      19.38
158      93        102 2023-06-10      1362.33        30        5     495.60
159      93        102 2023-06-10      1362.33        37        5     226.61
160      95        101 2023-05-26       846.82        23        1     129.11
161      95        101 2023-05-26       846.82         8        1     351.27
162      95        101 2023-05-26       846.82        48        1     100.50
163      96         68 2023-02-11      1295.56        33        2     432.75
164      97        105 2023-07-26       279.12        45        2     367.88
165      97        105 2023-07-26       279.12         2        5     346.71
166      97        105 2023-07-26       279.12        26        4     101.99
167      98         32 2023-07-02      1161.96        49        4     452.54
168      98         32 2023-07-02      1161.96        26        3     150.51
169      99         26 2024-02-25      1182.57        27        4     186.70
170      99         26 2024-02-25      1182.57        12        3     198.03
171     100         72 2023-05-01      1015.95        14        1     368.75
172     101         30 2023-08-03      1616.58        47        3     132.14
173     101         30 2023-08-03      1616.58        49        5     136.70
174     102         69 2024-01-09       770.51        47        5     390.20
175     102         69 2024-01-09       770.51        38        5     209.02
176     103         19 2024-02-21       677.87        19        2     475.46
177     104        105 2023-08-18       257.40        45        1     199.72
178     105         19 2024-01-21       669.68         1        4     314.71
179     106         33 2023-03-23       761.07        32        1     419.04
180     107         10 2023-01-04       221.89        43        3     125.86
181     108         88 2023-05-29      1488.84         1        5      39.13
182     108         88 2023-05-29      1488.84        11        1      31.41
183     108         88 2023-05-29      1488.84        47        5     341.17
184     109         96 2023-09-15       116.21        11        2      98.10
185     110         49 2023-11-13      1817.77         9        5     156.05
186     110         49 2023-11-13      1817.77        29        5      71.22
187     111          9 2023-01-04       251.17         7        5     227.25
188     111          9 2023-01-04       251.17        13        1     276.30
189     112         60 2024-03-15       507.81         5        2     346.86
190     112         60 2024-03-15       507.81        17        5     361.99
191     113        104 2024-01-02       384.12         5        4     482.98
192     114        105 2023-04-24      1294.70        44        5      61.17
193     115         47 2023-08-13      1980.79        30        2     122.26
194     115         47 2023-08-13      1980.79        34        2     461.36
195     116         31 2023-08-12      1676.34         7        3      29.38
196     116         31 2023-08-12      1676.34        10        5      40.58
197     117         69 2023-03-29       183.39         3        4      66.53
198     118         41 2024-02-21       267.10         2        5     442.09
199     118         41 2024-02-21       267.10        35        3     239.67
200     119         75 2023-06-01      1095.76        35        3     134.73
201     119         75 2023-06-01      1095.76        25        3      57.15
202     119         75 2023-06-01      1095.76        26        4     217.63
203     119         75 2023-06-01      1095.76        49        3     216.07
204     120         59 2023-06-09      1570.76        26        3     438.82
205     120         59 2023-06-09      1570.76        36        3     323.05
206     122         36 2024-01-30      1044.89        12        4     245.27
207     122         36 2024-01-30      1044.89        44        1      62.97
208     123        102 2024-02-04       100.01         1        4     372.51
209     123        102 2024-02-04       100.01        48        3      16.75
210     124         22 2023-01-29      1972.63        43        3     328.55
211     126         95 2023-05-01      1242.76        14        3     449.51
212     127         71 2024-03-28      1437.77        17        4     237.62
213     127         71 2024-03-28      1437.77        17        3     434.82
214     128        103 2023-08-15      1213.16        39        2     417.53
215     129         23 2023-04-26      1419.60        10        5     260.42
216     129         23 2023-04-26      1419.60        11        5     325.35
217     129         23 2023-04-26      1419.60        20        2      34.91
218     129         23 2023-04-26      1419.60         9        2      65.23
219     130         56 2023-01-01       693.23        26        2     270.36
220     130         56 2023-01-01       693.23        35        1     415.84
221     130         56 2023-01-01       693.23        26        2     466.37
222     132         18 2023-01-21       182.98        48        2     405.50
223     132         18 2023-01-21       182.98        14        3      31.52
224     133         85 2023-07-06       992.27        43        4      60.43
225     135        105 2024-03-07      1162.85        48        5     290.51
226     135        105 2024-03-07      1162.85        21        3     363.05
227     135        105 2024-03-07      1162.85        41        1     416.46
228     136         86 2023-03-14       482.64         1        1     205.39
229     136         86 2023-03-14       482.64        46        5     353.14
230     138         62 2023-08-05       535.22        39        2      77.88
231     138         62 2023-08-05       535.22         2        2     405.00
232     138         62 2023-08-05       535.22        46        1     353.73
233     138         62 2023-08-05       535.22         3        2     459.10
234     139        101 2024-03-07       696.61         8        3     158.88
235     139        101 2024-03-07       696.61        16        2     154.06
236     139        101 2024-03-07       696.61        48        3     225.21
237     140         91 2024-01-17        50.24        35        1     341.15
238     141         86 2023-12-08      1777.99        39        5     145.26
239     142         34 2024-03-01       308.43        11        4     254.39
240     142         34 2024-03-01       308.43        37        4     341.63
241     142         34 2024-03-01       308.43        24        3     171.11
242     143         25 2024-03-29      1594.90        32        5     353.96
243     144         42 2023-10-22      1510.52         3        2      33.89
244     144         42 2023-10-22      1510.52        25        3      78.58
245     144         42 2023-10-22      1510.52        12        5     190.07
246     145        101 2023-02-02        87.76        37        5     152.67
247     145        101 2023-02-02        87.76        30        1     176.68
248     146          3 2023-04-10        85.28        14        2     216.39
249     147         15 2024-01-27       718.29        48        3      27.54
250     147         15 2024-01-27       718.29        25        5     116.65
251     147         15 2024-01-27       718.29        15        4     314.27
252     147         15 2024-01-27       718.29        15        5     224.77
253     149         79 2024-02-29      1067.26        25        5     462.06
254     150          5 2023-03-28       278.89         9        1     119.73
255     150          5 2023-03-28       278.89         6        4     470.51
256     151         29 2023-01-12      1097.21        22        3     393.29
257     152        102 2024-02-21      1568.21        18        4     249.61
258     152        102 2024-02-21      1568.21        11        4     484.48

  OrderID CustomerID Order_Date Total_Amount ProductID Quantity Unit_Price
1 1        87        2023-08-30 424.30        2        3        115.72
2 1        87        2023-08-30 424.30       22        5        206.62
3 1        87        2023-08-30 424.30       26        5         61.75
4 3        37        2024-03-19 549.07       19        1        474.92
5 6       101        2023-07-22 189.85       32        4        272.64

## Part 7: String Manipulation & Date/Time Operations (Lesson 7)

**Skills Assessed:** stringr functions, lubridate functions

**Your Tasks:**
1. Clean text data
2. Parse dates
3. Extract date components

In [57]:
# Task 7.1: Clean Text Data
# TODO: Add these columns to sales_enhanced using mutate():
#   - region_clean: Region with trimmed whitespace and Title Case
#   - category_clean: Product_Category with trimmed whitespace and Title Case


sales_enhanced <- sales_enhanced %>%
  mutate(
    # Your code here:
    region_clean = str_to_title(Region),
    region_clean = str_to_title(region_clean),
    category_clean = str_to_title(Product_Category),
    category_clean = str_trim(category_clean)
  )

cat("========== CLEANED TEXT DATA ==========\n")
head(sales_enhanced %>% select(Region, region_clean, Product_Category, category_clean), 5)

========== CLEANED TEXT DATA ==========

  Region        region_clean  Product_Category category_clean
1 Latin America Latin America Services         Services
2 Europe        Europe        Hardware         Hardware
3 Europe        Europe        Services         Services
4 Europe        Europe        Hardware         Hardware
5 Latin America Latin America Software         Software

In [58]:
# Task 7.2: Parse Dates and Extract Components
# TODO: Add these date-related columns using mutate():
#   - date_parsed: Parse Sale_Date column (use ymd(), mdy(), or dmy() as appropriate) ymd
#   - sale_month: Extract month name from date_parsed
#   - sale_weekday: Extract weekday name from date_parsed


sales_enhanced <- sales_enhanced %>%
  mutate(
    # Your code here:
    date_parsed = ymd(Sale_Date),
    sale_month = month(date_parsed),
    sale_weekday = wday(date_parsed, label = TRUE, abbr = FALSE)
  )

cat("========== DATE COMPONENTS ==========\n")
head(sales_enhanced %>% select(Sale_Date, date_parsed, sale_month, sale_weekday), 5)

========== DATE COMPONENTS ==========

  Sale_Date  date_parsed sale_month sale_weekday
1 2023-04-24 2023-04-24  4          Monday
2 2023-06-09 2023-06-09  6          Friday
3 2023-03-25 2023-03-25  3          Saturday
4 2023-04-11 2023-04-11  4          Tuesday
5 2023-08-26 2023-08-26  8          Saturday

## Part 8: Advanced Wrangling & Business Intelligence (Lesson 8)

**Skills Assessed:** case_when(), complex logic, KPIs

**Your Tasks:**
1. Create business categories with case_when()
2. Calculate KPIs
3. Generate executive summary

In [59]:
# Task 8.1: Create Performance Categories
# TODO: Add 'performance_tier' column using case_when():
#   - "High" if Revenue > 25000
#   - "Medium" if Revenue > 15000
#   - "Low" otherwise

sales_enhanced <- sales_enhanced %>%
  mutate(
    performance_tier = case_when(
      # Your code here:
      Revenue > 25000 ~ "High",
      Revenue > 15000 ~ "Medium",
      TRUE ~ "Low"
    )
  )

cat("========== PERFORMANCE TIERS ==========\n")
table(sales_enhanced$performance_tier)

========== PERFORMANCE TIERS ==========

  High    Low Medium
   154     74     72

In [60]:
# Task 8.2: Calculate Business KPIs
# TODO: Create 'business_kpis' with these metrics:
#   - total_revenue: sum of Revenue
#   - total_transactions: count of rows
#   - avg_transaction_value: mean of Revenue
#   - high_value_pct: percentage where high_value = "Yes"

business_kpis <- sales_enhanced %>%
  summarize(
    total_revnue = sum(Revenue),
    total_transactions = n(),
    avg_transactions = mean(Revenue),
    high_value_pct = mean(performance_tier == "High") *100
    # Your code here:
    
  )

cat("========== BUSINESS KPIs ==========\n")
print(business_kpis)

========== BUSINESS KPIs ==========
  total_revnue total_transactions avg_transactions high_value_pct
1      7771711                300          25905.7       51.33333

## Part 9: Reflection Questions

Answer the following questions based on your analysis.

### Question 9.1: Data Cleaning Impact

**How did handling missing values and outliers affect your analysis? Why is data cleaning important before performing business analysis?**

Your answer here:
When missing values and outliers make their way into calculations when they shouldn't, results get skewed. Which is why its important to clean data. A clean version of data should be made before analysis to catch any rows that are empty, null etc. Example: if a table has missing values as 0's, if these values were not removed before creating an average purchase value column, the results would be a low lower than what they really were. Businesses use these numbers to make important decisions. If calculations are not correct because the data was not cleaned properly, this can lead to the wrong decisions being made.

### Question 9.2: Grouped Analysis Value

**What insights did you gain from the regional and category summaries that you couldn't see in the raw data? How can businesses use this type of grouped analysis?**

Your answer here: The summaries allowed me to easily see the top performing regions and categories, which where Consulting Asia Pacific. Businesses can use this type of grouped analysis to visualize what proportion of their revenue comes from highly profitable products and top performing products. Grouping like this is great because it would take much longer to come to these conclusions using the unsorted, raw data.

### Question 9.3: Data Reshaping Purpose

**Why would you need to reshape data between wide and long formats? Provide a business scenario where each format would be useful.**

Your answer here:
Wide data is great for presenting insights to others. For example, to display performance by quarter for each product category or store location.

Long data is what perfered for computer applications like R while running analysis. Long data may also be good to visualize something over time. Example: displaying a particular product's change in revenue over the past 12 months.

### Question 9.4: Joining Datasets

**What is the difference between left_join() and inner_join()? When would you use each one in a business context?**

Your answer here:
Inner join only keeps data that have matching values in both rows. Example: an organization would only like to view information on their volunteers who are involved with two separate departments. They should use inner join to select employee id's who are listed in both spreadsheets.
Left join keeps all rows from one table and adds only the matching values from the right. An example of where this would be used is if there is a master database present for something like sales and you would like to add information about suppliers. You could join those valued with a matching productid column.

### Question 9.5: Skills Integration

**Which R data wrangling skill (from Lessons 1-8) do you think is most valuable for business analytics? Why?**

Your answer here:
I found data transformation in lesson 4 important as that's where we learned how to use mutate(), summarize(), and group_by(). Just those few functions can reveal important insights, group tables by certain columns, create a narrative, and calculate important metrics that aren't already present in the data which is significant as these things are what are used to inform business decisions.

## Exam Complete!

### What You've Demonstrated

âœ… **Lesson 1:** R basics and data import
âœ… **Lesson 2:** Data cleaning (missing values & outliers)
âœ… **Lesson 3:** Data transformation (select, filter, arrange)
âœ… **Lesson 4:** Advanced transformation (mutate, summarize, group_by)
âœ… **Lesson 5:** Data reshaping (pivot_longer, pivot_wider)
âœ… **Lesson 6:** Combining datasets (joins)
âœ… **Lesson 7:** String manipulation & date/time operations
âœ… **Lesson 8:** Advanced wrangling & business intelligence

### Submission Checklist

Before submitting, ensure:
- [ ] All code cells run without errors
- [ ] All TODO sections completed
- [ ] All required dataframes created with correct names
- [ ] All 5 reflection questions answered
- [ ] Student name and ID filled in at top

**Good work! ðŸŽ‰**