# Homework Assignment - Lesson 3: Data Transformation with dplyr - Part 1

**Student Name:** [Anathalia Marc-Charles]

**Due Date:** [9/21/2025]

**Objective:** Learn to use dplyr functions (`select()`, `filter()`, `arrange()`) and the pipe operator (`%>%`) for data transformation and analysis.

---

## Instructions

- Complete all tasks in this notebook
- Use the pipe operator (`%>%`) wherever possible to chain operations
- Ensure your code is well-commented and easy to understand
- Run all cells to verify your code works correctly
- Answer all reflection questions at the end

---

## Part 1: Data Import and Setup

In this section, you'll import the retail transactions dataset and perform initial exploration.

**Dataset:** `retail_transactions.csv` - This dataset contains transaction records from a retail business with information about customers, products, dates, amounts, and quantities.

In [71]:
# Load required libraries
library(tidyverse)

getwd()
setwd("/workspaces/assignment-2-version3-anathaliajmc/data") # Set working directory if needed
getwd() # setwd("path/to/your/data")

# Task 1.1: Import the retail_transactions.csv file
# Create a data frame named 'transactions'
# Note: Import the retail_transactions.csv file

# Your code here:
transactions <- read.csv("/workspaces/assignment-2-version3-anathaliajmc/data/retail_transactions.csv")

# Display success message
cat("Data imported successfully!\n")
cat("Dataset dimensions:", nrow(transactions), "rows x", ncol(transactions), "columns\n")

[1] "/workspaces/assignment-2-version3-anathaliajmc/data"

[1] "/workspaces/assignment-2-version3-anathaliajmc/data"

Data imported successfully!
Dataset dimensions: 500 rows x 9 columns

In [92]:
# Task 1.2: Initial Exploration

# Display the first 10 rows
cat("First 10 rows of the dataset:\n")
# Your code here:
head(transactions, 10)

# Check the structure of the dataset
cat("\nDataset structure:\n")
# Your code here:
str(transactions)
summary(transactions)

# Display column names and their data types
cat("\nColumn names:\n")
# Your code here:
colnames(transactions)

First 10 rows of the dataset:

   TransactionID CustomerID CustomerName CustomerCity ProductName
1   1            81         Customer 39  Chicago      Adidas Jacket
2   2            13         Customer 63  Philadelphia Samsung TV
3   3            18         Customer 98  Chicago      Adidas Jacket
4   4            76         Customer 39  Houston      Dell Laptop
5   5            86         Customer 45  New York     Nike Shoes
6   6            37         Customer 8   Philadelphia Adidas Jacket
7   7            45         Customer 83  New York     HP Printer
8   8            11         Customer 60  Chicago      Samsung TV
9   9            13         Customer 69  Houston      iPhone 14
10 10            55         Customer 24  Chicago      Sony Headphones
   ProductCategory TotalAmount Quantity TransactionDate
1  Clothing         632.39     3        2024-03-09
2  Music            114.28     3        2024-12-08
3  Computers       1289.24     7        2024-01-22
4  Computers        885.40     2        2024-07-02
5  Computers         95.95     5        2024-08-13
6  Electronics     1126.34     2        2024-04-15
7  Clothing          78.71     3        2024-05-02
8  Music            871.93     3        2024-04-30
9  Music           1347.56     8        2024-08-08
10 Books            633.51     1        2024-06-23

Dataset structure:
'data.frame':	500 obs. of  9 variables:
 $ TransactionID  : int  1 2 3 4 5 6 7 8 9 10 ...
 $ CustomerID     : int  81 13 18 76 86 37 45 11 13 55 ...
 $ CustomerName   : chr  "Customer 39" "Customer 63" "Customer 98" "Customer 39" ...
 $ CustomerCity   : chr  "Chicago" "Philadelphia" "Chicago" "Houston" ...
 $ ProductName    : chr  "Adidas Jacket" "Samsung TV" "Adidas Jacket" "Dell Laptop" ...
 $ ProductCategory: chr  "Clothing" "Music" "Computers" "Computers" ...
 $ TotalAmount    : num  632 114 1289 885 96 ...
 $ Quantity       : int  3 3 7 2 5 2 3 3 8 1 ...
 $ TransactionDate: chr  "2024-03-09" "2024-12-08" "2024-01-22" "2024-07-02" ...

 TransactionID     CustomerID     CustomerName       CustomerCity
 Min.   :  1.0   Min.   :  1.00   Length:500         Length:500
 1st Qu.:125.8   1st Qu.: 27.00   Class :character   Class :character
 Median :250.5   Median : 52.00   Mode  :character   Mode  :character
 Mean   :250.5   Mean   : 51.26
 3rd Qu.:375.2   3rd Qu.: 77.00
 Max.   :500.0   Max.   :100.00
 ProductName        ProductCategory     TotalAmount         Quantity
 Length:500         Length:500         Min.   :  27.66   Min.   :1.00
 Class :character   Class :character   1st Qu.: 393.81   1st Qu.:2.00
 Mode  :character   Mode  :character   Median : 763.64   Median :4.00
                                       Mean   : 758.69   Mean   :4.44
                                       3rd Qu.:1137.10   3rd Qu.:7.00
                                       Max.   :1499.52   Max.   :8.00
 TransactionDate
 Length:500
 Class :character
 Mode  :character

Column names:

[1] "TransactionID"   "CustomerID"      "CustomerName"    "CustomerCity"
[5] "ProductName"     "ProductCategory" "TotalAmount"     "Quantity"
[9] "TransactionDate"

## Part 2: Column Selection with `select()`

Practice different methods of selecting columns from your dataset.

In [93]:
# Task 2.1: Basic Selection
# Create 'basic_info' with TransactionID, CustomerID, ProductName, and TotalAmount

basic_info <- transactions %>%
  # Your code here:
  select(TransactionID, CustomerID, ProductName, TotalAmount) 


# Display the result
print("Basic Selection")
print(basic_info)

[1] "Basic Selection"
    TransactionID CustomerID     ProductName TotalAmount
1               1         81   Adidas Jacket      632.39
2               2         13      Samsung TV      114.28
3               3         18   Adidas Jacket     1289.24
4               4         76     Dell Laptop      885.40
5               5         86      Nike Shoes       95.95
6               6         37   Adidas Jacket     1126.34
7               7         45      HP Printer       78.71
8               8         11      Samsung TV      871.93
9               9         13       iPhone 14     1347.56
10             10         55 Sony Headphones      633.51
11             11        100      HP Printer      572.43
12             12         89   Adidas Jacket     1208.43
13             13         56     Dell Laptop     1337.94
14             14         19      Nike Shoes       32.29
15             15          1      Nike Shoes      602.79
16             16         78      HP Printer     1476.49
17             17          2 Sony Headphones      520.91
18             18          5     Dell Laptop     1012.57
19             19          7 Sony Headphones      834.08
20             20         27     Dell Laptop     1176.07
21             21         31      HP Printer      259.44
22             22         80       iPhone 14     1424.99
23             23         57      HP Printer      897.63
24             24         88      Nike Shoes     1168.05
25             25         97       iPhone 14      999.24
26             26         34       iPhone 14      504.96
27             27          6      HP Printer       88.45
28             28         54   Adidas Jacket      703.88
29             29          3      Samsung TV     1392.13
30             30         98      Samsung TV      294.82
31             31         11   Adidas Jacket     1219.37
32             32         21 Sony Headphones     1416.35
33             33         60       iPhone 14       82.98
34             34         62   Adidas Jacket      887.44
35             35         24      Samsung TV      536.69
36             36         47   Adidas Jacket      871.96
37             37         66      Nike Shoes     1080.28
38             38         55   Adidas Jacket       42.27
39             39         36 Sony Headphones       50.25
40             40         30 Sony Headphones      744.85
41             41         60       iPhone 14      247.98
42             42         59 Sony Headphones     1158.09
43             43         27 Sony Headphones      817.22
44             44          7       iPhone 14     1136.57
45             45          1       iPhone 14     1206.70
46             46         40      HP Printer      229.81
47             47         87      HP Printer       57.22
48             48         71       iPhone 14      935.30
49             49         17     Dell Laptop     1220.59
50             50         92      Nike Shoes      808.93
51             51         20      HP Printer     1397.43
52             52         31   Adidas Jacket     1246.39
53             53         32   Adidas Jacket      502.72
54             54         67      Nike Shoes      475.40
55             55         17 Sony Headphones      962.80
56             56         43   Adidas Jacket      124.82
57             57         84      Samsung TV      487.41
58             58         31   Adidas Jacket      952.01
59             59          9      Samsung TV      941.02
60             60         61      Nike Shoes      597.96
61             61         87     Dell Laptop     1491.96
62             62         32      Samsung TV     1424.38
63             63         88   Adidas Jacket      216.52
64             64          9   Adidas Jacket      913.13
65             65         94      Samsung TV      781.85
66             66         21   Adidas Jacket      960.77
67             67         23     Dell Laptop      304.06
68             68         28     Dell Laptop      140.76
69             69         70      Nike Shoes     1370.57
70             70         61       iPhone 14     1150.96
71             71         20     Dell Laptop     1411.95
72             72         15 Sony Headphones      162.98
73             73         50 Sony Headphones      906.83
74             74         57      Samsung TV      875.19
75             75         91   Adidas Jacket      378.17
76             76         35       iPhone 14      963.57
77             77         21      Samsung TV      329.58
78             78         59       iPhone 14     1124.15
79             79         52       iPhone 14      178.22
80             80         12       iPhone 14     1184.65
81             81         86     Dell Laptop       96.83
82             82         69   Adidas Jacket      570.82
83             83         65       iPhone 14      144.20
84             84         41       iPhone 14     1471.59
85             85         49      Nike Shoes      420.46
86             86         28   Adidas Jacket      722.72
87             87          3     Dell Laptop      191.97
88             88         96   Adidas Jacket      695.21
89             89         61      HP Printer      973.31
90             90         12     Dell Laptop      931.78
91             91         54      HP Printer      721.24
92             92          6       iPhone 14     1099.52
93             93         36   Adidas Jacket      676.93
94             94         85     Dell Laptop      521.86
95             95         51   Adidas Jacket     1349.26
96             96         90      Samsung TV      721.25
97             97          3   Adidas Jacket       68.81
98             98         46      Nike Shoes      789.00
99             99         54      Nike Shoes      129.02
100           100         66     Dell Laptop     1375.08
101           101          9      Nike Shoes      507.05
102           102         38 Sony Headphones      312.95
103           103         41 Sony Headphones      486.77
104           104         52     Dell Laptop     1428.17
105           105         81       iPhone 14      562.58
106           106         85     Dell Laptop      216.81
107           107         85   Adidas Jacket      565.04
108           108         41      HP Printer       91.71
109           109         60   Adidas Jacket     1016.07
110           110         51      Samsung TV      537.87
111           111         53       iPhone 14      431.35
112           112         99      Nike Shoes      316.79
113           113         98      HP Printer      443.01
114           114          3      Nike Shoes      445.93
115           115         20 Sony Headphones      768.14
116           116         22       iPhone 14      133.85
117           117         88   Adidas Jacket      268.52
118           118         43     Dell Laptop     1064.21
119           119         49      HP Printer     1043.34
120           120         29      Samsung TV      681.53
121           121         76 Sony Headphones      847.13
122           122         35   Adidas Jacket     1414.89
123           123         87   Adidas Jacket      292.25
124           124         78     Dell Laptop     1144.26
125           125         57       iPhone 14     1075.51
126           126         31     Dell Laptop      179.96
127           127         54   Adidas Jacket     1208.75
128           128         39   Adidas Jacket     1031.13
129           129         88   Adidas Jacket     1231.83
130           130         40     Dell Laptop      103.93
131           131         98   Adidas Jacket      869.20
132           132         80   Adidas Jacket      649.12
133           133         65 Sony Headphones     1326.27
134           134         22      Samsung TV      887.40
135           135         14      HP Printer      641.43
136           136         99      HP Printer     1487.44
137           137         14      HP Printer      463.25
138           138         59 Sony Headphones     1274.62
139           139         67 Sony Headphones     1154.62
140           140         70      Samsung TV      488.05
141           141         45   Adidas Jacket      965.32
142           142         75 Sony Headphones     1442.78
143           143         91      Samsung TV      688.87
144           144         93      Samsung TV     1368.21
145           145         11       iPhone 14      289.58
146           146         66       iPhone 14      361.78
147           147         60      Nike Shoes     1001.65
148           148         76       iPhone 14     1192.22
149           149         57     Dell Laptop      253.81
150           150         64 Sony Headphones     1499.52
151           151         88 Sony Headphones      827.63
152           152         24      HP Printer     1109.74
153           153         97      Samsung TV     1169.26
154           154         18 Sony Headphones     1491.62
155           155         21      Nike Shoes      491.01
156           156         86      Samsung TV      493.53
157           157         83      Nike Shoes      134.15
158           158         66   Adidas Jacket     1280.20
159           159         81 Sony Headphones      491.87
160           160         55       iPhone 14      163.68
161           161         63      Nike Shoes      299.82
162           162         68      Samsung TV      414.51
163           163         74      Nike Shoes      770.42
164           164         43      Samsung TV     1118.96
165           165         14     Dell Laptop      499.81
166           166         78     Dell Laptop      696.28
167           167         26 Sony Headphones      997.09
168           168         11      HP Printer      625.59
169           169         89 Sony Headphones     1322.63
170           170         95      Samsung TV     1365.47
171           171         31 Sony Headphones      242.68
172           172         31     Dell Laptop     1220.70
173           173         43      Nike Shoes     1064.89
174           174        100      HP Printer      713.34
175           175         89      Nike Shoes      587.96
176           176         31      HP Printer      162.68
177           177         87 Sony Headphones      425.44
178           178         42 Sony Headphones     1345.51
179           179         14      HP Printer      927.99
180           180         50     Dell Laptop     1316.78
181           181         17       iPhone 14      314.66
182           182         70       iPhone 14      453.17
183           183          5      Nike Shoes      616.11
184           184         83      HP Printer     1374.15
185           185         43 Sony Headphones      726.74
186           186         76      Samsung TV      569.47
187           187         64       iPhone 14     1488.95
188           188         35 Sony Headphones      782.31
189           189         15      Nike Shoes     1176.03
190           190         56     Dell Laptop      180.03
191           191        100      HP Printer      628.76
192           192         86 Sony Headphones      462.32
193           193         77     Dell Laptop      490.24
194           194         78      Samsung TV      245.20
195           195         70   Adidas Jacket      869.66
196           196         11      Nike Shoes     1428.35
197           197         30     Dell Laptop      571.85
198           198         67   Adidas Jacket     1126.44
199           199          9      Nike Shoes      322.00
200           200         15      Samsung TV      867.61
201           201          7       iPhone 14      979.23
202           202          4   Adidas Jacket     1154.91
203           203         32   Adidas Jacket     1011.00
204           204         12 Sony Headphones      446.82
205           205         89   Adidas Jacket      644.95
206           206         96       iPhone 14      525.91
207           207         79       iPhone 14      904.49
208           208         30       iPhone 14       81.27
209           209         27      HP Printer      551.16
210           210          8     Dell Laptop      890.11
211           211         27      Samsung TV      391.17
212           212         79     Dell Laptop     1437.43
213           213         70       iPhone 14      866.79
214           214         49      Nike Shoes      514.75
215           215         51      HP Printer      847.22
216           216         33      Samsung TV      493.89
217           217         85      HP Printer     1393.51
218           218         24     Dell Laptop      957.29
219           219         23   Adidas Jacket      235.06
220           220         78      Samsung TV      820.90
221           221         24 Sony Headphones      424.71
222           222         62      Samsung TV      623.34
223           223         41 Sony Headphones      529.65
224           224         31      Samsung TV      116.06
225           225          3 Sony Headphones     1133.73
226           226         85     Dell Laptop      215.33
227           227         20   Adidas Jacket      667.50
228           228         28   Adidas Jacket      459.68
229           229         37     Dell Laptop     1138.70
230           230          5      Samsung TV      533.08
231           231         16   Adidas Jacket     1445.64
232           232         91     Dell Laptop     1470.30
233           233         23   Adidas Jacket      825.83
234           234         96 Sony Headphones     1034.45
235           235         94      Samsung TV      940.10
236           236          6     Dell Laptop     1024.36
237           237         62      HP Printer     1403.78
238           238          7 Sony Headphones      589.71
239           239         79      HP Printer      769.09
240           240         62      HP Printer      178.55
241           241         18     Dell Laptop      491.55
242           242         41 Sony Headphones      261.12
243           243         46 Sony Headphones     1423.52
244           244         79     Dell Laptop     1453.94
245           245          3      Nike Shoes       82.05
246           246         51   Adidas Jacket     1060.51
247           247          7      HP Printer      546.49
248           248         98   Adidas Jacket     1015.05
249           249         95       iPhone 14      394.12
250           250          1      HP Printer      237.79
251           251         70   Adidas Jacket      277.70
252           252         64     Dell Laptop      305.12
253           253         30     Dell Laptop     1153.30
254           254         67      HP Printer     1027.15
255           255         78     Dell Laptop      535.79
256           256         51     Dell Laptop      883.89
257           257          5      HP Printer     1249.30
258           258         43       iPhone 14      720.84
259           259         23   Adidas Jacket     1333.49
260           260         56   Adidas Jacket      521.39
261           261         27      HP Printer     1422.31
262           262          4      Nike Shoes      360.99
263           263         69   Adidas Jacket      330.42
264           264         76      Nike Shoes     1365.62
265           265         79      Samsung TV      715.21
266           266         33     Dell Laptop     1376.67
267           267         90   Adidas Jacket      216.36
268           268         71      HP Printer     1105.76
269           269         88      Nike Shoes      238.90
270           270         84   Adidas Jacket      406.06
271           271         89      HP Printer     1070.57
272           272         20      HP Printer      895.48
273           273         81 Sony Headphones      304.54
274           274         91   Adidas Jacket     1132.28
275           275        100      Samsung TV       36.37
276           276         35   Adidas Jacket      314.71
277           277         48      HP Printer     1286.07
278           278         73      Samsung TV     1270.57
279           279         93      Samsung TV      654.35
280           280         17      HP Printer       77.02
281           281          7 Sony Headphones     1295.11
282           282         48     Dell Laptop       37.33
283           283         77      Samsung TV      728.18
284           284         82      Nike Shoes     1094.01
285           285         40      HP Printer      518.49
286           286         34      Nike Shoes     1380.35
287           287         11      Samsung TV      695.28
288           288         78       iPhone 14      393.37
289           289         16      Samsung TV      936.96
290           290         19       iPhone 14      266.67
291           291          9   Adidas Jacket     1316.92
292           292         29      HP Printer      834.69
293           293         73       iPhone 14     1284.33
294           294          2      Nike Shoes     1104.69
295           295         40      Nike Shoes      938.98
296           296         56      Samsung TV       54.92
297           297          7       iPhone 14     1487.43
298           298         57      Samsung TV      599.98
299           299         36      Samsung TV      708.66
300           300         85      Samsung TV      664.62
301           301         23 Sony Headphones      206.62
302           302        100      Samsung TV      238.82
303           303         95      Nike Shoes      992.51
304           304         28   Adidas Jacket      502.01
305           305         80      HP Printer      583.86
306           306         89      Nike Shoes      184.44
307           307         36      HP Printer      116.39
308           308          9      HP Printer      726.38
309           309         67      Nike Shoes      792.50
310           310         60      Nike Shoes      323.46
311           311         55     Dell Laptop      996.67
312           312         10      Samsung TV     1364.74
313           313         36      Samsung TV      803.93
314           314         73     Dell Laptop      798.78
315           315          1   Adidas Jacket       27.66
316           316         65 Sony Headphones      697.35
317           317         73      Nike Shoes     1407.51
318           318         27       iPhone 14       64.58
319           319         31      Samsung TV      411.66
320           320         67       iPhone 14      435.02
321           321         43      Nike Shoes     1230.65
322           322         83 Sony Headphones      539.52
323           323         33 Sony Headphones      357.76
324           324          6       iPhone 14      139.91
325           325         26      Samsung TV       41.59
326           326         43      Nike Shoes      760.69
327           327         52      Samsung TV     1165.45
328           328         24      Nike Shoes     1349.46
329           329         20      Nike Shoes      619.12
330           330         52   Adidas Jacket      469.06
331           331         52      Nike Shoes      286.74
332           332         42   Adidas Jacket      361.38
333           333         54      Nike Shoes      179.93
334           334         77      Samsung TV     1240.02
335           335         64     Dell Laptop     1318.32
336           336         82      Nike Shoes     1220.45
337           337         29   Adidas Jacket     1027.87
338           338         29      Samsung TV      784.41
339           339         41      Nike Shoes      220.97
340           340         54     Dell Laptop     1005.32
341           341         47 Sony Headphones     1469.91
342           342         16      Nike Shoes      318.62
343           343         68     Dell Laptop     1007.80
344           344         54 Sony Headphones     1222.95
345           345         44      Samsung TV     1446.47
346           346         64      Nike Shoes      916.81
347           347         54     Dell Laptop      910.46
348           348         94       iPhone 14     1011.00
349           349         11 Sony Headphones      504.76

In [94]:
# Task 2.2: Range Selection
# Create 'customer_details' with all columns from CustomerID to CustomerCity (inclusive)

customer_details <- transactions %>%
  # Your code here:
  select(CustomerID:CustomerCity)


# Display the result
cat("Customer details (first 5 rows):\n")
head(customer_details, 5)

Customer details (first 5 rows):

  CustomerID CustomerName CustomerCity
1 81         Customer 39  Chicago
2 13         Customer 63  Philadelphia
3 18         Customer 98  Chicago
4 76         Customer 39  Houston
5 86         Customer 45  New York

In [95]:
# Task 2.3: Pattern-Based Selection

# Create 'date_columns' with columns starting with "Date" or "Time"
date_columns <- transactions %>%
  # Your code here:
select(starts_with("Date") | starts_with("Time"))

# Create 'amount_columns' with columns containing the word "Amount"
amount_columns <- transactions %>%
  # Your code here:
select(contains("Amount"))

# Display column names for verification
cat("Date/Time columns:", names(date_columns), "\n")
cat("Amount columns:", names(amount_columns), "\n")

Date/Time columns:
Amount columns: TotalAmount

In [76]:
# Task 2.4: Exclusion Selection
# Create 'no_ids' without TransactionID and CustomerID columns

no_ids <- transactions %>%
  # Your code here:
select(-TransactionID, -CustomerID)

# Display column names for verification
cat("Columns after removing IDs:", names(no_ids), "\n")
cat("Number of columns:", ncol(no_ids), "\n")

Columns after removing IDs: CustomerName CustomerCity ProductName ProductCategory TotalAmount Quantity TransactionDate
Number of columns: 7

## Part 3: Row Filtering with `filter()`

Learn to filter rows based on various conditions.

In [96]:
# Task 3.1: Single Condition Filtering

# Filter transactions with TotalAmount > $100
high_value_transactions <- transactions %>%
  # Your code here:
filter(TransactionID > 100)

# Filter transactions from "Electronics" category
electronics_transactions <- transactions %>%
  # Your code here:
filter(ProductCategory == "Electronics")

# Display results
cat("High value transactions (>$100):", nrow(high_value_transactions), "rows\n")
cat("Electronics transactions:", nrow(electronics_transactions), "rows\n")

High value transactions (>$100): 400 rows
Electronics transactions: 93 rows

In [78]:
# Task 3.2: Multiple Condition Filtering (AND)
# Filter for TotalAmount > $50 AND Quantity > 1 AND CustomerCity == "New York"

ny_bulk_purchases <- transactions %>%
  # Your code here:
filter(TotalAmount > 50 & Quantity > 1 & CustomerCity == "New York")

# Display results
cat("NY bulk purchases:", nrow(ny_bulk_purchases), "rows\n")
if(nrow(ny_bulk_purchases) > 0) {
  head(ny_bulk_purchases)
}

NY bulk purchases: 75 rows

  TransactionID CustomerID CustomerName CustomerCity ProductName
1  5            86         Customer 45  New York     Nike Shoes
2  7            45         Customer 83  New York     HP Printer
3 15             1         Customer 52  New York     Nike Shoes
4 22            80         Customer 4   New York     iPhone 14
5 25            97         Customer 17  New York     iPhone 14
6 29             3         Customer 23  New York     Samsung TV
  ProductCategory TotalAmount Quantity TransactionDate
1 Computers         95.95     5        2024-08-13
2 Clothing          78.71     3        2024-05-02
3 Clothing         602.79     5        2024-01-05
4 Books           1424.99     7        2024-02-01
5 Movies           999.24     2        2024-02-03
6 Clothing        1392.13     5        2024-04-30

In [79]:
# Task 3.3: Multiple Condition Filtering (OR)
# Filter for ProductCategory = "Books" OR "Music" OR "Movies"

entertainment_transactions <- transactions %>%
  # Your code here:
filter(ProductCategory == "Books" | ProductCategory == "Music" | ProductCategory == "Movies")

# Display results
cat("Entertainment transactions:", nrow(entertainment_transactions), "rows\n")
if(nrow(entertainment_transactions) > 0) {
  head(entertainment_transactions)
}

Entertainment transactions: 227 rows

  TransactionID CustomerID CustomerName CustomerCity ProductName
1  2             13        Customer 63  Philadelphia Samsung TV
2  8             11        Customer 60  Chicago      Samsung TV
3  9             13        Customer 69  Houston      iPhone 14
4 10             55        Customer 24  Chicago      Sony Headphones
5 11            100        Customer 95  Philadelphia HP Printer
6 14             19        Customer 100 Phoenix      Nike Shoes
  ProductCategory TotalAmount Quantity TransactionDate
1 Music            114.28     3        2024-12-08
2 Music            871.93     3        2024-04-30
3 Music           1347.56     8        2024-08-08
4 Books            633.51     1        2024-06-23
5 Movies           572.43     6        2024-12-09
6 Books             32.29     3        2024-12-11

In [80]:
# Task 3.4: Date-Based Filtering
# Filter transactions from March 2024
# Note: Adjust the date format and column name based on your actual data

march_transactions <- transactions %>%
  # Your code here (you may need to convert date format first):
filter(as.Date(TransactionDate) >= as.Date("2024-03-01") & as.Date(TransactionDate)<= as.Date ("2024-03-31"))

# Display results
cat("March 2024 transactions:", nrow(march_transactions), "rows\n")

March 2024 transactions: 41 rows

In [81]:
# Task 3.5: Advanced Filtering Challenge
# Find customers who made purchases in both "Electronics" AND "Clothing" categories
# Hint: This requires identifying customers who appear in both categories

# Step 1: Find customers who bought Electronics
electronics_customers <- transactions %>%
  # Your code here:
filter(ProductCategory == "Electronics")

# Step 2: Find customers who bought Clothing
clothing_customers <- transactions %>%
  # Your code here:
filter(ProductCategory == "Clothing")

# Step 3: Find customers who bought both
both_categories_customers <- transactions %>% # Your code here:
filter(ProductCategory == "Electronics" & ProductCategory == "Clothing")

# Display results
cat("Customers who bought both Electronics and Clothing:", length(both_categories_customers), "customers\n")

Customers who bought both Electronics and Clothing: 9 customers

## Part 4: Data Sorting with `arrange()`

Practice sorting data by single and multiple columns.

In [82]:
# Task 4.1: Single Column Sorting

# Sort by TotalAmount ascending
transactions_by_amount_asc <- transactions %>%
  # Your code here:
arrange(TotalAmount)

# Sort by TotalAmount descending
transactions_by_amount_desc <- transactions %>%
  # Your code here:
arrange(desc(TotalAmount))

# Display top 5 of each
cat("Lowest amounts:\n")
head(transactions_by_amount_asc %>% select(CustomerName, ProductName, TotalAmount), 5)

cat("\nHighest amounts:\n")
head(transactions_by_amount_desc %>% select(CustomerName, ProductName, TotalAmount), 5)

Lowest amounts:

  CustomerName ProductName   TotalAmount
1 Customer 95  Adidas Jacket 27.66
2 Customer 100 Nike Shoes    32.29
3 Customer 50  Adidas Jacket 35.01
4 Customer 83  Samsung TV    36.37
5 Customer 69  Dell Laptop   37.33

Highest amounts:

  CustomerName ProductName     TotalAmount
1 Customer 60  Sony Headphones 1499.52
2 Customer 28  Dell Laptop     1491.96
3 Customer 81  Sony Headphones 1491.62
4 Customer 79  iPhone 14       1488.95
5 Customer 20  HP Printer      1487.44

In [83]:
# Task 4.2: Multiple Column Sorting
# Sort by CustomerCity (ascending), then by TotalAmount (descending)

transactions_by_city_amount <- transactions %>%
  # Your code here:
arrange(CustomerCity, desc(TotalAmount))

# Display first 10 rows
cat("Transactions sorted by city, then amount:\n")
head(transactions_by_city_amount %>% select(CustomerCity, CustomerName, ProductName, TotalAmount), 10)

Transactions sorted by city, then amount:

   CustomerCity CustomerName ProductName     TotalAmount
1  Chicago      Customer 18  iPhone 14       1487.43
2  Chicago      Customer 20  HP Printer      1476.49
3  Chicago      Customer 97  Dell Laptop     1459.42
4  Chicago      Customer 49  Dell Laptop     1453.94
5  Chicago      Customer 70  Nike Shoes      1428.35
6  Chicago      Customer 71  Samsung TV      1424.38
7  Chicago      Customer 62  Sony Headphones 1416.35
8  Chicago      Customer 11  Nike Shoes      1407.51
9  Chicago      Customer 99  HP Printer      1388.73
10 Chicago      Customer 49  Nike Shoes      1370.57

In [84]:
# Task 4.3: Date-Based Sorting
# Sort by TransactionDate chronologically (oldest first)

transactions_chronological <- transactions %>%
  # Your code here:
arrange(TransactionDate)

# Display first 5 transactions chronologically
cat("Earliest transactions:\n")
head(transactions_chronological %>% select(TransactionDate, CustomerName, ProductName, TotalAmount), 5)

Earliest transactions:

  TransactionDate CustomerName ProductName     TotalAmount
1 2024-01-01      Customer 62  Sony Headphones 1416.35
2 2024-01-01      Customer 99  Sony Headphones 1326.27
3 2024-01-02      Customer 83  Nike Shoes       808.93
4 2024-01-02      Customer 61  Adidas Jacket    502.72
5 2024-01-02      Customer 69  Adidas Jacket    277.70

## Part 5: Chaining Operations

Combine multiple dplyr operations using the pipe operator.

In [85]:
# Task 5.1: Simple Chain
# Filter TotalAmount > $75, select specific columns, arrange by TotalAmount descending

premium_purchases <- transactions %>%
  # Your code here:
filter(TotalAmount > 75) %>%
  select(TotalAmount, ProductCategory, TransactionDate) %>%
  arrange(desc(TotalAmount))

# Display results
cat("Premium purchases (>$75):\n")
head(premium_purchases, 10)

Premium purchases (>$75):

   TotalAmount ProductCategory TransactionDate
1  1499.52     Electronics     2024-03-03
2  1491.96     Computers       2024-08-15
3  1491.62     Books           2024-10-18
4  1488.95     Computers       2024-10-23
5  1487.44     Electronics     2024-05-02
6  1487.43     Computers       2024-07-15
7  1484.31     Movies          2024-12-24
8  1476.49     Electronics     2024-05-29
9  1473.27     Books           2024-04-14
10 1471.59     Computers       2024-11-16

In [86]:
# Task 5.2: Complex Chain
# Filter for Electronics/Computers, select columns, arrange by date/amount, keep top 20

recent_tech_purchases <- transactions %>%
  # Your code here:
filter(ProductCategory == "Electronics" | ProductCategory == "Computers") %>%
  select(ProductCategory, TotalAmount, TransactionDate) %>%
  arrange(TransactionDate)

# Display results
cat("Recent tech purchases (top 20):\n")
print(recent_tech_purchases)

Recent tech purchases (top 20):
    ProductCategory TotalAmount TransactionDate
1       Electronics     1416.35      2024-01-01
2       Electronics     1326.27      2024-01-01
3       Electronics      277.70      2024-01-02
4       Electronics      463.25      2024-01-03
5         Computers      185.86      2024-01-08
6         Computers      462.73      2024-01-08
7         Computers      997.09      2024-01-12
8       Electronics       96.83      2024-01-14
9         Computers     1011.00      2024-01-16
10      Electronics      216.36      2024-01-16
11      Electronics      584.87      2024-01-17
12        Computers     1136.57      2024-01-18
13      Electronics     1295.11      2024-01-21
14      Electronics     1296.63      2024-01-21
15        Computers     1289.24      2024-01-22
16      Electronics     1025.02      2024-01-25
17      Electronics      728.18      2024-01-27
18        Computers      491.01      2024-01-28
19        Computers      897.63      2024-01-30
20        Computers      887.00      2024-02-02
21      Electronics      981.39      2024-02-03
22        Computers       84.31      2024-02-04
23        Computers     1370.57      2024-02-06
24        Computers     1104.69      2024-02-07
25        Computers      124.82      2024-02-10
26      Electronics      488.05      2024-02-12
27      Electronics     1337.94      2024-02-15
28      Electronics      571.85      2024-02-15
29        Computers      691.52      2024-02-18
30        Computers      518.49      2024-02-19
31      Electronics      238.82      2024-02-20
32      Electronics      521.86      2024-02-21
33      Electronics     1424.38      2024-02-23
34        Computers      215.33      2024-02-23
35        Computers     1316.92      2024-02-23
36        Computers      504.96      2024-02-26
37        Computers      292.25      2024-02-27
38      Electronics      167.74      2024-02-27
39        Computers      393.96      2024-03-02
40      Electronics      721.25      2024-03-03
41      Electronics     1499.52      2024-03-03
42      Electronics     1158.09      2024-03-07
43      Electronics      312.95      2024-03-07
44      Electronics     1154.62      2024-03-07
45      Electronics      825.83      2024-03-10
46        Computers      469.06      2024-03-12
47      Electronics     1208.43      2024-03-14
48        Computers     1322.63      2024-03-15
49      Electronics      533.08      2024-03-18
50      Electronics      927.99      2024-03-19
51      Electronics      904.49      2024-03-20
52        Computers      178.22      2024-03-24
53      Electronics      289.58      2024-03-27
54        Computers     1316.78      2024-03-28
55        Computers      973.31      2024-04-04
56        Computers       82.05      2024-04-04
57        Computers     1211.88      2024-04-04
58      Electronics      574.09      2024-04-04
59        Computers      163.68      2024-04-06
60      Electronics      782.31      2024-04-07
61        Computers     1150.96      2024-04-08
62        Computers      498.09      2024-04-10
63      Electronics      413.87      2024-04-13
64      Electronics     1126.34      2024-04-15
65        Computers     1100.77      2024-04-15
66      Electronics      641.43      2024-04-17
67      Electronics     1138.70      2024-04-20
68      Electronics      938.98      2024-04-28
69      Electronics     1487.44      2024-05-02
70      Electronics      878.24      2024-05-02
71      Electronics       90.06      2024-05-03
72      Electronics      330.42      2024-05-06
73      Electronics       88.45      2024-05-07
74      Electronics      486.77      2024-05-09
75        Computers      152.75      2024-05-11
76      Electronics       69.27      2024-05-17
77        Computers      378.17      2024-05-25
78        Computers      242.68      2024-05-25
79      Electronics      527.65      2024-05-26
80        Computers     1148.92      2024-05-26
81      Electronics      229.81      2024-05-28
82      Electronics     1476.49      2024-05-29
83      Electronics      962.80      2024-05-30
84        Computers      979.23      2024-06-08
85      Electronics      520.91      2024-06-16
86      Electronics     1294.14      2024-06-16
87        Computers      761.71      2024-06-17
88      Electronics      975.72      2024-06-19
89        Computers     1400.34      2024-06-19
90      Electronics     1270.57      2024-06-22
91        Computers     1176.07      2024-06-25
92        Computers      396.36      2024-06-27
93        Computers      161.21      2024-06-27
94      Electronics       57.22      2024-06-28
95        Computers     1397.43      2024-06-28
96        Computers      885.40      2024-07-02
97      Electronics      162.98      2024-07-02
98        Computers      695.21      2024-07-06
99        Computers     1349.46      2024-07-07
100       Computers      695.28      2024-07-09
101       Computers     1070.57      2024-07-10
102       Computers      264.62      2024-07-11
103     Electronics      487.41      2024-07-12
104       Computers      493.89      2024-07-15
105       Computers     1487.43      2024-07-15
106       Computers     1208.75      2024-07-17
107     Electronics      361.78      2024-07-18
108       Computers     1396.56      2024-07-19
109     Electronics      312.11      2024-07-21
110       Computers     1220.45      2024-07-23
111       Computers      834.08      2024-07-24
112     Electronics     1428.17      2024-07-29
113       Computers      866.79      2024-07-29
114     Electronics     1274.62      2024-08-01
115       Computers      739.94      2024-08-01
116     Electronics     1080.28      2024-08-03
117     Electronics      178.55      2024-08-03
118     Electronics      393.37      2024-08-03
119       Computers      425.44      2024-08-04
120       Computers      906.83      2024-08-06
121       Computers      628.76      2024-08-10
122     Electronics      554.39      2024-08-11
123       Computers       95.95      2024-08-13
124       Computers     1043.34      2024-08-13
125       Computers     1491.96      2024-08-15
126       Computers     1284.31      2024-08-15
127       Computers      569.47      2024-08-17
128     Electronics     1327.99      2024-08-17
129     Electronics      406.06      2024-08-26
130     Electronics      514.75      2024-08-29
131       Computers      519.51      2024-08-29
132       Computers      594.66      2024-08-31
133       Computers       64.58      2024-09-03
134     Electronics     1222.95      2024-09-13
135       Computers      908.84      2024-09-13
136     Electronics      313.01      2024-09-15
137     Electronics     1246.39      2024-09-16
138     Electronics      708.66      2024-09-16
139     Electronics       67.87      2024-09-16
140     Electronics     1005.32      2024-09-17
141     Electronics      883.89      2024-09-23
142     Electronics      551.16      2024-09-25
143     Electronics      116.39      2024-09-25
144       Computers      546.49      2024-09-27
145     Electronics      913.13      2024-09-30
146       Computers      316.79      2024-09-30
147     Electronics      709.80      2024-09-30
148     Electronics     1124.15      2024-10-05
149     Electronics     1280.20      2024-10-05
150       Computers     1118.96      2024-10-07
151     Electronics      154.62      2024-10-07
152       Computers     1168.05      2024-10-08
153     Electronics      616.11      2024-10-08
154       Computers       42.27      2024-10-11
155     Electronics      784.41      2024-10-12
156       Computers      304.36      2024-10-12
157     Electronics     1163.50      2024-10-14
158       Computers     1488.95      2024-10-23
159       Computers      216.52      2024-11-01
160       Computers       82.98      2024-11-05
161       Computers      676.93      2024-11-05
162       Computers      362.38      2024-11-11
163       Computers     1284.33      2024-11-12
164     Electronics      216.81      2024-11-13
165       Computers     1471.59      2024-11-16
166       Computers     1365.62      2024-11-16
167       Computers      304.06      2024-11-21
168       Computers     1470.30      2024-11-25
169       Computers      972.35      2024-11-26
170       Computers      798.78      2024-11-28
171       Computers      937.37      2024-11-28
172     Electronics     1469.91      2024-11-30
173       Computers      424.71      2024-12-02
174     Electronics      116.06      2024-12-02
175     Electronics     1445.64      2024-12-02
176     Electronics      957.29      2024-12-04
177     Electronics      940.10      2024-12-04
178     Electronics      929.88      2024-12-06
179       Computers      314.66      2024-12-07
180       Computers      192.98      2024-12-10
181     Electronics     1231.83      2024-12-11
182       Computers      246.96      2024-12-12
183       Computers      140.76      2024-12-13
184       Computers     1220.59      2024-12-19
185       Computers     1433.31      2024-12-23
186     Electronics      700.12      2024-12-24
187       Computers      121.22      2024-12-25
188       Computers      206.62      2024-12-30
189     Electronics      539.52      2024-12-30

In [87]:
# Task 5.3: Business Intelligence Chain
# Identify high-value repeat customers (TotalAmount > $200)

high_value_customers <- transactions %>%
  # Your code here:
filter(TotalAmount > 200) %>%
arrange(desc(TotalAmount))

# Display results
cat("High-value customers:\n")
head(high_value_customers, 15)

High-value customers:

   TransactionID CustomerID CustomerName CustomerCity ProductName
1  150           64         Customer 60  New York     Sony Headphones
2   61           87         Customer 28  New York     Dell Laptop
3  154           18         Customer 81  Phoenix      Sony Headphones
4  187           64         Customer 79  Phoenix      iPhone 14
5  136           99         Customer 20  Phoenix      HP Printer
6  297            7         Customer 18  Chicago      iPhone 14
7  378           53         Customer 83  Philadelphia iPhone 14
8   16           78         Customer 20  Chicago      HP Printer
9  479           83         Customer 10  Houston      Dell Laptop
10  84           41         Customer 14  Phoenix      iPhone 14
11 232           91         Customer 11  New York     Dell Laptop
12 341           47         Customer 36  Houston      Sony Headphones
13 384           42         Customer 97  Chicago      Dell Laptop
14 468           32         Customer 47  Los Angeles  Dell Laptop
15 244           79         Customer 49  Chicago      Dell Laptop
   ProductCategory TotalAmount Quantity TransactionDate
1  Electronics     1499.52     2        2024-03-03
2  Computers       1491.96     7        2024-08-15
3  Books           1491.62     3        2024-10-18
4  Computers       1488.95     4        2024-10-23
5  Electronics     1487.44     1        2024-05-02
6  Computers       1487.43     2        2024-07-15
7  Movies          1484.31     3        2024-12-24
8  Electronics     1476.49     3        2024-05-29
9  Books           1473.27     1        2024-04-14
10 Computers       1471.59     7        2024-11-16
11 Computers       1470.30     1        2024-11-25
12 Electronics     1469.91     3        2024-11-30
13 Books           1459.42     3        2024-10-28
14 Books           1456.72     2        2024-02-02
15 Clothing        1453.94     5        2024-07-29

## Part 6: Data Analysis Questions

Answer the following questions using the datasets you've created.

In [88]:
# Question 6.1: Transaction Volume
# Count transactions in each filtered dataset

cat("Transaction counts by dataset:\n")
cat("High value transactions:", nrow(high_value_transactions), "\n")
cat("Electronics transactions:", nrow(electronics_transactions), "\n")
cat("NY bulk purchases:", nrow(ny_bulk_purchases), "\n")
cat("Entertainment transactions:", nrow(entertainment_transactions), "\n")
cat("March transactions:", nrow(march_transactions), "\n")
cat("Premium purchases:", nrow(premium_purchases), "\n")
cat("Recent tech purchases:", nrow(recent_tech_purchases), "\n")
cat("High value customers:", nrow(high_value_customers), "\n")

Transaction counts by dataset:
High value transactions: 400
Electronics transactions: 93
NY bulk purchases: 75
Entertainment transactions: 227
March transactions: 41
Premium purchases: 483
Recent tech purchases: 189
High value customers: 434

In [89]:
# Question 6.2: Top Customers
# Find the customer who appears most frequently in high_value_customers

if(nrow(high_value_customers) > 0) {
  customer_frequency <- high_value_customers %>%
    # Your code here to count customer appearances:
  count(CustomerName, sort = TRUE)
  
  cat("Most frequent high-value customer:\n")
  print(customer_frequency)
} else {
  cat("No high-value customers found\n")
}

Most frequent high-value customer:
   CustomerName  n
1   Customer 18 12
2   Customer 25 10
3   Customer 87 10
4   Customer 11  8
5   Customer 53  8
6   Customer 98  8
7    Customer 1  7
8   Customer 20  7
9   Customer 47  7
10  Customer 74  7
11  Customer 76  7
12  Customer 92  7
13  Customer 94  7
14  Customer 15  6
15  Customer 21  6
16  Customer 23  6
17  Customer 39  6
18  Customer 44  6
19  Customer 49  6
20  Customer 54  6
21   Customer 6  6
22  Customer 71  6
23  Customer 75  6
24  Customer 83  6
25  Customer 91  6
26  Customer 99  6
27  Customer 13  5
28  Customer 17  5
29  Customer 26  5
30  Customer 27  5
31  Customer 30  5
32  Customer 32  5
33  Customer 37  5
34   Customer 4  5
35  Customer 43  5
36  Customer 46  5
37  Customer 50  5
38  Customer 69  5
39  Customer 81  5
40  Customer 85  5
41  Customer 90  5
42  Customer 14  4
43  Customer 16  4
44  Customer 22  4
45  Customer 24  4
46  Customer 29  4
47   Customer 3  4
48  Customer 33  4
49  Customer 40  4
50  Customer 45  4
51  Customer 48  4
52  Customer 51  4
53  Customer 57  4
54  Customer 59  4
55  Customer 60  4
56  Customer 63  4
57  Customer 64  4
58  Customer 65  4
59  Customer 68  4
60  Customer 70  4
61  Customer 73  4
62  Customer 82  4
63   Customer 9  4
64  Customer 10  3
65  Customer 12  3
66   Customer 2  3
67  Customer 28  3
68  Customer 31  3
69  Customer 38  3
70  Customer 41  3
71  Customer 42  3
72   Customer 5  3
73  Customer 52  3
74  Customer 56  3
75  Customer 58  3
76  Customer 61  3
77  Customer 62  3
78  Customer 66  3
79  Customer 72  3
80   Customer 8  3
81  Customer 80  3
82  Customer 84  3
83  Customer 88  3
84  Customer 95  3
85  Customer 96  3
86 Customer 100  2
87  Customer 35  2
88  Customer 36  2
89  Customer 67  2
90  Customer 77  2
91  Customer 78  2
92  Customer 79  2
93  Customer 93  2
94  Customer 97  2
95  Customer 19  1
96  Customer 55  1
97   Customer 7  1
98  Customer 89  1

In [90]:
# Question 6.3: Product Analysis
# Find top 5 most expensive transactions in entertainment_transactions

if(nrow(entertainment_transactions) > 0) {
  top_entertainment <- entertainment_transactions %>%
    # Your code here:
  
  filter(ProductCategory == "Electronics" | ProductCategory == "Books" | ProductCategory == "Music" |ProductCategory == "Movies") %>%
  select(CustomerName, ProductName, TotalAmount, ProductCategory) %>%
  arrange(desc(TotalAmount)) %>%
  
  head(5)
  
  cat("Top 5 most expensive entertainment transactions:\n")
  print(top_entertainment)
} else {
  cat("No entertainment transactions found\n")
}

Top 5 most expensive entertainment transactions:
  CustomerName     ProductName TotalAmount ProductCategory
1  Customer 81 Sony Headphones     1491.62           Books
2  Customer 83       iPhone 14     1484.31          Movies
3  Customer 10     Dell Laptop     1473.27           Books
4  Customer 97     Dell Laptop     1459.42           Books
5  Customer 47     Dell Laptop     1456.72           Books

In [91]:
# Question 6.4: Geographic Analysis
# Find the city with the highest single transaction amount

highest_transaction_by_city <- transactions_by_city_amount %>%
  # Your code here:
select(CustomerCity, CustomerName, TotalAmount, ProductCategory, ProductName) %>%
arrange(desc(TotalAmount)) %>%
head(1)

cat("City with highest single transaction:\n")
print(highest_transaction_by_city)

City with highest single transaction:
  CustomerCity CustomerName TotalAmount ProductCategory     ProductName
1     New York  Customer 60     1499.52     Electronics Sony Headphones

## Part 7: Reflection Questions

Please answer the following questions in the markdown cells below.

### Question 7.1: Pipe Operator Benefits

**How does using the pipe operator (`%>%`) improve code readability compared to nested function calls? Provide a specific example from your homework.**

Your answer here:
Using the pipe operator in this assignment helped me to not have long lines of code that is difficult to read. It allows you to write one function on one line, and skip down and write another function on the next line. Without pipes, in Task 5.1: Simple Chain, the code would be one long line and it would be hard to figure out where one function starts and ends, especially since there is multiple columns being selected here and multiple commas and parentheses used for one function.

filter(TotalAmount > 75) %>%
  select(TotalAmount, ProductCategory, TransactionDate) %>%
  arrange(desc(TotalAmount)

### Question 7.2: Filtering Strategy

**When filtering data for business analysis, what are the trade-offs between being very specific (many conditions) versus being more general (fewer conditions)? How might this affect your insights?**

Your answer here:
Sometimes its important to be specific when filtering. For example, if you wanted to look for transactions over $100, it would be good to think about if you want to include transactions equal to $100 as well in your results. However, being less specific can be useful to catch patterns that you weren't even thinking about catching, and including more data will give you a larger sample to work with which can sometimes be helpful.

### Question 7.3: Sorting Importance

**Why is data sorting important in business analytics? Provide three specific business scenarios where sorting data would be crucial for decision-making.**

Your answer here:

1. In a scenarios where a business wants to see their highest transactions for a specific category, sorting the data by filtering for those categories and arranging by price is important as being able to arrange results can make it easier to see this instead of having to manually look through all the unsorted data.
2. A business may want to discontinue a product to open up space for a new one. Sorting the transactions by quantity, total amount, or even date to see trends in whats being purchased can help a business see their lowest performing products and make their decisions based on that.
3. The human resources department may want to know how each regional sales managers are performing. Sorting the data by things like region, profit, or number of transactions can help the department see how every region managed by each person is doing.

### Question 7.4: Real-World Application

**Describe a real business scenario where you might need to combine `select()`, `filter()`, and `arrange()` operations. What insights would you be trying to gain?**

Your answer here:
A question a business may want to answer is "What Cities do my top customers live in?" You could select columns like CustomerCity, ProductName, TotalAmount, ProductCategory, filter TotalAmount to show transactions over a certain price, and arrange TotalAmount in descending order, and then arrange by city.

## Summary and Submission

### What You've Learned

In this homework, you've practiced:
- Using `select()` for column selection with various methods
- Using `filter()` for row filtering with single and multiple conditions
- Using `arrange()` for sorting data by single and multiple columns
- Chaining operations with the pipe operator (`%>%`)
- Analyzing business data to generate insights

### Submission Checklist

Before submitting, ensure you have:
- [ ] Completed all code tasks
- [ ] Run all cells successfully
- [ ] Answered all reflection questions
- [ ] Used proper commenting in your code
- [ ] Used the pipe operator where appropriate
- [ ] Verified your results make sense

### Next Steps

In the next lesson, you'll learn about:
- `mutate()` for creating new columns
- `summarize()` for calculating summary statistics
- `group_by()` for grouped operations
- Advanced data transformation techniques