# Lesson 6: Combining Datasets - Joins

**Topic:** Data Integration and Table Relationships with `dplyr` Join Functions

**Learning Objectives:**
- Understand the four main types of joins and when to use each one
- Learn how to combine datasets using `dplyr` join functions
- Practice joining tables with real business data scenarios
- Handle common join challenges including mismatched keys and missing data
- Apply joins to solve practical business analysis problems

---

## Overview

In real-world business analysis, information is rarely contained in a single table. Instead, data is typically spread across multiple datasets, each serving different purposes within an organization. **Customer information** might live in a CRM system, **transaction data** in a sales database, and **product details** in an inventory management system.

The ability to **combine these separate datasets** into unified, analysis-ready tables is one of the most fundamental and valuable skills in data analysis. This process of combining tables based on shared keys is called **joining**, and it's essential for creating comprehensive datasets that can answer complex business questions.

In this lesson, we'll explore the powerful **join functions** provided by the `dplyr` package. You'll learn how to strategically combine datasets, understand the different types of joins available, and master the techniques needed to handle real-world data integration challenges.

**Why Data Joining is Critical for Business Analysis:**
- **Complete Picture**: Combine customer demographics with purchasing behavior for full customer insights
- **Cross-System Integration**: Unite data from different business systems and databases
- **Enhanced Analysis**: Create rich datasets that support sophisticated analytical techniques
- **Operational Efficiency**: Reduce manual data compilation and improve reporting accuracy

Understanding joins will transform your ability to work with complex, multi-table business datasets and unlock insights that would be impossible with isolated data sources.

---

## Understanding Data Relationships in Business Context

Before we dive into the mechanics of joining data, it's important to understand how business data naturally relates across different systems and why these relationships exist.

### Common Business Data Patterns:

In most organizations, data is organized following logical business processes, which creates natural relationships between different types of information:

**üìä Customer-Centric Data Flows:**
- **Customers ‚Üí Orders**: One customer can place multiple orders over time (one-to-many relationship)
- **Orders ‚Üí Order Items**: Each order can contain multiple products (one-to-many relationship)  
- **Products ‚Üí Categories**: Multiple products belong to product categories (many-to-one relationship)

**üè¢ Operational Data Connections:**
- **Employees ‚Üí Departments**: Multiple employees work in each department
- **Sales ‚Üí Territories**: Sales transactions are assigned to geographic territories
- **Inventory ‚Üí Locations**: Product stock levels tracked across multiple warehouses

### Why Data Gets Separated:

**Database Design Principles:**
- **Normalization**: Reduces data redundancy and improves data integrity
- **System Boundaries**: Different business functions often use specialized software
- **Performance**: Smaller, focused tables often perform better than massive single tables

**Business Process Reality:**
- **Departmental Systems**: Sales, HR, Finance teams use different tools
- **Timing Differences**: Customer data created before order data, products cataloged separately
- **Data Sources**: Information comes from websites, mobile apps, point-of-sale systems, etc.

Understanding these natural relationships helps you choose the right joining strategy and anticipate the structure of your results.

---

## Setup and Package Loading

Before we begin working with joins, let's set up our environment with the necessary tools for data integration and manipulation.

**üì¶ Package Overview:**
- **tidyverse**: Our comprehensive data science toolkit that includes `dplyr`
- **dplyr**: The specialized package that provides all our joining functions

**üîß What dplyr Join Functions Provide:**
- `inner_join()`: Keep only rows that match in both tables
- `left_join()`: Keep all rows from the left table, add matching data from right
- `right_join()`: Keep all rows from the right table, add matching data from left
- `full_join()`: Keep all rows from both tables, combining where possible

**üíº Business Context:**
In professional data analysis, you'll regularly need to combine data from multiple sources like CRM systems, transaction databases, product catalogs, and financial systems. Learning to join these different data sources effectively is essential for comprehensive business analysis.

In [102]:
# Load necessary packages for data manipulation and joining
library(tidyverse)    # This loads the complete tidyverse collection including:
                      # - dplyr: our main tool for joining datasets
                      # - tibble: for improved data frame handling
                      # - readr: for reading data files when needed
                      # - ggplot2: for visualizing our joined results

# Confirm successful loading
cat("üìö Loaded tidyverse package successfully!\n")
cat("üîó Join functions now available: inner_join(), left_join(), right_join(), full_join()\n")
cat("üéØ Ready to learn about combining datasets!\n")

üìö Loaded tidyverse package successfully!
üîó Join functions now available: inner_join(), left_join(), right_join(), full_join()
üéØ Ready to learn about combining datasets!
üîó Join functions now available: inner_join(), left_join(), right_join(), full_join()
üéØ Ready to learn about combining datasets!

## 1. Sample Datasets

Let's create some sample business datasets to work with. These represent typical data structures you might find in business databases, where information is logically separated across different tables.

### Dataset Context:
We'll work with a common e-commerce scenario involving:
- **Customer data**: Basic customer information and demographics
- **Order data**: Transaction records with amounts and dates
- **Product data**: Product catalog information
- **Order details**: Line-item details linking orders to specific products

This separation is typical in business systems where customer management, order processing, and inventory management are handled by different components of the business system.

In [103]:
# Customer data - represents our master customer database
customers <- data.frame(
  CustomerID = c(1, 2, 3, 4, 5),                         # Primary key - unique identifier for each customer
  Name = c("Alice", "Bob", "Charlie", "David", "Eve"),    # Customer names for reporting and communication
  Region = c("North", "South", "East", "West", "North")  # Geographic regions for sales territory analysis
)

print("Customer Data:")
print(customers)

# Business context: This data typically comes from a CRM system or customer master database
# CustomerID serves as the primary key that links to other systems

[1] "Customer Data:"
  CustomerID    Name Region
1          1   Alice  North
2          2     Bob  South
3          3 Charlie   East
4          4   David   West
5          5     Eve  North
  CustomerID    Name Region
1          1   Alice  North
2          2     Bob  South
3          3 Charlie   East
4          4   David   West
5          5     Eve  North

In [104]:
# Order data - represents transaction records from our e-commerce system
orders <- data.frame(
  OrderID = c(101, 102, 103, 104, 105, 106),             # Primary key - unique identifier for each order
  CustomerID = c(1, 2, 1, 3, 6, 2),                     # Foreign key linking to customers table
                                                          # Note: CustomerID 6 doesn't exist in customers (data quality issue)
  OrderDate = as.Date(c("2024-01-10", "2024-01-12", "2024-01-15", 
                        "2024-01-18", "2024-01-20", "2024-01-22")), # Transaction dates for time-based analysis
  Amount = c(150, 200, 75, 300, 100, 50)                # Order values in dollars for revenue analysis
)

print("Orders Data:")
print(orders)

# Business context: This data comes from order management or e-commerce platforms
# The CustomerID foreign key should link to the customers table, but note the data quality issue with ID 6

[1] "Orders Data:"
  OrderID CustomerID  OrderDate Amount
1     101          1 2024-01-10    150
2     102          2 2024-01-12    200
3     103          1 2024-01-15     75
4     104          3 2024-01-18    300
5     105          6 2024-01-20    100
6     106          2 2024-01-22     50
  OrderID CustomerID  OrderDate Amount
1     101          1 2024-01-10    150
2     102          2 2024-01-12    200
3     103          1 2024-01-15     75
4     104          3 2024-01-18    300
5     105          6 2024-01-20    100
6     106          2 2024-01-22     50

In [105]:
# Product data (for later examples) - represents our product catalog
products <- data.frame(
  ProductID = c(1, 2, 3, 4),                                    # Primary key for product identification
  ProductName = c("Laptop", "Mouse", "Keyboard", "Monitor"),    # Product names for reporting
  Category = c("Electronics", "Electronics", "Electronics", "Electronics") # Product categories for classification
)

print("Products Data:")
print(products)

[1] "Products Data:"
  ProductID ProductName    Category
1         1      Laptop Electronics
2         2       Mouse Electronics
3         3    Keyboard Electronics
4         4     Monitor Electronics
  ProductID ProductName    Category
1         1      Laptop Electronics
2         2       Mouse Electronics
3         3    Keyboard Electronics
4         4     Monitor Electronics

In [106]:
# Order details data (for later examples) - represents line items within each order
order_details <- data.frame(
  OrderID = c(101, 101, 102, 103, 104, 104, 105, 106),    # Foreign key linking to orders table
  ProductID = c(1, 2, 1, 3, 4, 1, 2, 3),                  # Foreign key linking to products table
  Quantity = c(1, 1, 1, 2, 1, 1, 1, 1)                    # Quantity of each product ordered
)

print("Order Details Data:")
print(order_details)

# Business context: This bridges orders and products, showing what was actually purchased
# Notice how OrderID 101 has two line items (Laptop and Mouse)
# This creates a many-to-many relationship between orders and products

[1] "Order Details Data:"
  OrderID ProductID Quantity
1     101         1        1
2     101         2        1
3     102         1        1
4     103         3        2
5     104         4        1
6     104         1        1
7     105         2        1
8     106         3        1
  OrderID ProductID Quantity
1     101         1        1
2     101         2        1
3     102         1        1
4     103         3        2
5     104         4        1
6     104         1        1
7     105         2        1
8     106         3        1

## 2. Types of Joins

Now let's explore the four main types of joins available in `dplyr`. Each join type serves different analytical purposes and handles missing relationships differently.

### Join Type Overview:

**üîó `inner_join()`**: Returns only rows where there are matching values in both tables
- **Use when**: You need complete data from both tables for your analysis
- **Business example**: Analyzing only customers who have made purchases

**‚¨ÖÔ∏è `left_join()`**: Returns all rows from left table, matching rows from right table
- **Use when**: You want to keep all records from your primary table
- **Business example**: Customer analysis including those who haven't purchased yet

**‚û°Ô∏è `right_join()`**: Returns all rows from right table, matching rows from left table  
- **Use when**: You want to keep all records from your secondary table
- **Business example**: Order analysis including orders with missing customer data

**üîÑ `full_join()`**: Returns all rows from both tables, combining where possible
- **Use when**: You need a complete picture of all data from both sources
- **Business example**: Data quality auditing to find all gaps and orphaned records

Let's see each type in action with our sample datasets.

### Understanding Join Types Through Examples

Let's explore each join type using our sample datasets. Each join serves different analytical purposes and handles missing relationships differently.

In [107]:
# a) inner_join(): Returns all rows from both tables where there are matching values.
#    This gives us only customers who have made orders (and only orders with valid customers)
inner_joined_data <- inner_join(customers, orders, by = "CustomerID")
print("Inner Join (matching CustomerIDs only):")
print(inner_joined_data)

# Notice: Customer 4 (David) and Customer 5 (Eve) are excluded because they have no orders
# Order 105 (CustomerID 6) is excluded because there's no matching customer
# This join type ensures data completeness but excludes non-matching records

[1] "Inner Join (matching CustomerIDs only):"
  CustomerID    Name Region OrderID  OrderDate Amount
1          1   Alice  North     101 2024-01-10    150
2          1   Alice  North     103 2024-01-15     75
3          2     Bob  South     102 2024-01-12    200
4          2     Bob  South     106 2024-01-22     50
5          3 Charlie   East     104 2024-01-18    300
  CustomerID    Name Region OrderID  OrderDate Amount
1          1   Alice  North     101 2024-01-10    150
2          1   Alice  North     103 2024-01-15     75
3          2     Bob  South     102 2024-01-12    200
4          2     Bob  South     106 2024-01-22     50
5          3 Charlie   East     104 2024-01-18    300

In [108]:
# b) left_join(): Returns all rows from the left table, and the matching rows from the right table.
#    If there are no matches, the columns from the right table will have NA.
left_joined_data <- left_join(customers, orders, by = "CustomerID")
print("Left Join (all customers, matching orders):")
print(left_joined_data)

# Notice: All customers appear in the result, including David and Eve who have no orders
# For customers without orders, the order columns (OrderID, OrderDate, Amount) show NA
# This is perfect for customer-centric analysis where you want to include all customers

[1] "Left Join (all customers, matching orders):"
  CustomerID    Name Region OrderID  OrderDate Amount
1          1   Alice  North     101 2024-01-10    150
2          1   Alice  North     103 2024-01-15     75
3          2     Bob  South     102 2024-01-12    200
4          2     Bob  South     106 2024-01-22     50
5          3 Charlie   East     104 2024-01-18    300
6          4   David   West      NA       <NA>     NA
7          5     Eve  North      NA       <NA>     NA
  CustomerID    Name Region OrderID  OrderDate Amount
1          1   Alice  North     101 2024-01-10    150
2          1   Alice  North     103 2024-01-15     75
3          2     Bob  South     102 2024-01-12    200
4          2     Bob  South     106 2024-01-22     50
5          3 Charlie   East     104 2024-01-18    300
6          4   David   West      NA       <NA>     NA
7          5     Eve  North      NA       <NA>     NA

In [109]:
# c) right_join(): Returns all rows from the right table, and the matching rows from the left table.
#    If there are no matches, the columns from the left table will have NA.
right_joined_data <- right_join(customers, orders, by = "CustomerID")
print("Right Join (all orders, matching customers):")
print(right_joined_data)

# Notice: All orders appear in the result, including Order 105 with CustomerID 6
# For Order 105, the customer columns (Name, Region) show NA because CustomerID 6 doesn't exist
# This helps identify data quality issues like orphaned orders

[1] "Right Join (all orders, matching customers):"
  CustomerID    Name Region OrderID  OrderDate Amount
1          1   Alice  North     101 2024-01-10    150
2          1   Alice  North     103 2024-01-15     75
3          2     Bob  South     102 2024-01-12    200
4          2     Bob  South     106 2024-01-22     50
5          3 Charlie   East     104 2024-01-18    300
6          6    <NA>   <NA>     105 2024-01-20    100
  CustomerID    Name Region OrderID  OrderDate Amount
1          1   Alice  North     101 2024-01-10    150
2          1   Alice  North     103 2024-01-15     75
3          2     Bob  South     102 2024-01-12    200
4          2     Bob  South     106 2024-01-22     50
5          3 Charlie   East     104 2024-01-18    300
6          6    <NA>   <NA>     105 2024-01-20    100

In [110]:
# d) full_join(): Returns all rows and all columns from both tables.
#    Where there are no matching values, returns NA for the rows from the non-matching table.
full_joined_data <- full_join(customers, orders, by = "CustomerID")
print("Full Join (all customers and all orders):")
print(full_joined_data)

# Notice: This gives us the complete picture - all customers AND all orders
# Customers without orders show NA in order columns
# Orders without customers show NA in customer columns
# This is useful for comprehensive data auditing and understanding data gaps

[1] "Full Join (all customers and all orders):"
  CustomerID    Name Region OrderID  OrderDate Amount
1          1   Alice  North     101 2024-01-10    150
2          1   Alice  North     103 2024-01-15     75
3          2     Bob  South     102 2024-01-12    200
4          2     Bob  South     106 2024-01-22     50
5          3 Charlie   East     104 2024-01-18    300
6          4   David   West      NA       <NA>     NA
7          5     Eve  North      NA       <NA>     NA
8          6    <NA>   <NA>     105 2024-01-20    100
  CustomerID    Name Region OrderID  OrderDate Amount
1          1   Alice  North     101 2024-01-10    150
2          1   Alice  North     103 2024-01-15     75
3          2     Bob  South     102 2024-01-12    200
4          2     Bob  South     106 2024-01-22     50
5          3 Charlie   East     104 2024-01-18    300
6          4   David   West      NA       <NA>     NA
7          5     Eve  North      NA       <NA>     NA
8          6    <NA>   <NA>     105 2024-01-20    100

## 3. Joining Multiple Tables

Sometimes we need to combine data from more than two tables to get the complete picture we need for analysis. We can do this by performing multiple join operations in sequence, building up our dataset step by step.

### Multi-Table Join Strategy:

**Step-by-Step Approach:**
1. **Start with a central table** (often the transaction or event table)
2. **Add detail information** (like line items or specifics)
3. **Enrich with reference data** (like product catalogs or lookup tables)
4. **Complete with master data** (like customer or account information)

**Business Value:**
This approach lets us build comprehensive analytical datasets that combine transactional details with reference information and master data, enabling rich analysis and reporting.

Let's build a complete transaction dataset by joining our tables step by step.

In [111]:
# Step 1: Join orders with order_details to get the line-item details for each order
# This tells us what products were purchased in each order
orders_with_details <- inner_join(orders, order_details, by = "OrderID")
print("Step 1 - Orders with Details:")
print(orders_with_details)

# Business insight: Notice how Order 101 appears twice because it contains two products
# This shows the one-to-many relationship between orders and order line items

[1] "Step 1 - Orders with Details:"
  OrderID CustomerID  OrderDate Amount ProductID Quantity
1     101          1 2024-01-10    150         1        1
2     101          1 2024-01-10    150         2        1
3     102          2 2024-01-12    200         1        1
4     103          1 2024-01-15     75         3        2
5     104          3 2024-01-18    300         4        1
6     104          3 2024-01-18    300         1        1
7     105          6 2024-01-20    100         2        1
8     106          2 2024-01-22     50         3        1
  OrderID CustomerID  OrderDate Amount ProductID Quantity
1     101          1 2024-01-10    150         1        1
2     101          1 2024-01-10    150         2        1
3     102          2 2024-01-12    200         1        1
4     103          1 2024-01-15     75         3        2
5     104          3 2024-01-18    300         4        1
6     104          3 2024-01-18    300         1        1
7     105          6 2024-01-20    100         2        1
8     106          2 2024-01-22     50         3        1

In [112]:
# Step 2: Add product information to get product names and categories
# This enriches our dataset with descriptive product information
orders_products <- inner_join(orders_with_details, products, by = "ProductID")
print("Step 2 - Orders with Products:")
print(orders_products)

# Business insight: Now we can see exactly what products were ordered
# This enables product-level analysis and reporting

[1] "Step 2 - Orders with Products:"
  OrderID CustomerID  OrderDate Amount ProductID Quantity ProductName
1     101          1 2024-01-10    150         1        1      Laptop
2     101          1 2024-01-10    150         2        1       Mouse
3     102          2 2024-01-12    200         1        1      Laptop
4     103          1 2024-01-15     75         3        2    Keyboard
5     104          3 2024-01-18    300         4        1     Monitor
6     104          3 2024-01-18    300         1        1      Laptop
7     105          6 2024-01-20    100         2        1       Mouse
8     106          2 2024-01-22     50         3        1    Keyboard
     Category
1 Electronics
2 Electronics
3 Electronics
4 Electronics
5 Electronics
6 Electronics
7 Electronics
8 Electronics
  OrderID CustomerID  OrderDate Amount ProductID Quantity ProductName
1     101          1 2024-01-10    150         1        1      Laptop
2     101          1 2024-01-10    150         2        1       Mouse
3     102          2 2024-01-12    200         1        1      Laptop
4     103          1 2024-01-15     75         3        2    Keyboard
5     104          3 2024-01-18    300         4        1     Monitor
6     104          3 2024-01-18    300         1        1      Laptop
7     105          6 2024-01-20    100         2        1       Mouse
8     106          2 2024-01-22     50         3        1    Keyboard
     Category
1 Electronics
2 Electronics
3 Electronics
4 Electronics
5 Electronics
6 Electronics
7 Electronics
8 Electronics

In [113]:
# Step 3: Finally, add customer information to complete our analytical dataset
# This gives us the full customer-order-product relationship
full_transaction_data <- inner_join(customers, orders_products, by = "CustomerID")
print("Step 3 - Full Transaction Data:")
print(full_transaction_data)

# Business value: This comprehensive dataset enables analysis like:
# - Which customers buy which products?
# - What are the purchasing patterns by region?
# - Which products are most popular with specific customer segments?

[1] "Step 3 - Full Transaction Data:"
  CustomerID    Name Region OrderID  OrderDate Amount ProductID Quantity
1          1   Alice  North     101 2024-01-10    150         1        1
2          1   Alice  North     101 2024-01-10    150         2        1
3          1   Alice  North     103 2024-01-15     75         3        2
4          2     Bob  South     102 2024-01-12    200         1        1
5          2     Bob  South     106 2024-01-22     50         3        1
6          3 Charlie   East     104 2024-01-18    300         4        1
7          3 Charlie   East     104 2024-01-18    300         1        1
  ProductName    Category
1      Laptop Electronics
2       Mouse Electronics
3    Keyboard Electronics
4      Laptop Electronics
5    Keyboard Electronics
6     Monitor Electronics
7      Laptop Electronics
  CustomerID    Name Region OrderID  OrderDate Amount ProductID Quantity
1          1   Alice  North     101 2024-01-10    150         1        1
2          1   Alice  North     101 2024-01-10    150         2        1
3          1   Alice  North     103 2024-01-15     75         3        2
4          2     Bob  South     102 2024-01-12    200         1        1
5          2     Bob  South     106 2024-01-22     50         3        1
6          3 Charlie   East     104 2024-01-18    300         4        1
7          3 Charlie   East     104 2024-01-18    300         1        1
  ProductName    Category
1      Laptop Electronics
2       Mouse Electronics
3    Keyboard Electronics
4      Laptop Electronics
5    Keyboard Electronics
6     Monitor Electronics
7      Laptop Electronics

## 4. Handling Common Issues During Joins

When working with real business data, you'll encounter various challenges that need to be addressed for successful joins. Let's explore some common scenarios and their solutions.

### Common Join Challenges:

**üîë Mismatched Key Names**: Different systems often use different column names for the same concept
**üìä Data Quality Issues**: Missing values, orphaned records, or duplicate keys
**üîÑ Relationship Complexity**: Many-to-many relationships that create unexpected results
**‚ö° Performance Considerations**: Large datasets that require optimization strategies

Understanding these challenges and their solutions will make you much more effective at real-world data integration.

In [114]:
# Challenge 1: Mismatched key names - Different systems use different column names
# Solution: Use by = c("left_key" = "right_key") to map column names

# Example: Suppose our customer data came from a different system with "CustID" instead of "CustomerID"
customers_alt_id <- data.frame(
  CustID = c(1, 2, 3, 4, 5),                              # Different column name for the same concept
  Name = c("Alice", "Bob", "Charlie", "David", "Eve"),
  Region = c("North", "South", "East", "West", "North")
)

# Show the solution for mismatched column names
joined_alt_id <- inner_join(customers_alt_id, orders, by = c("CustID" = "CustomerID"))
print("Join with mismatched key names:")
print(joined_alt_id)

# The by = c("CustID" = "CustomerID") tells R to match CustID from the left table 
# with CustomerID from the right table

[1] "Join with mismatched key names:"
  CustID    Name Region OrderID  OrderDate Amount
1      1   Alice  North     101 2024-01-10    150
2      1   Alice  North     103 2024-01-15     75
3      2     Bob  South     102 2024-01-12    200
4      2     Bob  South     106 2024-01-22     50
5      3 Charlie   East     104 2024-01-18    300
  CustID    Name Region OrderID  OrderDate Amount
1      1   Alice  North     101 2024-01-10    150
2      1   Alice  North     103 2024-01-15     75
3      2     Bob  South     102 2024-01-12    200
4      2     Bob  South     106 2024-01-22     50
5      3 Charlie   East     104 2024-01-18    300

### Important Notes About Join Behavior:

**‚ö†Ô∏è Duplicate Key Values**: 
If a key value appears multiple times in both tables, joins will create all possible combinations (Cartesian product). For example, if CustomerID 1 appears twice in the customers table and three times in the orders table, you'll get 6 rows (2 √ó 3) in your result. Be mindful of this when joining on non-unique keys.

**üîç Missing Values**: 
When there's no match between tables, join functions will insert `NA` values. Consider how these should be handled in your analysis - sometimes you'll want to exclude them, other times you'll want to treat them as zeros or use them to identify data gaps.

**‚ö° Performance Tips**: 
For very large datasets, consider filtering your data before joining to improve performance. Also, ensure your join keys are properly indexed if working with database connections.

**üéØ Business Logic**: 
Always verify that your join results make business sense. Check row counts, look for unexpected duplicates, and validate that the relationships match your understanding of the business process.

## 5. Hands-on Exercise

Now it's time to apply what you've learned! This exercise will help you practice choosing the right join type and handling the results appropriately.

**Business Scenario**: You're working as a data analyst for an e-commerce company. Your manager wants to understand customer spending patterns to inform the customer retention strategy.

**Exercise Task**: Combine customer data with transaction data to calculate total spending per customer.

**Requirements**:
- Use the `customers` and `orders` dataframes we created earlier
- Include ALL customers in your analysis (even those who haven't made purchases yet)
- Calculate total spending for each customer
- Handle customers with no purchases appropriately

**Think About**:
- Which join type should you use and why?
- How should you handle customers who haven't made any purchases?
- What business insights might this analysis reveal?

In [115]:
# Your solution here:
# 1. Choose the appropriate join type to include all customers
# 2. Group by customer information  
# 3. Calculate total spending per customer
# 4. Handle NA values appropriately

# Write your code below:

In [116]:
# Solution (for instructor/self-check):
total_spending_per_customer <- left_join(customers, orders, by = "CustomerID") %>%  # Use left_join to keep all customers
  group_by(CustomerID, Name) %>%                           # Group by customer identifiers
  summarize(TotalSpent = sum(Amount, na.rm = TRUE),        # Sum amounts, treating NA as 0
            OrderCount = sum(!is.na(OrderID)),             # Count non-NA orders
            .groups = "drop")                              # Remove grouping structure

print("Total Spending Per Customer (Solution):")
print(total_spending_per_customer)

# Business insights from this analysis:
cat("\nüí° Business Insights:")
cat("\n- David and Eve are prospects (no purchases yet) - potential for customer acquisition campaigns")
cat("\n- Alice is a repeat customer with multiple orders - good candidate for loyalty programs") 
cat("\n- Bob has the highest total spending - should be prioritized for retention efforts")
cat("\n- This analysis helps segment customers for targeted marketing and retention strategies")

[1] "Total Spending Per Customer (Solution):"
# A tibble: 5 √ó 4
  CustomerID Name    TotalSpent OrderCount
       <dbl> <chr>        <dbl>      <int>
1          1 Alice          225          2
2          2 Bob            250          2
3          3 Charlie        300          1
4          4 David            0          0
5          5 Eve              0          0

üí° Business Insights:
- David and Eve are prospects (no purchases yet) - potential for customer acquisition campaigns
- Alice is a repeat customer with multiple orders - good candidate for loyalty programs
- Bob has the highest total spending - should be prioritized for retention efforts
- This analysis helps segment customers for targeted marketing and retention strategies# A tibble: 5 √ó 4
  CustomerID Name    TotalSpent OrderCount
       <dbl> <chr>        <dbl>      <int>
1          1 Alice          225          2
2          2 Bob            250          2
3          3 Charlie        300          1
4          4 David            0          0
5          5 Eve              0          0

üí° Business Insights:
- David and Eve are prospects (no purchases yet) - potential for customer acquisition campaigns
- Alice is a repeat customer with multiple orders - good candidate for loyalty programs
- Bob has the highest total spending - should be prioritized for retention efforts
- This analysis helps segment customers for targeted marketing and retention strategies

## Key Takeaways

### üéØ **Join Function Selection Guide**:

- **`inner_join()`**: Use when you need complete data from both tables and want to exclude incomplete records
- **`left_join()`**: Use when you want to keep all records from your primary (left) table
- **`right_join()`**: Use when you want to keep all records from your secondary (right) table  
- **`full_join()`**: Use when you need to see all data from both tables for comprehensive analysis

### üí° **Best Practices for Business Data Joining**:

**Planning Your Joins**:
- Understand your data relationships before choosing join types
- Consider the business question you're trying to answer
- Identify which table contains your "primary" entities

**Handling Data Quality**:
- Check for mismatched column names and use named vectors in `by` parameter
- Be aware of duplicate keys that can create unexpected Cartesian products
- Handle missing values (`NA`) appropriately for your analysis needs

**Multi-Table Joining Strategy**:
- Start with the most central table (often transaction or event data)
- Add tables step-by-step, building complexity gradually
- Validate results at each step to ensure business logic is preserved

**Performance and Scalability**:
- Filter large datasets before joining when possible
- Consider using database connections for very large datasets
- Monitor memory usage and processing time for production workflows

### üöÄ **Next Steps**:

Now that you understand data joining, you're ready to tackle more complex analytical challenges:
- Combining joins with advanced data manipulation techniques
- Time-based analysis with temporal joins
- Building automated reporting pipelines with multiple data sources
- Creating data warehouses and analytical datasets for business intelligence

Mastering joins is fundamental to effective data analysis - these skills will serve you well in any data-driven role!