# MIDTERM EXAM: Comprehensive R Data Wrangling Assessment

**Student Name:** Alejandro De Santiago Palomares Salinas

**Student ID:** aeb923

**Date:** 10/19/2025

**Time Limit:** 4 hours

---

## Exam Overview

This comprehensive midterm exam assesses your mastery of ALL R data wrangling skills covered in Lessons 1-8:

- **Lesson 1:** R Basics and Data Import
- **Lesson 2:** Data Cleaning (Missing Values & Outliers)
- **Lesson 3:** Data Transformation Part 1 (select, filter, arrange)
- **Lesson 4:** Data Transformation Part 2 (mutate, summarize, group_by)
- **Lesson 5:** Data Reshaping (pivot_longer, pivot_wider)
- **Lesson 6:** Combining Datasets (joins)
- **Lesson 7:** String Manipulation & Date/Time
- **Lesson 8:** Advanced Wrangling & Best Practices

## Business Scenario

You are a data analyst for a retail company. The executive team needs a comprehensive analysis of:
- Sales performance across products and regions
- Customer behavior and segmentation
- Data quality issues and recommendations
- Strategic insights for business growth

## Instructions

1. **Set your working directory** to where your data files are located
2. Complete ALL tasks in order
3. Write code in the TODO sections
4. Use the pipe operator (%>%) to chain operations
5. Add comments explaining your logic
6. Run all cells to verify your code works
7. Answer all reflection questions

## Grading

- **Code Correctness (40%)**: All tasks completed correctly
- **Code Quality (20%)**: Clean, well-commented code
- **Business Understanding (20%)**: Demonstrates understanding of context
- **Analysis & Insights (15%)**: Meaningful insights and recommendations
- **Reflection Questions (5%)**: Thoughtful answers

## Academic Integrity

This is an individual exam. You may use:
- Course notes and lesson materials
- R documentation and help files
- Your previous homework assignments

You may NOT:
- Collaborate with other students
- Use AI assistants or online forums
- Share code or solutions

---

**Good luck! ðŸŽ“**

## Part 1: R Basics and Data Import (Lesson 1)

**Skills Assessed:** Variables, data types, data import, working directory

**Your Tasks:**
1. Set working directory
2. Load required packages
3. Import multiple datasets
4. Examine data structures

In [ ]:
# Task 1.1: Set Working Directory
# TODO: Set your working directory to where your data files are located
# IMPORTANT: Students must set their own path!
# Example: setwd("/Users/yourname/GitHub/ai-homework-grader-clean/data")
setwd("/workspaces/assignment-2-version3-Aledesan-utsa/data")
getwd()
# Verify working directory
cat("Current working directory:", getwd(), "\n")

#no comment needed, set up of working directory and data path

[1] "/workspaces/assignment-2-version3-Aledesan-utsa/data"

Current working directory: /workspaces/assignment-2-version3-Aledesan-utsa/data

In [ ]:
# Task 1.2: Load Required Packages
# TODO: Load tidyverse (includes dplyr, tidyr, stringr, ggplot2)
library(tidyverse)

# TODO: Load lubridate for date operations
library(lubridate)

cat("âœ… Packages loaded successfully!\n")

#no comment needed, loading of required packages

âœ… Packages loaded successfully!

In [ ]:
# Task 1.3: Import Datasets
# TODO: Import the following CSV files using read_csv():
#   - company_sales_data.csv -> sales_data
#   - customers.csv -> customers
#   - products.csv -> products
#   - orders.csv -> orders
#   - order_items.csv -> order_items

# Your code here:
sales_data <- read_csv("company_sales_data.csv")

customers <- read_csv("customers.csv")

products <- read_csv("products.csv")

orders <- read_csv("orders.csv")

order_items <- read_csv("order_items.csv")


# Display import summary
cat("âœ… Data imported successfully!\n")
cat("Sales data:", nrow(sales_data), "rows\n")
cat("Customers:", nrow(customers), "rows\n")
cat("Products:", nrow(products), "rows\n")
cat("Orders:", nrow(orders), "rows\n")
cat("Order items:", nrow(order_items), "rows\n")

#no comment needed, importing of datasets and naming them accordingly

Rows: 300 Columns: 8
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr  (3): Sales_Rep_Name, Region, Product_Category
dbl  (4): TransactionID, Revenue, Cost, Units_Sold
date (1): Sale_Date

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 100 Columns: 5
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr  (3): Name, Email, City
dbl  (1): CustomerID
date (1): Registration_Date

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 50 Columns: 4
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (2): Product_Name, Category
dbl (2): ProductID, Supplier_ID

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 250 Columns: 4
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
dbl  (3): OrderID, CustomerID, Total_Amount
date (1): Order_Date

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 400 Columns: 4
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
dbl (4): OrderID, ProductID, Quantity, Unit_Price

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

âœ… Data imported successfully!
Sales data: 300 rows
Customers: 100 rows
Products: 50 rows
Orders: 250 rows
Order items: 400 rows

## Part 2: Data Cleaning - Missing Values & Outliers (Lesson 2)

**Skills Assessed:** Identifying NAs, handling missing data, detecting outliers

**Your Tasks:**
1. Check for missing values in sales_data
2. Handle missing values appropriately
3. Identify outliers in Revenue column
4. Create a cleaned dataset

In [ ]:
# Task 2.1: Check for Missing Values
# TODO: Create 'missing_summary' that shows count of NAs in each column of sales_data


missing_summary <- sapply(sales_data, function(x) sum(is.na(x)))

cat("========== MISSING VALUES SUMMARY ==========\n")
print(missing_summary)
cat("\nTotal missing values:", sum(missing_summary), "\n")

#I noticed that there are no NA values in the dataset, I am not quite sure if this is meant to be like that or my data set is faulty.

========== MISSING VALUES SUMMARY ==========
   TransactionID   Sales_Rep_Name           Region Product_Category
               0                0                0                0
         Revenue             Cost       Units_Sold        Sale_Date
               0                0                0                0

Total missing values: 0

In [ ]:
# Task 2.2: Handle Missing Values
# TODO: Create 'sales_clean' by removing rows with ANY missing values


sales_clean <- missing_summary <- sales_data %>%
drop_na()

cat("========== DATA CLEANING RESULTS ==========\n")
cat("Original rows:", nrow(sales_data), "\n")
cat("Cleaned rows:", nrow(sales_clean), "\n")
cat("Rows removed:", nrow(sales_data) - nrow(sales_clean), "\n")

#still tried to remove NAs even though there were none, again I am not sure if this is meant to be like that or my data set is faulty.

========== DATA CLEANING RESULTS ==========
Original rows: 300
Cleaned rows: 300
Rows removed: 0

In [ ]:
# Task 2.3: Detect Outliers in Revenue
# TODO: Calculate outlier thresholds using IQR method
#   - Calculate Q1 (25th percentile) and Q3 (75th percentile) of Revenue
#   - Calculate IQR = Q3 - Q1
#   - Lower bound = Q1 - 1.5 * IQR
#   - Upper bound = Q3 + 1.5 * IQR
# TODO: Create 'outlier_analysis' dataframe with these values

Q1 <- quantile(sales_clean$Revenue, 0.25, na.rm = TRUE)
Q3 <- quantile(sales_clean$Revenue, 0.75, na.rm = TRUE)
IQR_value <-  Q3 - Q1
lower_bound <- Q1 - 1.5 * IQR_value
upper_bound <- Q3 + 1.5 * IQR_value

outlier_analysis <- data.frame(
  Metric = c("Q1", "Q3", "IQR", "Lower Bound", "Upper Bound"),
  Value = c(Q1, Q3, IQR_value, lower_bound, upper_bound)
)

cat("========== OUTLIER ANALYSIS ==========\n")
print(outlier_analysis)

# Count outliers
outlier_count <- sum(sales_clean$Revenue < lower_bound | sales_clean$Revenue > upper_bound)
cat("\nNumber of outliers detected:", outlier_count, "\n")

#I defined the key metrics for outlier detection and counted the number of outliers accordingly, even though there were none in my dataset, once again not sure if this is meant to be like that or my data set is faulty.

========== OUTLIER ANALYSIS ==========
       Metric     Value
1          Q1  15034.29
2          Q3  37707.71
3         IQR  22673.42
4 Lower Bound -18975.84
5 Upper Bound  71717.84

Number of outliers detected: 0

## Part 3: Data Transformation Part 1 (Lesson 3)

**Skills Assessed:** select(), filter(), arrange(), pipe operator

**Your Tasks:**
1. Select specific columns
2. Filter data by conditions
3. Sort data
4. Chain operations with pipe

In [ ]:
# Task 3.1: Select Specific Columns
# TODO: Create 'sales_summary' with only these columns from sales_clean:
#   Region, Product_Category, Revenue, Units_Sold, Sale_Date

sales_summary <- sales_clean %>%
  select(Region, Product_Category, Revenue, Units_Sold, Sale_Date)
  
cat("========== SELECTED COLUMNS ==========\n")
cat("Columns:", names(sales_summary), "\n")
cat("Rows:", nrow(sales_summary), "\n")
head(sales_summary, 5)

#used the basic select function to select specific columns from the cleaned sales data created in the task before

========== SELECTED COLUMNS ==========
Columns: Region Product_Category Revenue Units_Sold Sale_Date
Rows: 300

  Region        Product_Category Revenue  Units_Sold Sale_Date
1 Latin America Services         20750.92 78         2023-04-24
2 Europe        Hardware         32359.98 13         2023-06-09
3 Europe        Services         39268.40 34         2023-03-25
4 Europe        Hardware         28865.09 90         2023-04-11
5 Latin America Software          3932.36 63         2023-08-26

In [ ]:
# Task 3.2: Filter High Revenue Sales
# TODO: Create 'high_revenue_sales' by filtering sales_clean for Revenue > 20000


high_revenue_sales <- sales_clean %>%
  filter(Revenue > 20000)
  
cat("========== HIGH REVENUE SALES ==========\n")
cat("Total high revenue transactions:", nrow(high_revenue_sales), "\n")
cat("Total revenue from these sales: $", sum(high_revenue_sales$Revenue), "\n")

#filtered the cleaned sales data to only include transactions where revenue was higher than 20000

========== HIGH REVENUE SALES ==========
Total high revenue transactions: 194
Total revenue from these sales: $ 6671906

In [ ]:
# Task 3.3: Sort by Revenue
# TODO: Create 'top_sales' by arranging sales_clean by Revenue in descending order
#       and keeping only the top 10 rows


top_sales <- sales_clean %>%
  arrange(desc(Revenue)) %>%
  slice_head(n = 10)
  
cat("========== TOP 10 SALES ==========\n")
print(top_sales %>% select(Region, Product_Category, Revenue, Units_Sold))

#sorted the cleaned sales data by revenue in descending order and kept only the top 10 rows to display top sales

========== TOP 10 SALES ==========
# A tibble: 10 Ã— 4
   Region        Product_Category Revenue Units_Sold
   <chr>         <chr>              <dbl>      <dbl>
 1 Asia Pacific  Consulting        49956.         88
 2 Europe        Software          49867.         96
 3 Europe        Consulting        49857.          1
 4 Asia Pacific  Consulting        49239.         72
 5 Asia Pacific  Hardware          48997.         92
 6 North America Services          48884.         62
 7 Europe        Software          48794.         77
 8 North America Hardware          48772.         16
 9 North America Consulting        48748.         63
10 Europe        Consulting        48572.         22

In [ ]:
# Task 3.4: Chain Multiple Operations
# TODO: Create 'regional_top_sales' by:
#   1. Filtering for Revenue > 15000
#   2. Selecting: Region, Product_Category, Revenue
#   3. Arranging by Region (ascending) then Revenue (descending)
#   4. Keeping top 15 rows
# Use the pipe operator to chain all operations

regional_top_sales <- sales_clean %>%
  filter(Revenue > 15000) %>%
  select(Region, Product_Category, Revenue) %>%
  arrange(Region, desc(Revenue)) %>%
  slice_head(n = 15)
  
cat("========== REGIONAL TOP SALES ==========\n")
print(regional_top_sales)

#chained multiple dplyr operations using the pipe operator to filter, select, arrange, and slice the sales data accordingly for tidy display and easier analysis

========== REGIONAL TOP SALES ==========
# A tibble: 15 Ã— 3
   Region       Product_Category Revenue
   <chr>        <chr>              <dbl>
 1 Asia Pacific Consulting        49956.
 2 Asia Pacific Consulting        49239.
 3 Asia Pacific Hardware          48997.
 4 Asia Pacific Consulting        48063.
 5 Asia Pacific Services          46731.
 6 Asia Pacific Software          46615.
 7 Asia Pacific Consulting        46545.
 8 Asia Pacific Consulting        45756.
 9 Asia Pacific Services          45298.
10 Asia Pacific Services          44624.
11 Asia Pacific Consulting        44455.
12 Asia Pacific Consulting        44364.
13 Asia Pacific Software          43221.
14 Asia Pacific Software          42063.
15 Asia Pacific Software          41412.

## Part 4: Data Transformation Part 2 (Lesson 4)

**Skills Assessed:** mutate(), summarize(), group_by()

**Your Tasks:**
1. Create calculated columns with mutate()
2. Calculate summary statistics
3. Perform grouped analysis
4. Generate business metrics

In [ ]:
# Task 4.1: Create Calculated Columns
# TODO: Add these new columns to sales_clean using mutate():
#   - revenue_per_unit: Revenue / Units_Sold
#   - high_value: "Yes" if Revenue > 20000, else "No"
# Store result in 'sales_enhanced'

sales_enhanced <- sales_clean %>%
  mutate(
    revenue_per_unit = Revenue / Units_Sold,
    high_value = ifelse(Revenue > 20000, "Yes", "No")
  )

cat("========== ENHANCED SALES DATA ==========\n")
cat("New columns added: revenue_per_unit, high_value\n")
head(sales_enhanced %>% select(Revenue, Units_Sold, revenue_per_unit, high_value), 5)

#used mutate to create new calculated columns in the cleaned sales data for better analysis

========== ENHANCED SALES DATA ==========
New columns added: revenue_per_unit, high_value

  Revenue  Units_Sold revenue_per_unit high_value
1 20750.92 78          266.03744       Yes
2 32359.98 13         2489.22923       Yes
3 39268.40 34         1154.95294       Yes
4 28865.09 90          320.72322       Yes
5  3932.36 63           62.41841       No

In [ ]:
# Task 4.2: Calculate Overall Summary Statistics
# TODO: Create 'overall_summary' with these metrics from sales_enhanced:
#   - total_revenue: sum of Revenue
#   - avg_revenue: mean of Revenue
#   - total_units: sum of Units_Sold
#   - transaction_count: count using n()


overall_summary <- sales_enhanced %>%
    summarise(
        total_revenue = sum(Revenue, na.rm = TRUE),
        avg_revenue = mean(Revenue, na.rm = TRUE),
        total_units = sum(Units_Sold, na.rm = TRUE),
        transaction_count = n()
    )

cat("========== OVERALL SUMMARY ==========\n")
print(overall_summary)
#used the summaerise function to calculate key overall metrics from the cleaned sales data

========== OVERALL SUMMARY ==========
# A tibble: 1 Ã— 4
  total_revenue avg_revenue total_units transaction_count
          <dbl>       <dbl>       <dbl>             <int>
1      7771711.      25906.       16169               300

In [ ]:
# Task 4.3: Regional Performance Analysis
# TODO: Create 'regional_summary' by grouping sales_enhanced by Region
#       and calculating:
#   - total_revenue: sum of Revenue
#   - avg_revenue: mean of Revenue
#   - transaction_count: count using n()
# Then arrange by total_revenue descending
# Hint: Use group_by() %>% summarize() %>% arrange()

regional_summary <- sales_enhanced %>%
  group_by(Region) %>%
  summarise(
    total_revenue = sum(Revenue, na.rm = TRUE),
    avg_revenue = mean(Revenue, na.rm = TRUE),
    transaction_count = n()
  ) %>%
  arrange(desc(total_revenue))

cat("========== REGIONAL SUMMARY ==========\n")
print(regional_summary)
#grouped the cleaned sales data by region and calculated key metrics, then arranged by total revenue in descending order for better analysis

========== REGIONAL SUMMARY ==========
# A tibble: 4 Ã— 4
  Region        total_revenue avg_revenue transaction_count
  <chr>                 <dbl>       <dbl>             <int>
1 Europe             2224182.      27124.                82
2 Latin America      2112037.      25446.                83
3 Asia Pacific       1804243.      26929.                67
4 North America      1631248.      23989.                68

In [ ]:
# Task 4.4: Product Category Analysis
# TODO: Create 'category_summary' by grouping by Product_Category
#       and calculating the same metrics as regional_summary
#       Then arrange by total_revenue descending

category_summary <- sales_enhanced %>%
  group_by(Product_Category) %>%
  summarise(
    total_revenue = sum(Revenue, na.rm = TRUE),
    avg_revenue = mean(Revenue, na.rm = TRUE),
    transaction_count = n()
  ) %>%
  arrange(desc(total_revenue))

cat("========== CATEGORY SUMMARY ==========\n")
print(category_summary)
#grouped the cleaned sales data by product category and calculated key metrics, then arranged by total revenue in descending order for better analysis

========== CATEGORY SUMMARY ==========
# A tibble: 4 Ã— 4
  Product_Category total_revenue avg_revenue transaction_count
  <chr>                    <dbl>       <dbl>             <int>
1 Consulting            1978840.      26037.                76
2 Services              1961565.      27244.                72
3 Hardware              1951325.      26730.                73
4 Software              1879981.      23797.                79

## Part 5: Data Reshaping with tidyr (Lesson 5)

**Skills Assessed:** pivot_longer(), pivot_wider(), tidy data principles

**Your Tasks:**
1. Reshape data from wide to long format
2. Reshape data from long to wide format
3. Create analysis-ready datasets

In [ ]:
# Task 5.1: Create Wide Format Data
# First, create a summary by Region and Product_Category
region_category_revenue <- sales_enhanced %>%
  group_by(Region, Product_Category) %>%
  summarize(total_revenue = sum(Revenue), .groups = 'drop')

cat("========== REGION-CATEGORY DATA (LONG FORMAT) ==========\n")
print(head(region_category_revenue, 10))
#used the group_by and summarize functions to create a summary of total revenue by region and product category in long format

========== REGION-CATEGORY DATA (LONG FORMAT) ==========
# A tibble: 10 Ã— 3
   Region        Product_Category total_revenue
   <chr>         <chr>                    <dbl>
 1 Asia Pacific  Consulting             759641.
 2 Asia Pacific  Hardware               271979.
 3 Asia Pacific  Services               331826.
 4 Asia Pacific  Software               440797.
 5 Europe        Consulting             390670.
 6 Europe        Hardware               777044.
 7 Europe        Services               513507.
 8 Europe        Software               542961.
 9 Latin America Consulting             433397.
10 Latin America Hardware               474257.

In [ ]:
# Task 5.2: Reshape to Wide Format
# TODO: Create 'revenue_wide' by pivoting region_category_revenue
#       so that Product_Category values become column names
#       with total_revenue as the values
revenue_wide <- region_category_revenue %>%
  pivot_wider(names_from = Product_Category, values_from = total_revenue, values_fill = 0)
  
cat("========== REVENUE DATA (WIDE FORMAT) ==========\n")
print(revenue_wide)
#used pivot_wider to reshape the long format data into wide format for better readability and analysis of revenue by region and product category

========== REVENUE DATA (WIDE FORMAT) ==========
# A tibble: 4 Ã— 5
  Region        Consulting Hardware Services Software
  <chr>              <dbl>    <dbl>    <dbl>    <dbl>
1 Asia Pacific     759641.  271979.  331826.  440797.
2 Europe           390670.  777044.  513507.  542961.
3 Latin America    433397.  474257.  644772.  559611.
4 North America    395132.  428046.  471460.  336611.

In [ ]:
# Task 5.3: Reshape Back to Long Format
# TODO: Create 'revenue_long' by pivoting revenue_wide back to long format
#       Column names (except Region) should go into 'Product_Category'
#       Values should go into 'revenue'

revenue_long <- revenue_wide %>%
  pivot_longer(cols = -Region, names_to = "Product_Category", values_to = "total_revenue")

cat("========== REVENUE DATA (BACK TO LONG FORMAT) ==========\n")
print(head(revenue_long, 10))
#used pivot_longer to reshape the wide format data back into long format for further analysis

========== REVENUE DATA (BACK TO LONG FORMAT) ==========
# A tibble: 10 Ã— 3
   Region        Product_Category total_revenue
   <chr>         <chr>                    <dbl>
 1 Asia Pacific  Consulting             759641.
 2 Asia Pacific  Hardware               271979.
 3 Asia Pacific  Services               331826.
 4 Asia Pacific  Software               440797.
 5 Europe        Consulting             390670.
 6 Europe        Hardware               777044.
 7 Europe        Services               513507.
 8 Europe        Software               542961.
 9 Latin America Consulting             433397.
10 Latin America Hardware               474257.

## Part 6: Combining Datasets with Joins (Lesson 6)

**Skills Assessed:** left_join(), inner_join(), data integration

**Your Tasks:**
1. Join customers with orders
2. Join orders with order_items
3. Create integrated dataset

In [ ]:
# Task 6.1: Join Customers and Orders
# TODO: Create 'customer_orders' by left joining customers with orders
#       Join on CustomerID

customer_orders <- order_items
    left_join(customers, orders, by = "CustomerID")

cat("========== CUSTOMER ORDERS ==========\n")
cat("Total rows:", nrow(customer_orders), "\n")
cat("Columns:", ncol(customer_orders), "\n")
#used left_join to combine customer and order data based on CustomerID

    CustomerID Name         Email                 City        Registration_Date
1    1         Customer 1   customer1@email.com   Phoenix     2020-10-03
2    1         Customer 1   customer1@email.com   Phoenix     2020-10-03
3    2         Customer 2   customer2@email.com   Los Angeles 2020-06-02
4    2         Customer 2   customer2@email.com   Los Angeles 2020-06-02
5    3         Customer 3   customer3@email.com   Chicago     2021-04-20
6    3         Customer 3   customer3@email.com   Chicago     2021-04-20
7    4         Customer 4   customer4@email.com   Houston     2022-06-16
8    4         Customer 4   customer4@email.com   Houston     2022-06-16
9    5         Customer 5   customer5@email.com   Phoenix     2023-08-22
10   5         Customer 5   customer5@email.com   Phoenix     2023-08-22
11   6         Customer 6   customer6@email.com   Houston     2021-09-10
12   6         Customer 6   customer6@email.com   Houston     2021-09-10
13   7         Customer 7   customer7@email.com   Houston     2020-07-07
14   7         Customer 7   customer7@email.com   Houston     2020-07-07
15   8         Customer 8   customer8@email.com   Phoenix     2022-01-20
16   8         Customer 8   customer8@email.com   Phoenix     2022-01-20
17   9         Customer 9   customer9@email.com   New York    2020-12-09
18   9         Customer 9   customer9@email.com   New York    2020-12-09
19  10         Customer 10  customer10@email.com  Phoenix     2022-05-04
20  10         Customer 10  customer10@email.com  Phoenix     2022-05-04
21  11         Customer 11  customer11@email.com  Chicago     2021-07-22
22  11         Customer 11  customer11@email.com  Chicago     2021-07-22
23  12         Customer 12  customer12@email.com  Chicago     2022-07-25
24  12         Customer 12  customer12@email.com  Chicago     2022-07-25
25  13         Customer 13  customer13@email.com  Phoenix     2023-01-18
26  13         Customer 13  customer13@email.com  Phoenix     2023-01-18
27  14         Customer 14  customer14@email.com  New York    2022-09-12
28  14         Customer 14  customer14@email.com  New York    2022-09-12
29  15         Customer 15  customer15@email.com  Chicago     2023-06-22
30  15         Customer 15  customer15@email.com  Chicago     2023-06-22
â‹®   â‹®          â‹®            â‹®                     â‹®           â‹®
171  86        Customer 86  customer86@email.com  Los Angeles 2023-03-02
172  86        Customer 86  customer86@email.com  Los Angeles 2023-03-02
173  87        Customer 87  customer87@email.com  Chicago     2020-03-26
174  87        Customer 87  customer87@email.com  Chicago     2020-03-26
175  88        Customer 88  customer88@email.com  Los Angeles 2023-08-20
176  88        Customer 88  customer88@email.com  Los Angeles 2023-08-20
177  89        Customer 89  customer89@email.com  New York    2023-06-30
178  89        Customer 89  customer89@email.com  New York    2023-06-30
179  90        Customer 90  customer90@email.com  Los Angeles 2022-03-11
180  90        Customer 90  customer90@email.com  Los Angeles 2022-03-11
181  91        Customer 91  customer91@email.com  Chicago     2021-11-25
182  91        Customer 91  customer91@email.com  Chicago     2021-11-25
183  92        Customer 92  customer92@email.com  Chicago     2023-09-04
184  92        Customer 92  customer92@email.com  Chicago     2023-09-04
185  93        Customer 93  customer93@email.com  Phoenix     2020-08-05
186  93        Customer 93  customer93@email.com  Phoenix     2020-08-05
187  94        Customer 94  customer94@email.com  Houston     2020-12-16
188  94        Customer 94  customer94@email.com  Houston     2020-12-16
189  95        Customer 95  customer95@email.com  Houston     2023-07-25
190  95        Customer 95  customer95@email.com  Houston     2023-07-25
191  96        Customer 96  customer96@email.com  Phoenix     2021-02-05
192  96        Customer 96  customer96@email.com  Phoenix     2021-02-05
193  97        Customer 97  customer97@email.com  New York    2021-09-12
194  97        Customer 97  customer97@email.com  New York    2021-09-12
195  98        Customer 98  customer98@email.com  Chicago     2023-08-07
196  98        Customer 98  customer98@email.com  Chicago     2023-08-07
197  99        Customer 99  customer99@email.com  Houston     2022-04-23
198  99        Customer 99  customer99@email.com  Houston     2022-04-23
199 100        Customer 100 customer100@email.com Chicago     2021-05-18
200 100        Customer 100 customer100@email.com Chicago     2021-05-18
    OrderID Order_Date Total_Amount
1    87     2023-03-28  716.18
2   214     2023-09-12 1343.63
3   173     2024-02-25  159.98
4   190     2023-04-19 1503.04
5    29     2023-03-07  441.06
6   146     2023-04-10   85.28
7     7     2023-05-01  482.98
8    61     2024-01-19  666.43
9    15     2023-12-27  560.36
10  150     2023-03-28  278.89
11   64     2023-09-26 1445.60
12  134     2023-05-31 1918.40
13   71     2023-01-18 1846.62
14  207     2023-09-13  146.53
15   14     2023-10-01 1546.45
16   53     2023-06-11  404.78
17  111     2023-01-04  251.17
18  164     2023-09-23  839.65
19  107     2023-01-04  221.89
20  156     2023-03-16  608.56
21   78     2023-12-10 1668.95
22   94     2023-04-05 1270.72
23    2     2024-03-24  183.09
24  219     2023-05-25 1657.58
25   45     2023-02-13  939.66
26  217     2023-08-24 1033.40
27  180     2023-12-22  169.94
28  250     2023-11-02  466.99
29   83     2023-04-18  980.37
30  147     2024-01-27  718.29
â‹®   â‹®       â‹®          â‹®
171 136     2023-03-14  482.64
172 141     2023-12-08 1777.99
173   1     2023-08-30  424.30
174 177     2023-09-20  168.84
175 108     2023-05-29 1488.84
176 178     2023-07-03 1912.15
177 125     2024-01-07 1533.65
178 171     2023-09-03  736.42
179  55     2023-08-12  297.02
180 218     2024-01-04 1162.34
181  80     2023-04-21 1325.73
182 140     2024-01-17   50.24
183 160     2024-03-13  767.61
184 192     2023-07-16  752.64
185  35     2023-12-10 1303.57
186 215     2024-02-06 1644.31
187 167     2024-03-26  991.42
188 229     2023-12-26 1934.93
189 126     2023-05-01 1242.76
190 232     2023-02-08  537.69
191 109     2023-09-15  116.21
192 158     2024-02-06 1250.61
193 193     2023-11-04 1894.50
194 238     2023-01-12 1835.29
195 154     2023-03-17 1647.70
196 194     2023-11-20 1142.20
197  32     2024-03-29  916.28
198 181     2023-08-04  254.02
199   5     2023-08-17  286.60
200  10     2023-06-08 1674.36

========== CUSTOMER ORDERS ==========
Total rows: 400
Columns: 4

In [ ]:
# Task 6.2: Join Orders and Order Items
# TODO: Create 'orders_with_items' by inner joining orders with order_items
#       Join on OrderID

orders_with_items <- order_items %>%
  inner_join(orders, by = "OrderID")

cat("========== ORDERS WITH ITEMS ==========\n")
cat("Total rows:", nrow(orders_with_items), "\n")
head(orders_with_items, 5)
#used inner_join to combine order and order item data based on OrderID

========== ORDERS WITH ITEMS ==========
Total rows: 400

  OrderID ProductID Quantity Unit_Price CustomerID Order_Date Total_Amount
1 213      8        1         43.81     75         2023-11-09 1941.93
2 176     18        5        489.16     53         2023-09-27 1811.81
3 118      2        5        442.09     41         2024-02-21  267.10
4  58     19        3        321.92     84         2023-05-07  880.59
5 202      2        4        280.43     58         2023-03-30 1557.90

## Part 7: String Manipulation & Date/Time Operations (Lesson 7)

**Skills Assessed:** stringr functions, lubridate functions

**Your Tasks:**
1. Clean text data
2. Parse dates
3. Extract date components

In [ ]:
# Task 7.1: Clean Text Data
# TODO: Add these columns to sales_enhanced using mutate():
#   - region_clean: Region with trimmed whitespace and Title Case
#   - category_clean: Product_Category with trimmed whitespace and Title Case


sales_enhanced <- sales_enhanced %>%
  mutate(
    region_clean = str_to_title(str_trim(Region)),
    category_clean = str_to_title(str_trim(Product_Category))
  )

cat("========== CLEANED TEXT DATA ==========\n")
head(sales_enhanced %>% select(Region, region_clean, Product_Category, category_clean), 5)
#used stringr functions to clean text data in the sales dataset by trimming whitespace and converting to title case

========== CLEANED TEXT DATA ==========

  Region        region_clean  Product_Category category_clean
1 Latin America Latin America Services         Services
2 Europe        Europe        Hardware         Hardware
3 Europe        Europe        Services         Services
4 Europe        Europe        Hardware         Hardware
5 Latin America Latin America Software         Software

In [ ]:
# Task 7.2: Parse Dates and Extract Components
# TODO: Add these date-related columns using mutate():
#   - date_parsed: Parse Sale_Date column (use ymd(), mdy(), or dmy() as appropriate)
#   - sale_month: Extract month name from date_parsed
#   - sale_weekday: Extract weekday name from date_parsed


sales_enhanced <- sales_enhanced %>%
  mutate(
    date_parsed = ymd(Sale_Date),
    sale_month = month(date_parsed, label = TRUE, abbr = FALSE),
    sale_weekday = wday(date_parsed, label = TRUE, abbr = FALSE)
  )

cat("========== DATE COMPONENTS ==========\n")
head(sales_enhanced %>% select(Sale_Date, date_parsed, sale_month, sale_weekday), 5)

#used lubridate functions to parse date strings and extract month and weekday names for better analysis

========== DATE COMPONENTS ==========

  Sale_Date  date_parsed sale_month sale_weekday
1 2023-04-24 2023-04-24  April      Monday
2 2023-06-09 2023-06-09  June       Friday
3 2023-03-25 2023-03-25  March      Saturday
4 2023-04-11 2023-04-11  April      Tuesday
5 2023-08-26 2023-08-26  August     Saturday

## Part 8: Advanced Wrangling & Business Intelligence (Lesson 8)

**Skills Assessed:** case_when(), complex logic, KPIs

**Your Tasks:**
1. Create business categories with case_when()
2. Calculate KPIs
3. Generate executive summary

In [ ]:
# Task 8.1: Create Performance Categories
# TODO: Add 'performance_tier' column using case_when():
#   - "High" if Revenue > 25000
#   - "Medium" if Revenue > 15000
#   - "Low" otherwise

sales_enhanced <- sales_enhanced %>%
  mutate(
    performance_tier = case_when(
      Revenue > 25000 ~ "High",
      Revenue > 15000 ~ "Medium",
      TRUE ~ "Low" 
    )
  )

cat("========== PERFORMANCE TIERS ==========\n")
table(sales_enhanced$performance_tier)
#used case_when to categorize sales performance into tiers based on revenue thresholds to get a better understanding of sales distribution and possibly get average ticekt size

========== PERFORMANCE TIERS ==========

  High    Low Medium
   154     74     72

In [ ]:
# Task 8.2: Calculate Business KPIs
# TODO: Create 'business_kpis' with these metrics:
#   - total_revenue: sum of Revenue
#   - total_transactions: count of rows
#   - avg_transaction_value: mean of Revenue
#   - high_value_pct: percentage where high_value = "Yes"

business_kpis <- sales_enhanced %>%
  summarize(
    total_revenue = sum(Revenue, na.rm = TRUE),
    total_transactions = n(),
    avg_transaction_value = mean(Revenue, na.rm = TRUE),
    high_value_pct = mean(high_value == "Yes") * 100
  )

cat("========== BUSINESS KPIs ==========\n")
print(business_kpis)
#calculated key business performance indicators from the cleaned sales data for overall business insights

========== BUSINESS KPIs ==========
# A tibble: 1 Ã— 4
  total_revenue total_transactions avg_transaction_value high_value_pct
          <dbl>              <int>                 <dbl>          <dbl>
1      7771711.                300                25906.           64.7

## Part 9: Reflection Questions

Answer the following questions based on your analysis.

### Question 9.1: Data Cleaning Impact

**How did handling missing values and outliers affect your analysis? Why is data cleaning important before performing business analysis?**

Your answer here: I honestly do no know if there were any outliers in the data because I did not find any. I am not sure if this is meant to be like that or my data set is faulty. However, if i had to, I would handle missing values by removing rows with NAs in critical columns like Revenue. Data cleaning is crucial because it ensures the accuracy and reliability of the analysis, leading to better business decisions and better planned business strategies.

### Question 9.2: Grouped Analysis Value

**What insights did you gain from the regional and category summaries that you couldn't see in the raw data? How can businesses use this type of grouped analysis?**

Your answer here: Grouped analysis allowed me to see which regions and product categories were performing better than others. For example, I could identify that certain regions had significantly higher revenues compared to others, and some product categories were more popular among customers. Businesses can use this type of analysis to allocate resources more effectively, target marketing efforts, and optimize inventory based on regional preferences and category performance. We can also gathered insights about what products to promote in which regions based on past performance, and which products we should retire or remarket based on low performance.

### Question 9.3: Data Reshaping Purpose

**Why would you need to reshape data between wide and long formats? Provide a business scenario where each format would be useful.**

Your answer here: Reshaping data is essential for different types of analysis and visualization. Wide format is useful when you want to compare multiple variables side by side, such as sales figures for different products across several months. This format makes it easier to gather insights, create charts, and tables. Long format is beneficial for time series analysis or when using certain statistical models that require data in a tidy format. For example, if we want to analyze sales trends over time for each product, having the data in long format allows us to easily bucket by product and date, facilitating trend analysis and forecasting.

### Question 9.4: Joining Datasets

**What is the difference between left_join() and inner_join()? When would you use each one in a business context?**

Your answer here: Left_join() returns all rows from the left dataset and the matched rows from the right dataset. If there is no match, it fills with NAs. This is useful when you want to retain all records from the primary dataset, such as keeping all customers even if they haven't made any orders. Inner_join() returns only the matching rows in both datasets. This is useful when you only want to analyze records that have correlated entries in both datasets, for example, analyzing only customers who have made purchases.

### Question 9.5: Skills Integration

**Which R data wrangling skill (from Lessons 1-8) do you think is most valuable for business analytics? Why?**

Your answer here: I believe that all the functions learnt so far are very useful depending on the necessites of the business analysis. However, if I had to choose one, I would say that either mutate() and summarize() are the best. These functions allow analysts to create new insights by transforming existing data and calculating key metrics that drive business decisions. For example, creating performance tiers or calculating average transaction values can directly inform marketing strategies and operational improvements without having to do complex coding or manual calculations.

## Exam Complete!

### What You've Demonstrated

âœ… **Lesson 1:** R basics and data import
âœ… **Lesson 2:** Data cleaning (missing values & outliers)
âœ… **Lesson 3:** Data transformation (select, filter, arrange)
âœ… **Lesson 4:** Advanced transformation (mutate, summarize, group_by)
âœ… **Lesson 5:** Data reshaping (pivot_longer, pivot_wider)
âœ… **Lesson 6:** Combining datasets (joins)
âœ… **Lesson 7:** String manipulation & date/time operations
âœ… **Lesson 8:** Advanced wrangling & business intelligence

### Submission Checklist

Before submitting, ensure:
- [ ] All code cells run without errors
- [ ] All TODO sections completed
- [ ] All required dataframes created with correct names
- [ ] All 5 reflection questions answered
- [ ] Student name and ID filled in at top

**Good work! ðŸŽ‰**