# MIDTERM EXAM: Comprehensive R Data Wrangling Assessment

**Student Name:** [Nicholas Eisenheim]

**Student ID:** [qtz882]

**Date:** [Enter Today's Date]

**Time Limit:** 4 hours

---

## Exam Overview

This comprehensive midterm exam assesses your mastery of ALL R data wrangling skills covered in Lessons 1-8:

- **Lesson 1:** R Basics and Data Import
- **Lesson 2:** Data Cleaning (Missing Values & Outliers)
- **Lesson 3:** Data Transformation Part 1 (select, filter, arrange)
- **Lesson 4:** Data Transformation Part 2 (mutate, summarize, group_by)
- **Lesson 5:** Data Reshaping (pivot_longer, pivot_wider)
- **Lesson 6:** Combining Datasets (joins)
- **Lesson 7:** String Manipulation & Date/Time
- **Lesson 8:** Advanced Wrangling & Best Practices

## Business Scenario

You are a data analyst for a retail company. The executive team needs a comprehensive analysis of:
- Sales performance across products and regions
- Customer behavior and segmentation
- Data quality issues and recommendations
- Strategic insights for business growth

## Instructions

1. **Set your working directory** to where your data files are located
2. Complete ALL tasks in order
3. Write code in the TODO sections
4. Use the pipe operator (%>%) to chain operations
5. Add comments explaining your logic
6. Run all cells to verify your code works
7. Answer all reflection questions

## Grading

- **Code Correctness (40%)**: All tasks completed correctly
- **Code Quality (20%)**: Clean, well-commented code
- **Business Understanding (20%)**: Demonstrates understanding of context
- **Analysis & Insights (15%)**: Meaningful insights and recommendations
- **Reflection Questions (5%)**: Thoughtful answers

## Academic Integrity

This is an individual exam. You may use:
- Course notes and lesson materials
- R documentation and help files
- Your previous homework assignments

You may NOT:
- Collaborate with other students
- Use AI assistants or online forums
- Share code or solutions

---

**Good luck! ðŸŽ“**

## Part 1: R Basics and Data Import (Lesson 1)

**Skills Assessed:** Variables, data types, data import, working directory

**Your Tasks:**
1. Set working directory
2. Load required packages
3. Import multiple datasets
4. Examine data structures

In [2]:
# Task 1.1: Set Working Directory
# TODO: Set your working directory to where your data files are located
# IMPORTANT: Students must set their own path!
# Example: setwd("/Users/yourname/GitHub/ai-homework-grader-clean/data")

# Your code here:
setwd("/workspaces/assignment-1-nheisenheim/data")

# Verify working directory
cat("Current working directory:", getwd(), "\n")

Current working directory: /workspaces/assignment-1-nheisenheim/data

In [4]:
# Task 1.2: Load Required Packages
# TODO: Load tidyverse (includes dplyr, tidyr, stringr, ggplot2)
library(tidyverse)

# TODO: Load lubridate for date operations
library(lubridate)

cat("âœ… Packages loaded successfully!\n")

âœ… Packages loaded successfully!

In [5]:
# Task 1.3: Import Datasets
# TODO: Import the following CSV files using read_csv():
#   - company_sales_data.csv -> sales_data
#   - customers.csv -> customers
#   - products.csv -> products
#   - orders.csv -> orders
#   - order_items.csv -> order_items

# Your code here:
sales_data <- read.csv("company_sales_data.csv")

customers <- read.csv("customers.csv")

products <- read.csv("products.csv")

orders <- read.csv("orders.csv")

order_items <- read.csv("order_items.csv")


# Display import summary
cat("âœ… Data imported successfully!\n")
cat("Sales data:", nrow(sales_data), "rows\n")
cat("Customers:", nrow(customers), "rows\n")
cat("Products:", nrow(products), "rows\n")
cat("Orders:", nrow(orders), "rows\n")
cat("Order items:", nrow(order_items), "rows\n")

âœ… Data imported successfully!
Sales data: 300 rows
Customers: 100 rows
Products: 50 rows
Orders: 250 rows
Order items: 400 rows

## Part 2: Data Cleaning - Missing Values & Outliers (Lesson 2)

**Skills Assessed:** Identifying NAs, handling missing data, detecting outliers

**Your Tasks:**
1. Check for missing values in sales_data
2. Handle missing values appropriately
3. Identify outliers in Revenue column
4. Create a cleaned dataset

In [6]:
# Task 2.1: Check for Missing Values
# TODO: Create 'missing_summary' that shows count of NAs in each column of sales_data


missing_summary <- colSums(is.na(sales_data))


cat("========== MISSING VALUES SUMMARY ==========\n")
print(missing_summary)
cat("\nTotal missing values:", sum(missing_summary), "\n")

========== MISSING VALUES SUMMARY ==========
   TransactionID   Sales_Rep_Name           Region Product_Category
               0                0                0                0
         Revenue             Cost       Units_Sold        Sale_Date
               0                0                0                0

Total missing values: 0

In [7]:
# Task 2.2: Handle Missing Values
# TODO: Create 'sales_clean' by removing rows with ANY missing values


sales_clean <- na.omit(sales_data)


cat("========== DATA CLEANING RESULTS ==========\n")
cat("Original rows:", nrow(sales_data), "\n")
cat("Cleaned rows:", nrow(sales_clean), "\n")
cat("Rows removed:", nrow(sales_data) - nrow(sales_clean), "\n")

========== DATA CLEANING RESULTS ==========
Original rows: 300
Cleaned rows: 300
Rows removed: 0

In [8]:
# Task 2.3: Detect Outliers in Revenue
# TODO: Calculate outlier thresholds using IQR method
#   - Calculate Q1 (25th percentile) and Q3 (75th percentile) of Revenue
#   - Calculate IQR = Q3 - Q1
#   - Lower bound = Q1 - 1.5 * IQR
#   - Upper bound = Q3 + 1.5 * IQR
# TODO: Create 'outlier_analysis' dataframe with these values

Q1 <- quantile(sales_clean$Revenue, 0.25)
Q3 <- quantile(sales_clean$Revenue, 0.75)
IQR_value <- Q3 - Q1
lower_bound <- Q1 -1.5 * IQR_value
upper_bound <- Q3 + 1.5 *IQR_value

outlier_analysis <- data.frame(
  Metric = c("Q1", "Q3", "IQR", "Lower Bound", "Upper Bound"),
  Value = c(Q1, Q3, IQR_value, lower_bound, upper_bound)
)

cat("========== OUTLIER ANALYSIS ==========\n")
print(outlier_analysis)

# Count outliers
outlier_count <- sum(sales_clean$Revenue < lower_bound | sales_clean$Revenue > upper_bound)
cat("\nNumber of outliers detected:", outlier_count, "\n")

========== OUTLIER ANALYSIS ==========
       Metric     Value
1          Q1  15034.29
2          Q3  37707.71
3         IQR  22673.42
4 Lower Bound -18975.84
5 Upper Bound  71717.84

Number of outliers detected: 0

## Part 3: Data Transformation Part 1 (Lesson 3)

**Skills Assessed:** select(), filter(), arrange(), pipe operator

**Your Tasks:**
1. Select specific columns
2. Filter data by conditions
3. Sort data
4. Chain operations with pipe

In [9]:
# Task 3.1: Select Specific Columns
# TODO: Create 'sales_summary' with only these columns from sales_clean:
#   Region, Product_Category, Revenue, Units_Sold, Sale_Date


sales_summary <- sales_clean %>%
  # Your code here:
  group_by(Region, Product_Category) %>%
  summarise(
    Total_Revenue = sum(Revenue, na.rm = TRUE),
    Total_Units_Sold = sum(Units_Sold, na.rm = TRUE),
    Average_Revenue = mean(Revenue, na.rm = TRUE),
    Average_Units_Sold = mean(Units_Sold, na.rm = TRUE)
  ) %>%
  ungroup()

cat("========== SELECTED COLUMNS ==========\n")
cat("Columns:", names(sales_summary), "\n")
cat("Rows:", nrow(sales_summary), "\n")
head(sales_summary, 5)

`summarise()` has grouped output by 'Region'. You can override using the
`.groups` argument.

========== SELECTED COLUMNS ==========
Columns: Region Product_Category Total_Revenue Total_Units_Sold Average_Revenue Average_Units_Sold
Rows: 16

  Region       Product_Category Total_Revenue Total_Units_Sold Average_Revenue
1 Asia Pacific Consulting       759640.6      1578             28134.84
2 Asia Pacific Hardware         271979.1       522             27197.91
3 Asia Pacific Services         331825.8       532             22121.72
4 Asia Pacific Software         440797.1       839             29386.48
5 Europe       Consulting       390670.3       685             27905.02
  Average_Units_Sold
1 58.44444
2 52.20000
3 35.46667
4 55.93333
5 48.92857

In [10]:
# Task 3.2: Filter High Revenue Sales
# TODO: Create 'high_revenue_sales' by filtering sales_clean for Revenue > 20000


high_revenue_sales <- sales_clean %>%
  # Your code here:
  filter(Revenue > 20000)

cat("========== HIGH REVENUE SALES ==========\n")
cat("Total high revenue transactions:", nrow(high_revenue_sales), "\n")
cat("Total revenue from these sales: $", sum(high_revenue_sales$Revenue), "\n")

========== HIGH REVENUE SALES ==========
Total high revenue transactions: 194
Total revenue from these sales: $ 6671906

In [11]:
# Task 3.3: Sort by Revenue
# TODO: Create 'top_sales' by arranging sales_clean by Revenue in descending order
#       and keeping only the top 10 rows


top_sales <- sales_clean %>%
  # Your code here:
  arrange(desc(Revenue)) %>%
  slice_head(n = 10)

cat("========== TOP 10 SALES ==========\n")
print(top_sales %>% select(Region, Product_Category, Revenue, Units_Sold))

========== TOP 10 SALES ==========
          Region Product_Category  Revenue Units_Sold
1   Asia Pacific       Consulting 49956.01         88
2         Europe         Software 49866.51         96
3         Europe       Consulting 49856.54          1
4   Asia Pacific       Consulting 49238.97         72
5   Asia Pacific         Hardware 48997.22         92
6  North America         Services 48884.31         62
7         Europe         Software 48793.64         77
8  North America         Hardware 48771.67         16
9  North America       Consulting 48747.95         63
10        Europe       Consulting 48571.74         22

In [12]:
# Task 3.4: Chain Multiple Operations
# TODO: Create 'regional_top_sales' by:
#   1. Filtering for Revenue > 15000
#   2. Selecting: Region, Product_Category, Revenue
#   3. Arranging by Region (ascending) then Revenue (descending)
#   4. Keeping top 15 rows
# Use the pipe operator to chain all operations

regional_top_sales <- sales_clean %>%
  # Your code here:
  filter(Revenue > 15000) %>%
  select(Region, Product_Category, Revenue) %>%
  arrange(Region, desc(Revenue)) %>%
  slice_head(n = 15)

cat("========== REGIONAL TOP SALES ==========\n")
print(regional_top_sales)

========== REGIONAL TOP SALES ==========
         Region Product_Category  Revenue
1  Asia Pacific       Consulting 49956.01
2  Asia Pacific       Consulting 49238.97
3  Asia Pacific         Hardware 48997.22
4  Asia Pacific       Consulting 48063.17
5  Asia Pacific         Services 46731.05
6  Asia Pacific         Software 46615.43
7  Asia Pacific       Consulting 46544.57
8  Asia Pacific       Consulting 45755.79
9  Asia Pacific         Services 45298.38
10 Asia Pacific         Services 44624.16
11 Asia Pacific       Consulting 44454.58
12 Asia Pacific       Consulting 44364.40
13 Asia Pacific         Software 43221.14
14 Asia Pacific         Software 42062.52
15 Asia Pacific         Software 41411.58

## Part 4: Data Transformation Part 2 (Lesson 4)

**Skills Assessed:** mutate(), summarize(), group_by()

**Your Tasks:**
1. Create calculated columns with mutate()
2. Calculate summary statistics
3. Perform grouped analysis
4. Generate business metrics

In [13]:
# Task 4.1: Create Calculated Columns
# TODO: Add these new columns to sales_clean using mutate():
#   - revenue_per_unit: Revenue / Units_Sold
#   - high_value: "Yes" if Revenue > 20000, else "No"
# Store result in 'sales_enhanced'

sales_enhanced <- sales_clean %>%
  mutate(
    # Your code here:
    revenue_per_unit = Revenue / Units_Sold,
    high_value = ifelse(Revenue > 20000, "Yes", "No")
  )

cat("========== ENHANCED SALES DATA ==========\n")
cat("New columns added: revenue_per_unit, high_value\n")
head(sales_enhanced %>% select(Revenue, Units_Sold, revenue_per_unit, high_value), 5)

========== ENHANCED SALES DATA ==========
New columns added: revenue_per_unit, high_value

  Revenue  Units_Sold revenue_per_unit high_value
1 20750.92 78          266.03744       Yes
2 32359.98 13         2489.22923       Yes
3 39268.40 34         1154.95294       Yes
4 28865.09 90          320.72322       Yes
5  3932.36 63           62.41841       No

In [14]:
# Task 4.2: Calculate Overall Summary Statistics
# TODO: Create 'overall_summary' with these metrics from sales_enhanced:
#   - total_revenue: sum of Revenue
#   - avg_revenue: mean of Revenue
#   - total_units: sum of Units_Sold
#   - transaction_count: count using n()


overall_summary <- sales_enhanced %>%
  
  mutate(total_revenue = sum(Revenue, na.rm = TRUE),
    avg_revenue = mean(Revenue, na.rm = TRUE),
    total_units = sum(Units_Sold, na.rm= TRUE),
    transaction_count = n()
    )
 
    # Your code here:
    
  

cat("========== OVERALL SUMMARY ==========\n")
print(overall_summary)

========== OVERALL SUMMARY ==========
    TransactionID Sales_Rep_Name        Region Product_Category  Revenue
1               1    Carol Davis Latin America         Services 20750.92
2               2    Carol Davis        Europe         Hardware 32359.98
3               3    Carol Davis        Europe         Services 39268.40
4               4      Bob Smith        Europe         Hardware 28865.09
5               5   Frank Miller Latin America         Software  3932.36
6               6    Carol Davis Latin America         Services 48209.75
7               7   Frank Miller        Europe         Software 33055.35
8               8  Alice Johnson        Europe       Consulting 49856.54
9               9      Bob Smith        Europe       Consulting 13477.13
10             10      Eva Brown  Asia Pacific         Services 21188.96
11             11    Carol Davis Latin America         Services 24474.26
12             12  Alice Johnson  Asia Pacific         Hardware 48997.22
13             13  Alice Johnson  Asia Pacific       Consulting  8079.98
14             14  Alice Johnson North America       Consulting 15606.39
15             15      Eva Brown North America         Services 30287.40
16             16    Carol Davis Latin America         Services 37277.72
17             17      Eva Brown Latin America         Software 38674.17
18             18    Carol Davis        Europe         Services 44751.74
19             19   David Wilson Latin America         Hardware 38301.63
20             20   David Wilson North America         Hardware  2365.46
21             21      Eva Brown  Asia Pacific       Consulting  8713.33
22             22      Eva Brown        Europe         Hardware 35684.60
23             23    Carol Davis North America       Consulting 48747.95
24             24      Bob Smith        Europe       Consulting  5931.50
25             25    Carol Davis  Asia Pacific         Services  5568.06
26             26      Eva Brown Latin America       Consulting 47637.19
27             27    Carol Davis Latin America         Services 41576.83
28             28    Carol Davis        Europe         Software  5195.86
29             29   Frank Miller North America         Hardware 32028.51
30             30   Frank Miller  Asia Pacific         Services  9565.87
31             31   David Wilson        Europe         Hardware 13660.83
32             32    Carol Davis        Europe         Software 40023.96
33             33      Bob Smith Latin America         Software 29574.11
34             34      Bob Smith        Europe       Consulting 23881.25
35             35    Carol Davis Latin America         Hardware  3110.80
36             36  Alice Johnson  Asia Pacific         Software 22348.26
37             37      Bob Smith North America       Consulting 20434.37
38             38      Bob Smith  Asia Pacific         Hardware 28982.88
39             39      Bob Smith Latin America         Services 14641.30
40             40    Carol Davis        Europe         Hardware  2032.28
41             41   David Wilson North America         Software 20892.25
42             42      Bob Smith North America       Consulting  6683.41
43             43      Eva Brown  Asia Pacific       Consulting 10133.14
44             44   Frank Miller North America         Hardware  5874.23
45             45   Frank Miller Latin America       Consulting 39416.08
46             46    Carol Davis Latin America         Services 27171.60
47             47      Eva Brown Latin America         Software  1948.33
48             48      Bob Smith        Europe         Hardware 46823.46
49             49   Frank Miller North America       Consulting 22288.56
50             50      Eva Brown North America         Software 11261.17
51             51      Bob Smith North America         Hardware 19513.52
52             52  Alice Johnson Latin America         Hardware 14196.10
53             53    Carol Davis North America         Services 31178.48
54             54      Eva Brown North America         Hardware  1031.64
55             55    Carol Davis        Europe         Services 29758.47
56             56  Alice Johnson        Europe         Hardware 32140.98
57             57      Eva Brown Latin America         Services 42280.29
58             58    Carol Davis North America         Services 11471.32
59             59    Carol Davis North America         Services 28811.69
60             60    Carol Davis North America         Hardware 24912.88
61             61   Frank Miller Latin America         Hardware  8426.32
62             62   David Wilson  Asia Pacific       Consulting 20874.86
63             63  Alice Johnson  Asia Pacific       Consulting 44454.58
64             64   Frank Miller        Europe       Consulting 44256.41
65             65      Bob Smith  Asia Pacific       Consulting 21822.14
66             66    Carol Davis North America       Consulting 39425.01
67             67   Frank Miller North America         Services 47896.30
68             68      Bob Smith North America       Consulting 13985.79
69             69      Eva Brown        Europe         Services 32597.22
70             70      Bob Smith        Europe         Hardware 32930.10
71             71    Carol Davis Latin America       Consulting 15695.89
72             72      Eva Brown        Europe         Hardware 42309.80
73             73    Carol Davis North America         Services 32844.64
74             74      Eva Brown  Asia Pacific       Consulting 44364.40
75             75   David Wilson Latin America         Hardware 43481.28
76             76    Carol Davis North America       Consulting 26289.74
77             77      Bob Smith  Asia Pacific       Consulting 35458.70
78             78      Eva Brown Latin America       Consulting  7012.66
79             79      Bob Smith        Europe         Hardware 48042.88
80             80    Carol Davis        Europe         Services 22011.49
81             81   Frank Miller North America         Services 16928.27
82             82      Bob Smith  Asia Pacific         Hardware 14711.84
83             83    Carol Davis Latin America       Consulting 18563.46
84             84  Alice Johnson  Asia Pacific         Services 26932.68
85             85  Alice Johnson  Asia Pacific         Services 24085.11
86             86   David Wilson  Asia Pacific       Consulting 19552.44
87             87  Alice Johnson Latin America         Software 20458.50
88             88  Alice Johnson Latin America       Consulting 25762.53
89             89   Frank Miller North America         Services 31716.90
90             90   Frank Miller  Asia Pacific         Services  9112.40
91             91   Frank Miller Latin America         Software 29452.13
92             92    Carol Davis Latin America         Services 46939.01
93             93    Carol Davis        Europe         Software 48793.64
94             94    Carol Davis  Asia Pacific         Services 46731.05
95             95    Carol Davis Latin America         Services 12524.95
96             96   Frank Miller  Asia Pacific         Services  7745.48
97             97      Bob Smith  Asia Pacific         Hardware 20514.82
98             98   Frank Miller Latin America         Software 36762.72
99             99      Bob Smith Latin America         Software 16604.61
100           100      Eva Brown        Europe         Services 24297.61
101           101   David Wilson Latin America         Services 24396.48
102           102    Carol Davis North America         Hardware  2636.20
103           103      Eva Brown        Europe         Services 46242.15
104           104   David Wilson North America         Software  5832.56
105           105    Carol Davis Latin America         Services  4732.25
106           106    Carol Davis Latin America       Consulting 29116.36
107           107      Bob Smith Latin America         Hardware 20063.93
108           108  Alice Johnson        Europe         Services 30670.54
109           109      Eva Brown Latin America       Consulting 22704.68
110           110   Frank Miller North America         Services 28604.58
111           111      Eva Brown  Asia Pacific         Software 17147.22
112           112   Frank Miller Latin America         Software 18809.91
113           113  Alice Johnson  Asia Pacific       Consulting 36262.11
114           114      Bob Smith North America         Software 21833.06
115           115      Bob Smith        Europe         Services 41604.55
116           116   David Wilson        Europe         Hardware 21932.52
117           117   Frank Miller        Europe         Hardware 11014.48
118           118  Alice Johnson Latin America       Consulting 46768.14
119           119      Eva Brown  Asia Pacific       Consulting 49238.97
120           120    Carol Davis Latin America         Hardware 42101.04
121           121      Bob Smith        Europe         Software 28051.76
122           122      Bob Smith        Europe         Software 17510.62
123           123   David Wilson        Europe         Software 15842.43
124           124   Frank Miller Latin America         Hardware 27637.94
125           125   David Wilson        Europe         Software 38939.91
126           126      Eva Brown  Asia Pacific       Consulting 45755.79
127           127  Alice Johnson North America         Services 22341.72
128           128  Alice Johnson        Europe         Hardware 32950.18
129           129      Bob Smith North America         Hardware 21375.38
130           130  Alice Johnson        Europe         Hardware 23681.71
131           131      Bob Smith  Asia Pacific         Hardware 13203.04
132           132      Bob Smith North America         Hardware 40784.21
133           133      Bob Smith        Europe         Hardware 36289.23
134           134   David Wilson        Europe         Hardware 34164.17
135           135      Bob Smith        Europe         Hardware 32977.22
136           136   David Wilson Latin America         Hardware 37331.69
137           137    Carol Davis Latin America         Hardware 44660.53
138           138      Bob Smith Latin America         Software 44436.06
139           139   Frank Miller North America         Hardware 41707.88
140           140      Eva Brown        Europe       Consulting 45860.91
141           141      Bob Smith        Europe         Services  9434.78
142           142   Frank Miller North America         Services 48884.31
143           143      Bob Smith Latin America         Services 11888.94
144           144  Alice Johnson North America         Software 20765.86
145           145      Bob Smith  Asia Pacific         Software 46615.43
146           146   Frank Miller Latin America         Hardware  7705.79
147           147    Carol Davis Latin America         Services 31530.02
148           148   Frank Miller North America         Hardware 42669.73
149           149   David Wilson Latin America         Software 39619.36
150           150      Eva Brown  Asia Pacific         Hardware 31864.10
151           151   David Wilson        Europe         Hardware  1138.37
152           152  Alice Johnson Latin America         Hardware 16478.35
153           153      Eva Brown Latin America         Software 21650.15
154           154   David Wilson        Europe         Services 17872.61
155           155      Bob Smith Latin America       Consulting  5439.97
156           156   Frank Miller        Europe         Hardware 27623.24
157           157   Frank Miller North America         Software 15699.10
158           158      Eva Brown  Asia Pacific         Software  7541.04
159           159  Alice Johnson  Asia Pacific         Services 45298.38
160           160   Frank Miller        Europe         Software  9879.45
161           161  Alice Johnson  Asia Pacific         Software 41411.58
162           162   David Wilson        Europe         Hardware 37639.78
163           163    Carol Davis North America         Services 44650.15
164           164    Carol Davis        Europe       Consulting 23196.06
165           165      Eva Brown Latin America         Software  4818.22
166           166  Alice Johnson Latin America         Services  2713.24
167           167  Alice Johnson North America         Software 19394.83
168           168  Alice Johnson  Asia Pacific         Hardware 33606.49
169           169   David Wilson Latin America         Services 47652.31
170           170  Alice Johnson        Europe         Software  2365.11
171           171      Bob Smith        Europe       Consulting 48571.74
172           172      Eva Brown North America         Software  7767.83
173           173      Bob Smith  Asia Pacific       Consulting  1356.52
174           174   David Wilson North America       Consulting 34172.27
175           175  Alice Johnson North America         Software 15023.83
176           176      Bob Smith North America       Consulting 28903.04
177           177  Alice Johnson North America       Consulting 39486.80
178           178   David Wilson  Asia Pacific       Consulting 21620.83
179           179      Eva Brown  Asia Pacific       Consulting 26882.51
180           180  Alice Johnson        Europe         Hardware 15141.02
181           181   David Wilson        Europe         Hardware 48529.15
182           182      Eva Brown Latin America       Consulting 29110.94
183           183   David Wilson        Europe         Software 20424.52
184           184   Frank Miller Latin America         Software 11550.64
185           185  Alice Johnson Latin America         Software  2701.57
186           186    Carol Davis        Europe         Software 28025.31
187           187   David Wilson North America       Consulting 22905.77
188           188  Alice Johnson North America         Software 30327.60
189           189   Frank Miller  Asia Pacific         Hardware 34215.71
190           190   David Wilson North America         Hardware 40611.72
191           191    Carol Davis Latin America         Software 15183.11
192           192      Bob Smith  Asia Pacific         Services 12416.94
193           193   Frank Miller  Asia Pacific       Consulting 41204.14
194           194      Eva Brown        Europe         Software 12949.55
195           195      Eva Brown Latin America         Hardware 42608.47
196           196      Eva Brown Latin America         Software 16546.51
197           197   Frank Miller Latin America       Consulting 31933.54
198           198    Carol Davis        Europe         Software 12628.60
199           199   Frank Miller Latin America         Software 35001.85
200           200   Frank Miller  Asia Pacific         Software 21596.18
201           201      Eva Brown  Asia Pacific         Software 43221.14
202           202  Alice Johnson North America         Software 44498.19
203           203  Alice Johnson        Europe         Services 28569.73
204           204   Frank Miller  Asia Pacific         Software 34506.39
205           205    Carol Davis  Asia Pacific         Services 44624.16
206           206   Frank Miller North America         Hardware 46997.37
207           207   Frank Miller  Asia Pacific         Services  2008.91
208           208      Bob Smith  Asia Pacific       Consulting 48063.17
209           209      Eva Brown        Europe         Software 26496.89
210           210    Carol Davis North America         Services  8551.45
211           211      Eva Brown Latin America         Software 35078.65
212           212      Bob Smith        Europe         Services 32328.92
213           213   Frank Miller  Asia Pacific         Software 42062.52
214           214    Carol Davis  Asia Pacific       Consulting 24735.46
215           215   David Wilson Latin America         Software 46567.16
216           216  Alice Johnson North America       Consulting  4768.14
217           217  Alice Johnson North America         Hardware 25679.06
218           218   David Wilson Latin America         Software 16395.58
219           219   Frank Miller        Europe       Consulting 18645.24
220           220  Alice Johnson        Europe         Hardware 41970.17
221           221   Frank Miller        Europe         Software 40968.79
222           222    Carol Davis  Asia Pacific         Hardware 16196.01
223           223   Frank Miller  Asia Pacific       Consulting 17100.87
224           224   Frank Miller        Europe         Software 18689.75
225           225    Carol Davis        Europe         Hardware 34840.81
226           226      Eva Brown  Asia Pacific         Software 17480.67
227           227      Eva Brown        Europe         Software 24497.76
228           228  Alice Johnson North America         Software  3424.84
229           229  Alice Johnson North America         Software 41837.60
230           230  Alice Johnson  Asia Pacific       Consulting 49956.01
231           231    Carol Davis  Asia Pacific         Hardware 29686.98
232           232   Frank Miller Latin America         Hardware 38269.04
233           233      Bob Smith  Asia Pacific       Consulting 22384.30
234           234   David Wilson Latin America       Consulting 43320.02
235           235    Carol Davis Latin America       Consulting  3305.34
236           236   Frank Miller  Asia Pacific         Software 16557.15
237           237   Frank Miller North America         Services 29540.31
238           238      Bob Smith        Europe       Consulting 15615.46
239           239      Bob Smith  Asia Pacific       Consulting 25834.34
240           240  Alice Johnson North America         Services 29563.08
241           241      Eva Brown Latin America         Software 32842.14
242           242      Bob Smith North America         Hardware 48771.67
243           243      Eva Brown        Europe       Consulting 42450.92
244           244  Alice Johnson Latin America         Services 36159.45
245           245  Alice Johnson Latin America         Hardware 14115.33
246           246   Frank Miller North America       Consulting  6689.77
247           247    Carol Davis        Europe       Consulting  5676.57
248           248      Eva Brown North America         Software 33575.05
249           249      Eva Brown        Europe         Services 29302.18
250           250      Eva Brown Latin America         Hardware 16958.64
251           251  Alice Johnson        Europe         Services 12640.46
252           252   David Wilson North America       Consulting 33732.51
253           253  Alice Johnson  Asia Pacific         Software 33885.52
254           254      Bob Smith  Asia Pacific       Consulting 27845.44
255           255   Frank Miller        Europe         Software 22849.46
256           256    Carol Davis        Europe         Software  9541.31
257           257   Frank Miller North America       Consulting  4477.17
258           258  Alice Johnson        Europe         Hardware 24590.50
259           259  Alice Johnson Latin America       Consulting 13604.60
260           260  Alice Johnson Latin America         Hardware 38187.30
261           261      Bob Smith  Asia Pacific         Services 27211.41
262           262   Frank Miller Latin America       Consulting  3438.23
263           263    Carol Davis  Asia Pacific         Software 35969.28
264           264    Carol Davis        Europe         Hardware 34317.48
265           265    Carol Davis        Europe         Services 45312.95
266           266   David Wilson  Asia Pacific         Services 11424.90
267           267   Frank Miller  Asia Pacific       Consulting 41219.67
268           268   Frank Miller  Asia Pacific       Consulting 46544.57
269           269  Alice Johnson Latin America         Services 31024.21
270           270  Alice Johnson Latin America         Software 37137.04
271           271      Bob Smith Latin America         Software  3866.48
272           272    Carol Davis North America         Hardware  6905.83

In [15]:
# Task 4.3: Regional Performance Analysis
# TODO: Create 'regional_summary' by grouping sales_enhanced by Region
#       and calculating:
#   - total_revenue: sum of Revenue
#   - avg_revenue: mean of Revenue
#   - transaction_count: count using n()
# Then arrange by total_revenue descending
# Hint: Use group_by() %>% summarize() %>% arrange()

regional_summary <- sales_enhanced %>%
  # Your code here:
group_by(Region) %>%
summarize(total_revenue = sum(Revenue, na.rm = TRUE),
    avg_revenue = mean(Revenue, na.rm = TRUE),
    transaction_count = n()
    ) %>%
arrange(desc(total_revenue))

cat("========== REGIONAL SUMMARY ==========\n")
print(regional_summary)

========== REGIONAL SUMMARY ==========

# A tibble: 4 Ã— 4
  Region        total_revenue avg_revenue transaction_count
  <chr>                 <dbl>       <dbl>             <int>
1 Europe             2224182.      27124.                82
2 Latin America      2112037.      25446.                83
3 Asia Pacific       1804243.      26929.                67
4 North America      1631248.      23989.                68

In [16]:
# Task 4.4: Product Category Analysis
# TODO: Create 'category_summary' by grouping by Product_Category
#       and calculating the same metrics as regional_summary
#       Then arrange by total_revenue descending

category_summary <- sales_enhanced %>%
  # Your code here:
  group_by(Product_Category) %>%
  summarize(
    total_revenue = sum(Revenue, na.rm = TRUE),
    avg_revenue = mean(Revenue, na.rm = TRUE),
    transaction_count = n()
  ) %>%
  arrange(desc(total_revenue))

cat("========== CATEGORY SUMMARY ==========\n")
print(category_summary)

========== CATEGORY SUMMARY ==========
# A tibble: 4 Ã— 4
  Product_Category total_revenue avg_revenue transaction_count
  <chr>                    <dbl>       <dbl>             <int>
1 Consulting            1978840.      26037.                76
2 Services              1961565.      27244.                72
3 Hardware              1951325.      26730.                73
4 Software              1879981.      23797.                79

## Part 5: Data Reshaping with tidyr (Lesson 5)

**Skills Assessed:** pivot_longer(), pivot_wider(), tidy data principles

**Your Tasks:**
1. Reshape data from wide to long format
2. Reshape data from long to wide format
3. Create analysis-ready datasets

In [17]:
# Task 5.1: Create Wide Format Data
# First, create a summary by Region and Product_Category
region_category_revenue <- sales_enhanced %>%
  group_by(Region, Product_Category) %>%
  summarize(total_revenue = sum(Revenue), .groups = 'drop')

cat("========== REGION-CATEGORY DATA (LONG FORMAT) ==========\n")
print(head(region_category_revenue, 10))

========== REGION-CATEGORY DATA (LONG FORMAT) ==========
# A tibble: 10 Ã— 3
   Region        Product_Category total_revenue
   <chr>         <chr>                    <dbl>
 1 Asia Pacific  Consulting             759641.
 2 Asia Pacific  Hardware               271979.
 3 Asia Pacific  Services               331826.
 4 Asia Pacific  Software               440797.
 5 Europe        Consulting             390670.
 6 Europe        Hardware               777044.
 7 Europe        Services               513507.
 8 Europe        Software               542961.
 9 Latin America Consulting             433397.
10 Latin America Hardware               474257.

In [18]:
# Task 5.2: Reshape to Wide Format
# TODO: Create 'revenue_wide' by pivoting region_category_revenue
#       so that Product_Category values become column names
#       with total_revenue as the values


revenue_wide <- region_category_revenue %>%
  # Your code here:
  pivot_wider(
    names_from = Product_Category,
    values_from = total_revenue
    )
  

cat("========== REVENUE DATA (WIDE FORMAT) ==========\n")
print(revenue_wide)

========== REVENUE DATA (WIDE FORMAT) ==========
# A tibble: 4 Ã— 5
  Region        Consulting Hardware Services Software
  <chr>              <dbl>    <dbl>    <dbl>    <dbl>
1 Asia Pacific     759641.  271979.  331826.  440797.
2 Europe           390670.  777044.  513507.  542961.
3 Latin America    433397.  474257.  644772.  559611.
4 North America    395132.  428046.  471460.  336611.

In [19]:
# Task 5.3: Reshape Back to Long Format
# TODO: Create 'revenue_long' by pivoting revenue_wide back to long format
#       Column names (except Region) should go into 'Product_Category'
#       Values should go into 'revenue'


revenue_long <- revenue_wide %>%
  # Your code here:
  pivot_longer(
    cols = -Region,
    names_to = "Product_Category",
    values_to = "Revenue"
  )

cat("========== REVENUE DATA (BACK TO LONG FORMAT) ==========\n")
print(head(revenue_long, 10))

========== REVENUE DATA (BACK TO LONG FORMAT) ==========
# A tibble: 10 Ã— 3
   Region        Product_Category Revenue
   <chr>         <chr>              <dbl>
 1 Asia Pacific  Consulting       759641.
 2 Asia Pacific  Hardware         271979.
 3 Asia Pacific  Services         331826.
 4 Asia Pacific  Software         440797.
 5 Europe        Consulting       390670.
 6 Europe        Hardware         777044.
 7 Europe        Services         513507.
 8 Europe        Software         542961.
 9 Latin America Consulting       433397.
10 Latin America Hardware         474257.

## Part 6: Combining Datasets with Joins (Lesson 6)

**Skills Assessed:** left_join(), inner_join(), data integration

**Your Tasks:**
1. Join customers with orders
2. Join orders with order_items
3. Create integrated dataset

In [20]:
# Task 6.1: Join Customers and Orders
# TODO: Create 'customer_orders' by left joining customers with orders
#       Join on CustomerID


customer_orders <- left_join(customers, orders, by = "CustomerID")


cat("========== CUSTOMER ORDERS ==========\n")
cat("Total rows:", nrow(customer_orders), "\n")
cat("Columns:", ncol(customer_orders), "\n")

========== CUSTOMER ORDERS ==========
Total rows: 200
Columns: 8

In [21]:
# Task 6.2: Join Orders and Order Items
# TODO: Create 'orders_with_items' by inner joining orders with order_items
#       Join on OrderID


orders_with_items <- inner_join(orders, order_items, by = "OrderID")


cat("========== ORDERS WITH ITEMS ==========\n")
cat("Total rows:", nrow(orders_with_items), "\n")
head(orders_with_items, 5)

========== ORDERS WITH ITEMS ==========
Total rows: 400

  OrderID CustomerID Order_Date Total_Amount ProductID Quantity Unit_Price
1 1        87        2023-08-30 424.30        2        3        115.72
2 1        87        2023-08-30 424.30       22        5        206.62
3 1        87        2023-08-30 424.30       26        5         61.75
4 3        37        2024-03-19 549.07       19        1        474.92
5 6       101        2023-07-22 189.85       32        4        272.64

## Part 7: String Manipulation & Date/Time Operations (Lesson 7)

**Skills Assessed:** stringr functions, lubridate functions

**Your Tasks:**
1. Clean text data
2. Parse dates
3. Extract date components

In [26]:
# Task 7.1: Clean Text Data
# TODO: Add these columns to sales_enhanced using mutate():
#   - region_clean: Region with trimmed whitespace and Title Case
#   - category_clean: Product_Category with trimmed whitespace and Title Case


sales_enhanced <- sales_enhanced %>%
  mutate(
    # Your code here:
    region_clean = str_trim(Region),
    region_clean = str_to_title(Region),
    category_clean = str_trim(Product_Category),
    category_clean = str_to_title(Product_Category)
  )

cat("========== CLEANED TEXT DATA ==========\n")
head(sales_enhanced %>% select(Region, region_clean, Product_Category, category_clean), 5)

========== CLEANED TEXT DATA ==========

  Region        region_clean  Product_Category category_clean
1 Latin America Latin America Services         Services
2 Europe        Europe        Hardware         Hardware
3 Europe        Europe        Services         Services
4 Europe        Europe        Hardware         Hardware
5 Latin America Latin America Software         Software

In [33]:
# Task 7.2: Parse Dates and Extract Components
# TODO: Add these date-related columns using mutate():
#   - date_parsed: Parse Sale_Date column (use ymd(), mdy(), or dmy() as appropriate)
#   - sale_month: Extract month name from date_parsed
#   - sale_weekday: Extract weekday name from date_parsed


sales_enhanced <- sales_enhanced %>%
  mutate(
    # Your code here:
    date_parsed = ymd(Sale_Date),
    sale_month = month(date_parsed, label = TRUE, abbr = FALSE),
    sale_weekday = wday(date_parsed, label = TRUE, abbr = FALSE)
  )

cat("========== DATE COMPONENTS ==========\n")
head(sales_enhanced %>% select(Sale_Date, date_parsed, sale_month, sale_weekday), 5)

========== DATE COMPONENTS ==========

  Sale_Date  date_parsed sale_month sale_weekday
1 2023-04-24 2023-04-24  April      Monday
2 2023-06-09 2023-06-09  June       Friday
3 2023-03-25 2023-03-25  March      Saturday
4 2023-04-11 2023-04-11  April      Tuesday
5 2023-08-26 2023-08-26  August     Saturday

## Part 8: Advanced Wrangling & Business Intelligence (Lesson 8)

**Skills Assessed:** case_when(), complex logic, KPIs

**Your Tasks:**
1. Create business categories with case_when()
2. Calculate KPIs
3. Generate executive summary

In [34]:
# Task 8.1: Create Performance Categories
# TODO: Add 'performance_tier' column using case_when():
#   - "High" if Revenue > 25000
#   - "Medium" if Revenue > 15000
#   - "Low" otherwise

sales_enhanced <- sales_enhanced %>%
  mutate(
    performance_tier = case_when(
      # Your code here:
      Revenue > 25000 ~ "High",
      Revenue > 15000 ~ "Medium",
      TRUE ~ "Low"
    )
  )

cat("========== PERFORMANCE TIERS ==========\n")
table(sales_enhanced$performance_tier)

========== PERFORMANCE TIERS ==========

  High    Low Medium
   154     74     72

In [35]:
# Task 8.2: Calculate Business KPIs
# TODO: Create 'business_kpis' with these metrics:
#   - total_revenue: sum of Revenue
#   - total_transactions: count of rows
#   - avg_transaction_value: mean of Revenue
#   - high_value_pct: percentage where high_value = "Yes"

business_kpis <- sales_enhanced %>%
  summarize(
    # Your code here:
    total_revenue = sum(Revenue, na.rm = TRUE),
    total_transactions = n(),
    avg_transaction_value = mean(Revenue, na.rm = TRUE),
    high_value_pct = mean(high_value == "Yes") * 100
  )

cat("========== BUSINESS KPIs ==========\n")
print(business_kpis)

========== BUSINESS KPIs ==========
  total_revenue total_transactions avg_transaction_value high_value_pct
1       7771711                300               25905.7       64.66667

## Part 9: Reflection Questions

Answer the following questions based on your analysis.

### Question 9.1: Data Cleaning Impact

**How did handling missing values and outliers affect your analysis? Why is data cleaning important before performing business analysis?**

Your answer here: The data cleaning increased accuracy of the data. Cleaning data is important because it ensures that the data I am using for analysis is reliable.

### Question 9.2: Grouped Analysis Value

**What insights did you gain from the regional and category summaries that you couldn't see in the raw data? How can businesses use this type of grouped analysis?**

Your answer here: The regional analysis allowed me to see that the Asia Pacific region had at least the top 15 highest revenues. A business can use this data to see what regions are performing the best. This can also allow the business to see what regions they need to give more resources to improve their performance.

### Question 9.3: Data Reshaping Purpose

**Why would you need to reshape data between wide and long formats? Provide a business scenario where each format would be useful.**

Your answer here: The wide format is useful for reporting purposes where you want to see all metrics side by side for comparison. The long format is useful for analysis and visualization.

### Question 9.4: Joining Datasets

**What is the difference between left_join() and inner_join()? When would you use each one in a business context?**

Your answer here: A left_join() is when you want only the data from the right table that matched any of the data on the left table. An inner_join() is when you want only the data that matches from both tables.

### Question 9.5: Skills Integration

**Which R data wrangling skill (from Lessons 1-8) do you think is most valuable for business analytics? Why?**

Your answer here: I think that the trimming and the joins were the most valuable. They seem to be the ones that I would use most in business analytics. The trimming would allow me to clean any data given to me and the joins will allow me to easily combine datasets for analysis.

## Exam Complete!

### What You've Demonstrated

âœ… **Lesson 1:** R basics and data import
âœ… **Lesson 2:** Data cleaning (missing values & outliers)
âœ… **Lesson 3:** Data transformation (select, filter, arrange)
âœ… **Lesson 4:** Advanced transformation (mutate, summarize, group_by)
âœ… **Lesson 5:** Data reshaping (pivot_longer, pivot_wider)
âœ… **Lesson 6:** Combining datasets (joins)
âœ… **Lesson 7:** String manipulation & date/time operations
âœ… **Lesson 8:** Advanced wrangling & business intelligence

### Submission Checklist

Before submitting, ensure:
- [ ] All code cells run without errors
- [ ] All TODO sections completed
- [ ] All required dataframes created with correct names
- [ ] All 5 reflection questions answered
- [ ] Student name and ID filled in at top

**Good work! ðŸŽ‰**